
.error {
   background-color: pink;
   color: red;
}

.popup_form_json {
    display: block;
    background-color: white;
    position: absolute;
    z-index: 33;
    left: 0;
    top: 2em;
    /* border: 2px solid black; */
    outline: 1px solid grey;
    margin: 2px;
    padding: 1em;
    opacity: 1;
    width: 60em;
    box-shadow: 10px 10px 20px grey;
}

.nfiles_input{
  width: 30% !important;
  padding: 5px;
  margin-right: 10px;
}


.popup_form_json table {
    width: 90%;
}

.popup_form_json h3 {
    margin-top: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  background-color: lightcyan;
}
::-moz-placeholder { /* Firefox 19+ */
  background-color: lightcyan;
}
:-ms-input-placeholder { /* IE 10+ */
  background-color: lightcyan;
}
:-moz-placeholder { /* Firefox 18- */
  background-color: lightcyan;
}
