.paging-nav {
    text-align: left;
}
.paging-nav a{
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    background: #00B5AD;
    color: #FFFFFF;
    border-radius: 3px;
}
.paging-nav .selected-page{
    background: #009c95;
    font-weight: bold;
}
.paging-nav, #tableData {
    margin: 0 auto;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}