.*
!.gitignore
!.reviewboardrc
CVS
*~
.#*
/build/*
*.log
*.pyc
*.bck
*.bak
*.old
*.out
*.cache
*orig
*.py-*
*.txt*
*.diff
poms.dbs
*.swp
*.ini

*.conf
*.cfg
.DS_Store
__pycache__

poms.egg-info/

tmp
tmp/*

.data_dispatcher_worker_id

alma9_setup

bin/db_equalizer.py
bin/db_equalizing_script.sql
fife_wrap
fife_wrap.py
docs/internals

/test/data/*
test/set_hypot_config_shrek

/poms_config


/poms_client/bin/setup.cfg
/poms_client/bin/client.cfg

submission_broker/submission_broker_uwsgi.ini
submission_broker/config/submission_broker_uwsgi_config.ini
submission_broker/config/submission_agent.cfg
submission_broker/records/queue.json
submission_broker/records/results.json
submission_broker/records/results.json.lock
submission_broker/records/queue.json.lock
submission_broker/config/old/submission_agent.cfg
submission_broker/config/*


webservice/config/shrek.toml


test/rucio_metacat_sample_dataset_generator/rucio_client.py
documentation

config/shrek/dune-data-dispatcher.sh

