.*
!.gitignore
!.reviewboardrc
CVS
*~
.#*
/build/*
*.log
*.pyc
*.bck
*.bak
*.old
*.out
*.cache
*orig
*.py-*
*.txt*
*.diff
poms.dbs
*.swp
*.ini
*.cfg
/poms_client/bin/client.cfg
/submission_broker/submission_agent.cfg
*.conf
/poms_config
/test/data/*
poms.egg-info/
docs/internals
tmp
.DS_Store
.data_dispatcher_worker_id
__pycache__
fife_wrap.py
fife_wrap
submission_broker/submission_broker_uwsgi.ini
submission_broker/config/submission_broker_uwsgi_config.ini
submission_broker/config/submission_agent.cfg
test/rucio_metacat_sample_dataset_generator/rucio_client.py
bin/db_equalizer.py
bin/db_equalizing_script.sql
documentation
