.*
!.gitignore
!.reviewboardrc
CVS
*~
.#*
/build/*
*.log
*.pyc
*.bck
*.bak
*.old
*.out
*.cache
*orig
*.py-*
*.txt*
*.diff
poms.dbs
*.swp
*.ini
/poms_client/bin/setup.cfg
/poms_client/bin/client.cfg
/submission_broker/submission_agent.cfg
*.conf
/poms_config
/test/data/*
poms.egg-info/
tmp
.DS_Store
__pycache__
alma9_setup
fife_wrap.py
bin/db_equalizer.py
bin/db_equalizing_script.sql
config/shrek/dune-data-dispatcher.sh
submission_broker/config/submission_agent.cfg
submission_broker/config/old/submission_agent.cfg
submission_broker/records/queue.json
submission_broker/records/queue.json.lock
submission_broker/records/results.json
submission_broker/records/results.json.lock
test/set_hypot_config_shrek
webservice/config/shrek.toml
