{%extends "layout.html" %}

{%block title%}
    <title>Pending files for Jobs</title>
{%endblock%}

{%block breadcrumbs%}
    <div class="item">
       Dashboard  <!--label of current location on mobile-->
    </div>
    <div class="item">
      Pending Files<!--label of current location on mobile-->
    </div>
{%endblock%}

{%block header%}
<h1 class="ui header">
         Pending Files {%include 'help_button.html'%}
</h1>
<div class="ui basic label">
  <i class="wait icon"></i>  <div class="tmin" style="display:inline;"></div> to <div class="tmax" style="display:inline;"></div>
</div>
{%endblock%}




{%block subheader%}
<a href="{{prev}}">&lt;previous {{tdays}} days</a> | 
<a href="{{next}}">next {{tdays}} days &gt;</a>
{%endblock%}



{%block content %}

Pending files for:

     {% if campaign_id is not none %}
        Campaign Stage {{c.name}}
     {% elif task_id is not none %}
       Submissions(s) {{jjid}}
     {% elif job_id is not none %}
       Job(s) {{jjid}}
     {% endif %}
<br>

Projects involved
<div class="ui raised padded text container segment">
{% for t in tasklist %}
<div class="item">
<div class="ui list">
<a href="http://samweb.fnal.gov:8480/station_monitor/{{c.experiment}}/stations/{{c.experiment}}/projects/{{t.project}}">{{t.project}}</a>
<a href="show_task_jobs?task_id={{t.task_id}}&tmax={{t.updated.strftime('%Y-%m-%d %H:%M:%S')}}">[task]</a>
</div>
</div>
{%endfor%}
</div>
</div>

Files without children with version {{c.software_version}}:
<div class="ui raised padded text container segment">
<div class="ui list">
{% for f in flist %}
<div class="item"> {{f}} </div>
{%endfor%}
</div>
</div>

<script>
var tmin_local_time = moment.utc('{{tmin}}').toDate();
tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmin" ).html( tmin_local_time );

var tmax_local_time = moment.utc('{{tmax}}').toDate();
tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmax" ).html( tmax_local_time );
</script>




<script>
$(function() {
    $('#global_datepicker_container').show();
});
</script>

{%endblock%}
