{%extends "layout.html"%}

{%block title%}
    <title>POMS DB Admin</title>
{%endblock%}

{%block breadcrumbs%}
    <div class="item">
       Dashboard  <!--label of current location on mobile-->
    </div>
    <div class="item">
      POMS DB Admin <!--label of current location on mobile-->
    </div>
{%endblock%}





{%block header%}
<h1 class="ui header">
     POMS DB ADMIN                                 
    <div class="sub header">
        update database tables directly
    </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">Data Types:</h2>
{%endblock%}




{%block content%}
<ul>
   {% for type in list %}
    <li> <a href="/poms/list_generic?classname={{type}}">{{type}}</a> </li>
   {% endfor %}
</ul>
{%endblock%}
