{%extends "layout.html"%}

{%block title%}
    <title>POMS Downtime Calendar</title>
{%endblock%}

{%block breadcrumbs%}
    <div class="item">
       Dashboard  <!--label of current location on mobile-->
    </div>
    <div class="item">
      POMS Downtime Calendar <!--label of current location on mobile-->
    </div>
{%endblock%}





{%block header%}
<h1 class="ui header">
     POMS Downtime Calendar                               
    <div class="sub header">
        view service downtimes
    </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">Downtimes:</h2>
{%endblock%}




{%block content%}

<script>

	$(document).ready(function() {




                var date = new Date();

		
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				//right: 'month,basicWeek,basicDay'
                                right: 'month,basicWeek,agendaDay'
			},
                        defaultDate: date,
			editable: true,
			eventLimit: true, // allow "more" link when too many events
                        events:'/poms/calendar_json',
                        allDaySlot: false,
			selectable: true,
			selectHelper: true,
                        slotDuration: '00:05:00',
                        timezone: 'UTC',




                        //CREATE EVENT HERE
			select: function(start, end) {
				var title = prompt('Event Title:');


				if (title) {


                                        $.post("/poms/add_event", {title: title, start: start/1000, end: end/1000}, 
                                                  function(data){
                                                      alert(data);
                                                      if(data == "Ok.")
                                                      {
                                                          //$('#calendar').fullCalendar('refetchEvents');

                                                          calendar.fullCalendar('renderEvent',
                                                                  {
                                                                          title: title,
                                                                          start: start,
                                                                          end: end,
                                                                  },
                                                                  true // make the event "stick"
                                                          );

                                             
                                                      }
                            
                                                      else
                                                      {
                                                        alert("Something went wrong, please try again.  Use something like DCache or gm2_sam.");
                                                      }


                                                  });  //ends post



				}  //ends if title statement
				calendar.fullCalendar('unselect');
			},  //ends select function(






                        //EDIT EVENT HERE

			eventClick: function(event, element) {
                           if(event.editable == 'true')
                           {

     			      // event.title = "CLICKED!";
                              // calendar.fullCalendar('updateEvent', event);


                               var title = prompt('Event Title:', event.title);
                               if(title === null || title == ""){return;}
                               var start = prompt('Event Start:', event.start);
                               if(start === null || start == ""){return;}
                               var end = prompt('Event End:', event.end);
                               if(end === null || end == ""){return;}

                               if (title !== null && start !==null && end !== null) {

                                  //alert(title);
                                  //alert(start);
                                  //alert(end);

                                  var new_start_epoch = moment(start).unix();
                                  var end_epoch = moment(end).unix();

                                  //remember that we are using starttime and serviceid as primary key
                                  //so be sure to pass in the original start key

                                  $.post("/poms/edit_event", {title: title, start: event.start_key, new_start: new_start_epoch, end: end_epoch, s_id:event.id}, 
                                            function(data){
                                                alert(data);
                                                if(data == "Ok.")
                                                {
                                                    $('#calendar').fullCalendar('refetchEvents');
                                             
                                                }
                            
                                                else
                                                {
                                                  alert("Something went wrong, please try again.");
                                                }


                                  });  //ends post



                               }  //ends if title statement
                               calendar.fullCalendar('unselect');

                           }  //ends if event.editable == true

                           else
                           {
                               alert("This is not editable.");
                           }

			},  //ends eventClick




                        //DRAG AND DROP
			eventDrop: function(event, revertFunc) {
                           if(event.editable == 'true')
                               {
        		    	    //alert(event.title + " was dropped on " + event.start.format());

        			    if (!confirm("Are you sure about this change?")) {
                                          alert("you canceled");
                                      //     revertFunc();
                                          $('#calendar').fullCalendar('refetchEvents');  //???
                                        //    $('#calendar').fullCalendar('unselect');  //???
        			    }


                                    else
                                    {

                                       var new_start_epoch = moment(event.start).unix();
                                       var end_epoch = moment(event.end).unix();

                                       $.post("/poms/edit_event", {title: event.title, start: event.start_key, new_start: new_start_epoch, end: end_epoch, s_id:event.id}, 
                                               function(data){
                                                   alert(data);
                                                   if(data == "Ok.")
                                                   {
                                                       $('#calendar').fullCalendar('refetchEvents');
                                             
                                                   }
                             
                                                   else
                                                   {
                                                     alert("Something went wrong, please try again.");
                                                   }


                                     });  //ends post


                                    }  //ends else

                               }  //ends if event.editable
                               else
                               {
                                   alert("This item is not editable.");

                                   //revertFunc();
                                   //$('#calendar').fullCalendar('unselect');
                                   $('#calendar').fullCalendar('refetchEvents');
                               }

			},  //ends drag and drop






                        //EVENT RESIZE
                        eventResize: function(event, revertFunc) {
                           if(event.editable == 'true')
                           {

                                //alert(event.title + " was dropped on " + event.start.format());

                                if (!confirm("Are you sure about this change?")) {
                                      alert("you canceled");
                                       $('#calendar').fullCalendar('refetchEvents');
                                      //revertFunc();
                                }


                                else
                                {
                                   var new_start_epoch = moment(event.start).unix();
                                   var end_epoch = moment(event.end).unix();

                                   $.post("/poms/edit_event", {title: event.title, start: event.start_key, new_start: new_start_epoch, end: end_epoch, s_id:event.id},
                                           function(data){
                                               alert(data);
                                               if(data == "Ok.")
                                               {
                                                   $('#calendar').fullCalendar('rerenderEvents');

                                               }

                                               else
                                               {
                                                 alert("Something went wrong, please try again.");
                                               }


                                   });  //ends post


                                }  //ends else

                           }  //ends if event.editable
                           else
                           {
                              alert("This item is not editable.");
                              //revertFunc();
                              //$('#calendar').fullCalendar('unselect');
                              $('#calendar').fullCalendar('refetchEvents');
                           }

                        },  //ends resize






		});  //ends var calendar = $('#calendar').fullCalendar({
		
	});  //ends dom ready

</script>



<style>

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
</style>





	<div id='calendar'></div>



{%endblock%}
