{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">Info sheet for campaign {{name}}</div>
</div>
{%endblock%}


{%block header%}
<h1 class="ui header">
  Info by day{%include 'help_button.html'%}
</h1>
<div class="ui subheader">
{{days}} Days ending  {{tmax}}
</div>

<a href="{{prev}}">&lt;previous {{days}} days</a> | 
<a href="{{next}}">next {{days}} days &gt;</a>
{%endblock%}


{%block subheader%}
{%endblock%}


{%block content%}
<table class="ui sortable celled collapsing table">
  <thead>
    <tr>
    {%for col in columns%}
       <th class="">
         {% if col[:4] == 'exit' %}
             {% if col|length > 9  %}
                {{col}}<a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/CampaignSheetHelp#exit_signal"><i class="small icon grey help circle  link"></i>
             {% else  %}
                <a href="https://cdcvs.fnal.gov/redmine/projects/offline_production_operations_service/wiki/_{{experiment}}_error_codes_#{{col[5:-1]}}">{{col}}</a><a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/CampaignSheetHelp#exit"><i class="small icon grey help circle link"></i>
             {% endif %}
         {% else %}
             {{col}}<a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/CampaignSheetHelp#{{col|replace(' ','_')}}"><i class="small icon grey help circle link"></i>
         {% endif %}
       </th>
    {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for row in datarows %}
      <tr>
         {%for col in range(0, columns|count) %}
            {% if columns[col][:4] == 'exit' %}
              <td><a href="{{pomspath}}/job_table?user_exe_exit_code={{columns[col][5:-1]}}&tdays=1&tmax={{row[1][:10]}} 23:59:59&campaign_id={{campaign_id}}">{{row[col]}}</a></td>
            {% elif columns[col][:4] == 'jobs' %}
              <td><a href="{{pomspath}}/job_table?tdays=1&tmax={{row[1][:10]}} 23:59:59&campaign_id={{campaign_id}}">{{row[col]}}</a></td>
            {% else %}
              <td>{{row[col]}}</td>
            {% endif %}
         {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>





<script>
$(function() {
    $('#global_datepicker_container').show();
});
</script>
{%endblock%}
