{%extends "layout.html"%}

{%block title%}
    <title>POMS:Campaign {{Campaign_info.Campaign.name}}</title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section"> <a href="{{pomspath}}/show_campaigns">Campaigns</a></div>
  <div class="divider"> / </div>
  <div class="section">{{Campaign_info.Campaign.name}}</div>
</div>	
{%endblock%}


{%block header%}
<h1 class="ui header">
     Campaigns{%include 'help_button.html'%}
</h1>
{%endblock%}

{%block subheader%}
<h2 class="ui dividing header">Campaign {{Campaign_info.Campaign.name}}</h2>
{%endblock%}


{%block content%}

<style>
.ui.search .prompt{border-radius:0.28571429rem}
</style>



<script>
$( document ).ready(function() {





    function do_delete(item)
    {
        var c_id = item.id.split("_")[0];
        var t_id = item.id.split("_")[1];
        var clicked_id = "#"+item.id;
        var experiment = "{{Campaign_info.Campaign.experiment}}";

        $.post('delete_campaigns_tags', {campaign_id: c_id, tag_id: t_id, experiment: experiment}, function(data) {
            if(data.msg == "OK")
            {
                $('#response').html(data.msg);
                $(clicked_id).remove();  //removes the trash can
                $(clicked_id+"_").remove();  //removes the tag

            }
            else
            {
                $('#response').html(data.msg);
            }
        });
    }



    function add_click_handler()
    {
          $( ".poms_tag" ).off("click").on("click", function() {
            if (confirm("Are you sure you want to delete this item?") == true)
            {
               do_delete(this);
            }
            else
            {
              return;
            }
        });
    }

    add_click_handler();



    $('#add_button').on('click', function(e) {
        e.preventDefault();
        $('#response').html("");

        if( !$('#tag_field').val() )
        {
            $('#response').html("Please enter a tag.");
            return;
        }

        tag = $('#tag_field').val()
        $.post('link_tags', {tag_name: tag, campaign_id: {{Campaign_info.Campaign.campaign_id}}, experiment: '{{Campaign_info.Campaign.experiment}}'}, function(data) {

            if(data.msg == "OK")
            {
                var campaigns_tags_composite_key = data.campaign_id.toString() + "_" + data.tag_id.toString();
                $('#response').html(data.msg);

                var new_tag = "<a href=\'{{pomspath}}/search_tags?q=" + data.tag_name + "\' class=\'ui blue tag label\'id=" + campaigns_tags_composite_key + "_>" + data.tag_name + "</a>";
                var new_trash_can = "<i class=\'trash outline icon link poms_tag\' id=" + campaigns_tags_composite_key + "></i>";
                $('#tag_container').append(new_trash_can);
                $('#tag_container').append(new_tag);
                $('#tag_field').val("");
                add_click_handler();
            }
            else
            {
                $('#response').html(data.msg);
            }

        });
    });


    $('#tag_field').keypress(function(event){
        if(event.keyCode == 13)
        {
            $('#add_button').click();
            $('#tag_field').val("");
        }
    });




});


</script>

  <div class="ui segment raised ">


   <table class="ui celled table unstackable">
     <tr>
      <th align="center">Total</th>
      <th colspan=3 align="center">Active Campaign Jobs </th>
      <th colspan=3 align="center">Jobs in {{time_range_string}}</th>
      <th colspan=2 align="center">Stats</th>
     </tr>
     <tr>
        <th>All
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Total_All"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Idle 
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Running
        <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Held
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Completed
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Located
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Removed
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>%Efficiency 
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Pending
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
     </tr>

     {% for c in cl %}
     {% set outer_loop = loop %}
            <tr>
            {% for k in counts_keys[c.campaign_id] %}
              {% if k == "efficiency" %}
                <td>
                  <a href="{{pomspath}}/jobs_eff_histo?campaign_id={{c.campaign_id}}&tmin={{tmins}}&tmax={{tmaxs}}&tdays={{tdays}}">
                   {% if counts[c.campaign_id][k] >= 0 %}
                    {{counts[c.campaign_id][k]}}
                   {% else %}
                    -
                   {% endif %}
                  </a>
                </td>
              {% elif k == "pending" %}
                <td>
                  <a href="{{pomspath}}/show_dimension_files?experiment={{c.experiment}}&dims={{dimlist[outer_loop.index0]}}">
                   {% if counts[c.campaign_id][k] >= 0 %}
                    {{counts[c.campaign_id][k]}}
                   {% else %}
                    -
                   {% endif %}
                  </a>
                </td>
              {% elif k %}
                <td>
                  <a href="{{pomspath}}/job_table?campaign_id={{c.campaign_id}}&job_status={{k}}&tmin={{tmins}}&tmax={{tmaxs}}&tdays={{tdays}}">
                    {{counts[c.campaign_id][k]}}
                  </a>
                  {%if k == "Idle"%}
                    &nbsp; &nbsp;
                    <a href="https://fifemon.fnal.gov/monitor/dashboard/db/why-isnt-my-job-running?var-user={{Campaign_info.Campaign.experiment}}pro"><i class="grey link treatment icon"></i></a>
                  {%endif%}
                 </td>
               {%endif%}
            {% endfor %}
         </tr>

     {% endfor %}

    </table>
  </div>


  <div class="ui horizontal segments">

    <div class="ui segment raised">
         <h3>Actions</h3>
         <div class=menu>
	      <div class=item>
	       <a href="{{pomspath}}/jobs_eff_histo?campaign_id={{Campaign_info.Campaign.campaign_id}}&tmax={{tmaxs}}">
		   <i class="external bar chart icon" data-content="Campaign Jobs Efficiency" data-variation="basic"></i>Job Efficiency Histogram
	       </a>
	      </div>
	      <div class=item>
	       <a href="{{pomspath}}/campaign_sheet?campaign_id={{Campaign_info.Campaign.campaign_id}}&tdays=7">
		<i class="external table icon" data-content="Campaign Spreadsheet" data-variation="basic"></i>Day by Day Spreadsheet (1wk)
	       </a>
	      </div>
	      <div class=item>
	      <a href="{{pomspath}}/campaign_time_bars?campaign_id={{Campaign_info.Campaign.campaign_id}}&tdays=7">
		<i class="external tasks icon" data-content="Submissions for Campaign Time Bars (1wk)" data-variation="basic"></i>Submission Time Bars (1wk)
	      </a>
	      </div>
	      <div class=item>
		<a href="{{pomspath}}/campaign_task_files?campaign_id={{Campaign_info.Campaign.campaign_id}}"><i class="external file icon" data-content="List file statistics for Submissions for Campaign" data-variation="basic"></i>Campaign Submission Files</a>
	      </div>
	      <div class=item>
		<a href="{{pomspath}}/launch_jobs?campaign_id={{Campaign_info.Campaign.campaign_id}}"><i class="external rocket icon" data-content="Immediately Launch Submissions for Campaign" data-variation="basic"></i>Launch Campaign Jobs Now</a>
	      </div>
	      <div class=item>
		<a href="{{pomspath}}/kill_jobs?campaign_id={{Campaign_info.Campaign.campaign_id}}"><i class="external trash icon" data-content="Kill jobs in Campaign" data-variation="basic"></i>Kill Jobs for Campaign</a>
	       </div>
	      <div class=item>
	      <a href="{{pomspath}}/schedule_launch?campaign_id={{Campaign_info.Campaign.campaign_id}}">
		 <i class="external calendar icon" data-content="Schedule Future Launches" data-variation="basic"></i>Schedule Future Job Launches
	      </a>
	      </div>
	      <div class=item>
              {% if Campaign_info.Campaign.active %}
	      <a href="{{pomspath}}/mark_campaign_active?campaign_id={{Campaign_info.Campaign.campaign_id}}&is_active=False">
		 <i class="external hide icon" data-content="Mark Campaign Inactive" data-variation="basic"></i>Mark Campaign Inactive
	      </a>
              {% else %}
	      <a href="{{pomspath}}/mark_campaign_active?campaign_id={{Campaign_info.Campaign.campaign_id}}&is_active=True">
		 <i class="external unhide icon" data-content="Mark Campaign Active" data-variation="basic"></i>Mark Campaign Active
	      </a>
              {% endif %}
	      </div>
          </div> <!-- class=menu -->
     </div>  <!-- class=ui segment raised -->

   <div class="ui segment raised">
    <h3>Campaign</h3>
    <b>Name</b>: {{Campaign_info.Campaign.name}}<br>
    <b>Experiment</b>: {{Campaign_info.Campaign.experiment}}<br>
    <b>Dataset</b>: {{Campaign_info.Campaign.dataset}}<br>
    <b>Software Version</b>: {{Campaign_info.Campaign.software_version}}<br>
    <b>Created</b>: {{Campaign_info.Campaign.created}}<br>
    <b>Creator</b>: {{Campaign_info.Experimenter.email}}</br>
    <b>VO Role</b>: {{Campaign_info.Campaign.vo_role}}<br>
    <b>Param Overrides</b>: {{Campaign_info.Campaign.param_overrides}}<br>
    <b>cs_split_type</b>: {{Campaign_info.Campaign.cs_split_type}}<br>
    <b>cs_split_dimensions</b>: {{Campaign_info.Campaign.cs_split_dimensions}}<br>
    <b>cs_last_split</b>: {{Campaign_info.Campaign.cs_last_split}}<br>
    <b>Active</b>: {{Campaign_info.Campaign.active}} 
    </div>

  </div>

     <div class="ui segment raised ">
    <h3>Job Type</h3>

    <b>Name</b>: {{Campaign_definition_info.CampaignDefinition.name}}<br>
    <!--<b>experiment</b>: {{Campaign_definition_info.CampaignDefinition.experiment}}<br>-->
    <b>Creator</b>: {{Campaign_definition_info.Experimenter.email}}<br>
    <b>Created</b>: {{Campaign_definition_info.CampaignDefinition.created}}<br>
    <b>Launch Script</b>: {{Campaign_definition_info.CampaignDefinition.launch_script}}<br>
    <b>Definition Parameters</b>: {{Campaign_definition_info.CampaignDefinition.definition_parameters}}<br>
    <b>Input Files Per Job</b>: {{Campaign_definition_info.CampaignDefinition.input_files_per_job}}<br>
    <b>Output Files Per Job</b>: {{Campaign_definition_info.CampaignDefinition.output_files_per_job}}<br>
    <b>Output File Patterns</b>: {{Campaign_definition_info.CampaignDefinition.output_file_patterns}}<br>
    <b>
    </div>
  </div>
    <div class="ui segment raised">
    <h3>Launch Template</h3>
    <b>Name</b>: {{Launch_template_info.LaunchTemplate.name}}<br>
    <b>Launch Host</b>: {{Launch_template_info.LaunchTemplate.launch_host}}<br>
    <b>Launch Account</b>: {{Launch_template_info.LaunchTemplate.launch_account}}<br>
    <b>Launch Setup</b>: {{Launch_template_info.LaunchTemplate.launch_setup}}<br>
    <b>Creator</b>: {{Launch_template_info.Experimenter.email}}<br>
    <b>Created</b>: {{Launch_template_info.LaunchTemplate.created}}<br>
    </div>


    <div class="ui segment raised ">
	<h3>Tags</h3>

	<div class="ui search">
	    <div class="ui left icon input">
	       <input type="text" id="tag_field" name="tag" placeholder="Enter tag" class="prompt">
	       <i class="tag icon"></i>
	    </div>

	    <button class="ui icon small blue button" id="add_button">
	      <i class="plus icon"></i>
	    </button>
	    <div id="response" style="display:inline; vertical-align: bottom; font-style: italic;"></div>

	    <div class="results"></div>
	</div>


	<div id="tag_container">
	{% for tag in tags %}
	    <i class="trash outline icon link poms_tag" id="{{Campaign_info.Campaign.campaign_id}}_{{tag.tag_id}}"></i>
	    <a href="{{pomspath}}/search_tags?q={{tag.tag_name}}" class="ui blue tag label" id="{{Campaign_info.Campaign.campaign_id}}_{{tag.tag_id}}_">{{tag.tag_name}}</a>
	<!--    <br/></br>   -->
	{% endfor %}
	</div>

    </div>

 <div class="ui segment raised">
   <h3>Recent Launch Outputs </h3>
   <ul>
   {%for f in launch_flist|sort(reverse=True)%}
      <li>
      <a href="list_launch_file?campaign_id={{Campaign_info.Campaign.campaign_id}}&fname={{f}}">{{f}}</a>
   {%endfor%}
   </ul>
 </div>



<script>
var protocol = window.location.protocol;
var hostname = window.location.hostname;
var appname = window.location.pathname.split("/")[1];
var querypath = protocol + "//" + hostname + "/" + appname + "/auto_complete_tags_search";


var experiment = "{{Campaign_info.Campaign.experiment}}";
$('.ui.search')
.search({
apiSettings: {
  url: querypath + "?q={query}&experiment=" + experiment
},
fields:{
  title: 'tag_name'
},
//minCharacters : 3
});
</script>







{%endblock%}
