{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_campaigns/" class="section">Campaign Stages</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/campaign_info?campaign_id={{campaign_id}}" class="section">{{name}}</a>
  <div class="divider"> / </div>
  <div class="section">Submission file info</div>
</div>
{%endblock%}


{%block header%}
<h1 class="ui header">
  File Info by Submission {%include 'help_button.html'%}
</h1>
<div class="ui subheader">
    <div class="ui basic label">
      <i class="wait icon"></i>  <div class="tmin" style="display:inline;"></div> to <div class="tmax" style="display:inline;"></div>
    </div>
</div>

<a href="{{prev}}">&lt;previous {{days}} days</a> | 
<a href="{{next}}">next {{days}} days &gt;</a>
{%endblock%}


{%block subheader%}
{%endblock%}


{%block content%}

<!--
 {{datarows}}
-->
<table class="ui sortable celled collapsing table">
  <thead>
    <tr>
    {%for col in columns%}
       <th class="">
           {{col}}<a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/CampaignTaskFilesHelp#{{col|replace(' ','_')}}"><i class="small icon grey help circle  link"></i>
       </th>
    {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for row in datarows %}
      <tr>
         {%for col in range(0, columns|count) %}
              <td><a href="{{row[col][1]}}">{{row[col][0]}}</a></td>
         {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>




<script>
var tmin_local_time = moment.utc('{{tmin}}').toDate();
tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmin" ).html( tmin_local_time );

var tmax_local_time = moment.utc('{{tmax}}').toDate();
tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmax" ).html( tmax_local_time );
</script>



<script>
$(function() {
    $('#global_datepicker_container').show();
});
</script>
{%endblock%}
