{%extends "layout.html"%}

{% macro show_hint(anchor, hint) %}
	{% include 'help_button.html' %}

{% endmacro %}

{%block title%}
POMS
<script src="{{pomspath}}/static/js/json_field_editor.js"></script>
<script src="{{pomspath}}/static/js/split_type_picker.js"></script>
<script src="{{pomspath}}/split_type_javascript"></script>
<link rel="stylesheet" type="text/css" href="{{pomspath}}/static/css/json_field_editor.css">
{%endblock%}

<style type="text/css">
  div.scrollable {
  width: 100%;
  overflow-x: scroll;
  }
  div.scrollable table {
  width: 300%;
  }
</style>

{%block header%}
Campaign Stages
    {{ show_hint('#Compose-a-campaign-stage', 'Help page') }}
{%endblock%}

{%block subheader%}
{%endblock%}

{%block content%}
<form id="campaign_form" class="ui form" action="campaign_stage_edit" method="POST">

  {% set has_active=True %}
  {%include "view_picker.html" %}
  <br/>
  <a class="ui orange ribbon label">Stages must be created via GUI Editor</a>
<!--
  <div class="inline fields">
    <button class="ui labled teal icon button" onclick="add_campaign();return false;" {{ 'disabled' if (session_role=='superuser') }}>
      <i class="icon add square"></i>
      Add
    </button>
    &nbsp;&nbsp;
  </div>
-->

  {% if data.curr_experiment is defined %}
  <div id="double-scroll" class="scrollable">

  <table class="ui sortable single line celled table" style="margin-top: 3em;" id="stagetable">
    <thead>
      <tr>
        <th></th>
        <th> Campaign Name</th>
        <th> C Id</th>
        <th> Stage Name {{ show_hint('#Name', 'Name string') }} </th>
        <th> S Id</th>
        <!-- <th> Active {{ show_hint('#Active', 'True/False') }} </th> -->
        <th> VO Role {{ show_hint('#VO-Role', 'Role name') }} </th>
        <th> Software<br>Version {{ show_hint('#Software-Version', 'Version tag') }} </th>
        <th> Dataset or <br> Split Data {{ show_hint('#Dataset', 'Dataset name') }} </th>
        <th> Split Type {{ show_hint('#Split-Type', 'Type string') }} </th>
        <th> Completion<br>Type {{ show_hint('#Completion-Type', '[complete|located|...]') }} </th>
        <th> Completion<br>Percent {{ show_hint('#Completion-Percent', 'Integer number') }} </th>
        <th> Parameter Overrides {{ show_hint('#Parameter-Overrides', 'List of key/value pairs') }} </th>
        <th> Test Parameter Overrides {{ show_hint('#Test-Parameter-Overrides', 'List of key/value pairs for test launches') }} </th>
        <th> Depends On {{ show_hint('#Depends-On', 'List of key/value pairs') }} </th>
      </tr>
    </thead>
    <tbody>
      {% for row in data.campaign_stages %}
      <tr>
        <td class="collapsing">
          {% if data.authorized[loop.index0]==True %}
          <i class="large edit link blue icon"  onclick="edit_campaign({{loop.index}});"></i>
          <!-- <i class="large copy icon link blue icon" onclick="edit_campaign({{loop.index}},'CLONE');"></i> -->
          <i class="large trash link blue icon" onclick="delete_campaign('{{row.CampaignStage.name}}',{{row.CampaignStage.campaign_stage_id}});"></i>
          {% else %}
          <i class="large unhide link blue icon" onclick="edit_campaign({{loop.index}});"></i>
          <!-- <i class="large copy icon link blue icon" onclick="edit_campaign({{loop.index}},'CLONE');"></i> -->
          {% endif %}
        </td>
        <td id="c_campaign_stage_id_{{loop.index}}" style="display:none">{{row.CampaignStage.campaign_stage_id}}</td>
        {% if row.CampaignStage.campaign_stage_id|int == jump_to_campaign|default(-1)|int %}

        </script>
        {% endif %}
        <td id="c_authorized_{{loop.index}}" style="display:none">{{data.authorized[loop.index0]}}</td>
        <td id="c_campaign_definition_id_{{loop.index}}" style="display:none">{{row.CampaignStage.job_type_id}}</td>
        <td id="c_launch_id_{{loop.index}}" style="display:none">{{row.CampaignStage.login_setup_id}}</td>
        <td id="c_campaign_name_{{loop.index}}">{{row.Campaign.name}}</td>
        <td id="c_campaign_id_{{loop.index}}">{{row.CampaignStage.campaign_id}}</td>
        <td id="c_name_{{loop.index}}">{{row.CampaignStage.name}}</td>
        <td id="c_campaign_stage_id_{{loop.index}}">{{row.CampaignStage.campaign_stage_id}}</td>
        <td id="c_vo_role_{{loop.index}}">{{row.CampaignStage.vo_role}}</td>
        <td id="c_software_version_{{loop.index}}">{{row.CampaignStage.software_version}}</td>
        <td id="c_dataset_{{loop.index}}">{{row.CampaignStage.dataset}}</td>
        <td id="c_split_type_{{loop.index}}">{{row.CampaignStage.cs_split_type}}</td>
        <td id="c_completion_type_{{loop.index}}">{{row.CampaignStage.completion_type}}</td>
        <td id="c_completion_pct_{{loop.index}}">{{row.CampaignStage.completion_pct}}</td>
        {% if row.CampaignStage.param_overrides is string %}
            <td id="c_param_overrides_{{loop.index}}">{{row.CampaignStage.param_overrides|replace("None","")}}</td>
        {% else %}
            <td id="c_param_overrides_{{loop.index}}">{{row.CampaignStage.param_overrides|tojson|replace("null","")}}</td>
        {% endif %}
        <td id="c_test_param_overrides_{{loop.index}}">{{row.CampaignStage.test_param_overrides|tojson|replace("null","")}}</td>
        <td id="c_depends_{{loop.index}}">
        {% for key, value in data.depends.items() %}
            {% if key == row.CampaignStage.campaign_stage_id and value|length %}
                {{ value }}
            {% endif %}
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <!--
    <tfoot>
        <tr>
            <th colspan="9">
                <button class="ui labled teal icon button" onclick="add_campaign();return false;" {{ 'disabled' if (session_role=='superuser') }}>
                    <i class="icon add square"></i>
                    Add
                </button>
            </th>
        </tr>
    </tfoot>
    -->
  </table>
  </div> <!-- double-scroll -->
  {% endif %}
  <input type="hidden" id="action" name="action" value="find">
</form>

<div class="ui modal" id="confirm_modal">
  <i class="close icon"></i>
  <div class="header">
    Delete Campaign Stage
  </div>
  <div class="image content">
    <div class="image">
      <i class="delete icon"></i>
    </div>
    <div class="description">
      <div class="ui header"><label id="confirm_modal_message">Message Goes Here</label></div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui buttons">
      <button class="ui red deny button">
        No
      </button>
      <button id="approved_btn" class="ui teal approve button">
        <i class="checkmark icon"></i>
        Yes
      </button>
    </div>
  </div>
</div> <!-- Ends confirm_modal -->

<div class="ui modal" id="campaign_add_edit_modal">
  <i class="close icon"></i>
  <h3 class="block header"><span id="ae_experiment">Campaign Stage Editor </span>
    {{ show_hint('#Compose-a-campaign-stage', 'Help page') }}
</h3>
  <div class="ui hidden divider"></div>
  <div class="ui text container">
    <form id="campaign_add_edit_form" class="ui form" method="POST" action="campaign_stage_edit">

      <div class="fields">
        <label>Campaign Name</label>
        <input type="text" id="ae_campaign_name" name="ae_campaign_name" value="" readonly>
        <input type="hidden" id="ae_campaign_id" name="ae_campaign_id" value="0">
      </div>

      <div class="three fields">
        <div class="field">
            <label>Stage Name</label>
            <input type="text" id="ae_stage_name" name="ae_stage_name" placeholder="Campaign Stage Name">
        </div>
        <div class="field">
            <label>Jobsub VO Role </label>
            <input type="text" id="ae_vo_role" name="ae_vo_role">
        </div>
        <!--
        <div class="field">
          <label>State </label>
          <select class="ui dropdown" name="ae_active" id="ae_active">
            <option value="True">Active</option>
            <option value="False">Inactive</option>
          </select>
        </div>
        -->
        <div class="field">
            <label>Exp. Software Version </label>
            <input type="text" id="ae_software_version" name="ae_software_version">
        </div>
      </div>

      <div class="two fields">
        <div class="field">
            <label>Dataset or Split Data </label>
            <input type="text" id="ae_dataset" name="ae_dataset" placeholder="dataset" style="width: 90%"></input>

            <i class="edit link blue icon split_type_picker_custom_edit" onclick="split_type_picker.custom_edit('ae_split_type','ae_dataset')"></i>
        </div>
        <div class="field">
            <label>(Dataset) Split Type </label>
            <input type="text" id="ae_split_type" name="ae_split_type" style="width:90%">
            <i class="edit link blue icon" onclick="split_type_picker.start('ae_split_type')"></i>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Completion Type </label>
          <select class="ui dropdown" name="ae_completion_type" id="ae_completion_type">
            <option value="located" >Located</option>
            <option value="complete" >Complete</option>
          </select>
        </div>
        <div class="field">
            <label>Completion % </label>
            <input type="text" id="ae_completion_pct" name="ae_completion_pct" placeholder="95">
        </div>
      </div>

      <div class="one field">
        <div class="field">
            <label>Parameter Overrides<i class="large edit link blue icon" id="edit_param_modal_btn"></i></label>
            <textarea rows="2" id="ae_param_overrides_text" disabled>[]</textarea>
        </div>
      </div>

      <div class="one field">
        <div class="field">
            <label>Test Parameter Overrides<i class="large edit link blue icon" id="edit_param_test_modal_btn"></i></label>
            <textarea rows="2" id="ae_test_param_overrides_text" disabled>[]</textarea>
        </div>
      </div>

      <div class="one field">
        <div class="field">
            <label>Depends On<i class="large edit link blue icon" id="edit_depends_modal_btn"></i></label>
            <textarea rows="2" id="ae_depends_text" disabled>[]</textarea>
        </div>
      </div>

      <h4 class="ui horizontal divider">Login/Setup {{ show_hint('#Compose-a-loginsetup-script', 'Help page') }}</h4>

      <div class="one field">
        <div class="field">
          <label>Login/Setup Name </label>
          <select class="ui dropdown" name="ae_launch_id" id="ae_launch_id">
            <option value=""></option>
            {% for row in data.templates %}
            <option value={{row.login_setup_id}}>{{row.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
            <label>Host </label>
            <input type="text" id="ae_launch_host" disabled>
        </div>
        <div class="field">
            <label>Account </label>
            <input type="text" id="ae_launch_account" disabled>
        </div>
      </div>

      <div class="one field">
        <div class="field">
            <label>Setup </label>
            <textarea rows="3" id="ae_launch_setup" disabled></textarea>
        </div>
      </div>

      <h4 class="ui horizontal divider">Job Type {{ show_hint('#Compose-a-job-type', 'Job Type') }}</h4>

      <div class="one field">
        <div class="field">
          <label>Job Type Name </label>
          <!--<br/>-->
          <select class="ui dropdown" name="ae_campaign_definition_id" id="ae_campaign_definition_id">
            <option value=""></option>
            {% for row in data.definitions %}
            <option value="{{row.job_type_id}}">{{row.name}}</option>
            {% endfor %}
          </select>
        </div>
      <div class="two fields">
        <div class="field">
              <label>Input Files/Job </label>
              <input type="text" id="ae_input_files_per_job" disabled>
        </div>
        <div class="field">
              <label>Output Files/Job </label>
              <input type="text" id="ae_output_files_per_job" disabled>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Launch/Setup Script </label>
          <textarea rows="3" id="ae_launch_script" disabled></textarea>
        </div>
        <div class="field">
          <label>Definition Parameters </label>
          <textarea rows="3" id="ae_launch_definition_parameters" disabled></textarea>
        </div>
      </div>

      <div class="actions">
        <div class="ui button deny red">Cancel</div>
        <!-- ae_submit can be disabled in edit_campaign function -->
        <input id="ae_submit" name="ae_submit" type="submit" value="Save" class="ui button teal" >
      {% if extra_edit_flag|default(False) %}
         <input type="submit" name="{{extra_edit_flag}}" class="ui button orange" value="Launch Test">
      {% endif %}
      </div>


      <!-- <input type="hidden" name="experiment" value="{{ data.curr_experiment if data.curr_experiment is defined}}"> now in url path, not needed -->
      <input type="hidden" name="action" id="ae_definition_action" value="add">
      <input type="hidden" id="ae_experimenter_id" name="experimenter_id" value="{{experimenter_id|default('unknown')}}">
      <input type="hidden" id="ae_campaign_stage_id" name="ae_campaign_stage_id" value="0">
      <input type="hidden" id="ae_param_overrides" name="ae_param_overrides" value="[]">
      <input type="hidden" id="ae_test_param_overrides" name="ae_test_param_overrides" value="[]">
      <input type="hidden" id="ae_depends" name="ae_depends" value="[]">
    </form>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends campaign_add_edit_modal -->

<div class="ui small modal" id="edit_param_modal">
  <i class="close icon"></i>
  <div class="header">
    Definition Parameters Editor
  </div>
  <div class="ui text container">
    <div class="scrollable">
      <br>
      <table class="ui celled table" id="ep_table">
        <thead>
          <tr>
            <th>Key {{ show_hint('#Key', 'String') }}</th>
            <th>Value {{ show_hint('#Value', 'String') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="ep_tbody"></tbody>
        <tfoot>
          <tr>
            <th colspan="3">
              <div class="actions">
                <button class="ui button deny red">Cancel</button>
                <button id="ep_submit" class="ui button approve teal">Accept</button>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends edit_param_modal  -->

<div class="ui small modal" id="edit_depends_modal">
  <i class="close icon"></i>
  <div class="header">
    Campaign Stage Dependency Editor
  </div>
  <div class="ui text container">
    <div class="scrollable">
      <table class="ui celled table" id="ep_table">
        <thead>
          <tr>
            <th>Campaign Stage</th>
            <th>File Pattern</th>
          </tr>
        </thead>
        <tbody id="ed_tbody">
            {% for i in range(5) %}
              <tr>
                <td>
                 {{i}}.
                    <select name="de_select_{{i}}" id="de_select_{{i}}">
                        <option value="">-</option>
                        {% for cs in data['campaign_stages'] %}
                           <option value="{{cs[0].name}}">{{cs[0].name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                  <input name="de_filepat_{{i}}" id="de_filepat_{{i}}">
                </td>
          </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">
              <div class="actions">
                <button class="ui button deny red">Cancel</button>
                <button id="ed_submit" class="ui button approve teal">Accept</button>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends edit_depends_modal  -->


<script type="text/javascript">

// form validation fields,they will appear in red if missing..
function setup_form_validation() {
$('#campaign_add_edit_form')
  .form({
    fields: {
      ae_stage_name :             'empty',
      ae_vo_role :                'empty',
      ae_active :                 'empty',
      ae_software_version :       'empty',
      ae_dataset :                'empty',
      ae_split_type :             'empty',
      ae_launch_id :              'empty',
      ae_campaign_definition_id : 'empty'
    }
  }) ;
}
setup_form_validation()
//      ae_completion_type :        'empty',
//      ae_completion_pct  :        'empty',
//    dropdown: {
//      ae_active_hello :           'dropdown',
//    }

$("#ae_launch_id").change(function() {
  var formdata = {'ae_launch_id': $("#ae_launch_id").val()};
  $.ajax({
      url: "{{pomspath}}/campaign_stage_edit_query/{{session_experiment}}/{{session_role}}",
      type: 'GET',
      data: formdata,
      success: function(dat){
        data = JSON.parse(dat);
        $("#ae_launch_host").val(data.template.launch_host);
        $("#ae_launch_account").val(data.template.launch_account);
        $("#ae_launch_setup").val(data.template.launch_setup);
      }
    });
});

$("#ae_campaign_definition_id").change(function() {
  var formdata = {'ae_campaign_definition_id': $("#ae_campaign_definition_id").val()};
  $.ajax({
      url: "{{pomspath}}/campaign_stage_edit_query/{{session_experiment}}/{{session_role}}",
      type: 'GET',
      data: formdata,
      success: function(dat){
        if (dat !="{}") {
         data = JSON.parse(dat);
         $("#ae_input_files_per_job").val(data.definition.input_files_per_job);
         $("#ae_output_files_per_job").val(data.definition.output_files_per_job);
         $("#ae_launch_script").val(data.definition.launch_script);
         $("#ae_launch_definition_parameters").val(data.definition.definition_parameters);
        } else {
         $("#ae_input_files_per_job").val("");
         $("#ae_output_files_per_job").val("");
         $("#ae_launch_script").val("");
         $("#ae_launch_definition_parameters").val("[]");

        }
      }
   });
});

function create_row(index, key, value) {
    return row;
}

var ep_parms = [];

/*
 * was:
 * $("#edit_param_modal_btn").click(function() {
 *   setup_modal("#ae_param_overrides");
 * });
 *
 * $("#edit_param_test_modal_btn").click(function() {
 *   setup_modal("#ae_test_param_overrides");
 * });
 */

$("#edit_param_modal_btn").click(function() {
   json_field_editor.start('ae_param_overrides');
});

$("#edit_param_test_modal_btn").click(function() {
   json_field_editor.start('ae_test_param_overrides');
});

function setup_modal(fieldid) {
  $("#ep_tbody").empty("");
  ep_parms = [];
  var parms_str = $(fieldid).val();
  if (parms_str != "") {
    ep_parms = JSON.parse(parms_str);
  }
  ep_build_table_body();
  $("#edit_param_modal").modal({
    closable  : false,
    onApprove : function(){
      var data = ep_build_parms_string();
      if (data[0] == "") {
        $(fieldid+"_text").val(data[1]);
        $(fieldid).val(data[1]);
        $("#campaign_add_edit_modal").modal('show');
        setup_form_validation()
      } else {
          return false;
      }
    },
    onDeny : function(){
      $("#campaign_add_edit_modal").modal('show');
    },
    }).modal('show');
}

$("input[name=state]").click(function() {
  // Trigger a form submit when an experiment is selected
  // and the radio button was changed.
  var exp_val = $("#c_experiment").val();
  if (exp_val !== "") {
    $("#campaign_form").submit();
  }
});

$("#edit_depends_modal_btn").click(function() {
  //mwm
  var depends = $("#ae_depends").val();
  if (depends == "[]") {
    depends = '{"campaign_stages": [], "file_patterns": []}';
  }
  var dlists = JSON.parse(depends);
  var i;
  for (i = 0 ; i < dlists['campaign_stages'].length; i++ ) {
      var sel = "#de_select_" + i.toString()+ " option[value=\""+dlists['campaign_stages'][i]+"\"]";
      var dep = "#de_filepat_"+i.toString()
      $(sel).prop('selected','selected');
      $(dep).val(dlists['file_patterns'][i]);
  }
  $("#edit_depends_modal").modal({
    closable  : false,
    onApprove : function(){
      var dlists = {'campaign_stages':[], 'file_patterns':[]};
      var i;
      var s;
      for (i = 0; i < 5 ; i++) {
         s=$("#de_select_"+i.toString()+" option:selected").val();
         p=$("#de_filepat_"+i.toString()).val();
         if (s) {
             dlists['campaign_stages'].push(s);
             dlists['file_patterns'].push(p)
         }
      }
      var sval = JSON.stringify(dlists);
      $("#ae_depends").val(sval);
      $("#ae_depends_text").val(sval);
      $("#campaign_add_edit_modal").modal('show');
    },
    onDeny : function(){
      $("#campaign_add_edit_modal").modal('show');
    },
    }).modal('show');
});

function ep_build_parms_string() {
  var parms = "[";
  var message = "";
  rebuild_ep_parms();
  for (index = 0; index < ep_parms.length; index++) {
    key = ep_parms[index][0];
    value = ep_parms[index][1];
    if ((key != "") && (value != "")) {
      if (parms != "[") {
        parms += ",";
      }
      parms += '["' +key+ '","' +value+ '"]';
    } else if ((key == "") && (value == "")){
      continue;
    } else {
      message = "A row is missing the key or value.";
      break;
    }
  }
  parms += "]";
  return [message, parms];
}

function ep_build_table_body() {
  $("#ep_tbody").text("");

  if (ep_parms===null || ep_parms.length ==0) {
    ep_parms.push(["",""]);
  }
  for (index = 0; index < ep_parms.length; index++) {
    var ep_row = "ep_row_" + index;
    var ep_key = "ep_key_" + index;
    var ep_val = "ep_val_" + index;
    var row = '<tr id="' +ep_row+ '">';
    row +=       '<td class="brown">'
    row +=          '<div class="ui fluid input">'
    row +=             '<label></label>'
    row +=             '<input type="text" id="' +ep_key+  '" value="' +ep_parms[index][0]+ '">'
    row +=          '</div>'
    row +=       '</td>';
    row +=       '<td>'
    row +=          '<div class="ui fluid input">'
    row +=             '<label></label>'
    row +=             '<input type="text" id="' +ep_val+  '" value="' +ep_parms[index][1]+ '">'
    row +=          '</div>'
    row +=       '</td>';
    row +=       '<td  class="collapsing">'
    row +=         '<i class="blue icon link add square" onclick="ep_add_button('+index+');"></i>'
    row +=       '<i class="blue icon link minus square" onclick="ep_delete_button('+index+');"></i>'
    row +=       '<i class="blue icon link arrow square up" onclick="ep_up_button('+index+');"></i>'
    row +=       '<i class="blue icon link arrow square down" onclick="ep_down_button('+index+');"></i>'
    row +=       '</td>';
    row +=     '</tr>'
    $("#ep_tbody").append(row);
  }
  $("#edit_param_modal").modal('refresh');
}

function rebuild_ep_parms() {
  ep_parms = []
  var rowCount = $("#ep_tbody").children().length;
  for (index=0; index< rowCount; index++) {
    var ep_key = "#ep_key_" + index;
    var ep_val = "#ep_val_" + index;
    var key = $(ep_key).val();
    var val = $(ep_val).val();
    ep_parms.push([key,val]);
  }
}

function ep_add_button(current_row) {
  rebuild_ep_parms();
  ep_parms.splice(current_row+1, 0, ["",""] );
  ep_build_table_body();
}

function ep_delete_button(current_row) {
  rebuild_ep_parms();
  ep_parms.splice(current_row, 1 );
  ep_build_table_body();
}

function ep_up_button(current_row) {
  if (current_row > 0) {
    rebuild_ep_parms();
    var hold = ep_parms[current_row-1];
    ep_parms[current_row-1] = ep_parms[current_row];
    ep_parms[current_row] = hold;
    ep_build_table_body();
  }
}

function ep_down_button(current_row) {
  if (current_row < (ep_parms.length-1)) {
    rebuild_ep_parms();
    var hold = ep_parms[current_row+1];
    ep_parms[current_row+1] = ep_parms[current_row];
    ep_parms[current_row] = hold;
    ep_build_table_body();
  }
}

function delete_campaign(name,campaign_stage_id) {
  var cname = name;
  $("#confirm_modal_message").text("Delete the campaign stage named " +name+" ?");
  $("#confirm_modal").modal({
  closable  : false,
  onApprove : function(){
    $("#action").val('delete');
    $("<input>").attr({'type':'hidden','name': 'campaign_stage_id', 'value': campaign_stage_id}).appendTo("#campaign_form");
    $("<input>").attr({'type':'hidden','name': 'name', 'value': cname}).appendTo("#campaign_form");
    $("#campaign_form").submit();
  },
  }).modal('show');
}

function edit_campaign(index,clone) {
  if (typeof clone === 'undefined') {
    $("#ae_definition_action").val("edit");
    $("#ae_campaign_name").val( $("#c_campaign_name_"+index).text() );
    $("#ae_campaign_id").val( $("#c_campaign_id_"+index).text() );
    $("#ae_stage_name").val( $("#c_name_"+index).text() );
    $("#ae_depends").val( $("#c_depends_"+index).text() );
    $("#ae_depends_text").val( $.trim( $("#c_depends_"+index).text() ));
    $("#ae_campaign_stage_id").val( $("#c_campaign_stage_id_"+index).text()  );
  } else {
    $("#ae_campaign_stage_id").val(0);
    $("#ae_definition_action").val("add");
    $("#ae_stage_name").val( "CLONE OF: " + $("#c_name_"+index).text() );
    // campaign_depends records are NOT cloned.
    $("#ae_depends").val( '{"campaign_stages": [], "file_patterns": []}' );
    $("#ae_depends_text").val( '{"campaign_stages": [], "file_patterns": []}' );
  }
  $("#ae_experiment").text("Campaign Stage Editor ({{ data.curr_experiment if data.curr_experiment is defined}})");
  $("#ae_active").val( $("#c_active_"+index).text() ).trigger('change');
  $("#ae_vo_role").val( $("#c_vo_role_"+index).text() );
  $("#ae_software_version").val( $("#c_software_version_"+index).text() );
  $("#ae_dataset").val( $("#c_dataset_"+index).text() );
  $("#ae_split_type").val( $("#c_split_type_"+index).text() );
  $("#ae_param_overrides_text").val( $("#c_param_overrides_"+index).text() );
  $("#ae_param_overrides").val( $("#c_param_overrides_"+index).text() );

  $("#ae_test_param_overrides_text").val( $("#c_test_param_overrides_"+index).text() );
  $("#ae_test_param_overrides"     ).val( $("#c_test_param_overrides_"+index).text() );

  $("#ae_campaign_definition_id").val( $("#c_campaign_definition_id_"+index).text() );
  $("#ae_launch_id").val( $("#c_launch_id_"+index).text() );
  // Trigger the change function which will load associated fields
  $("#ae_campaign_definition_id").trigger('change');
  $("#ae_launch_id").trigger('change');
  //
  $("#ae_completion_type").val($("#c_completion_type_"+index).text() ).trigger('change');
  $("#ae_completion_pct").val( $("#c_completion_pct_"+index).text() );

  $("#campaign_add_edit_modal").modal('show');

  console.log("clone = : " + clone)
  if ( typeof clone === 'undefined' )
  {
    $("#ae_submit").prop("value","Save");
    if ( ($("#c_authorized_"+index).text() == "False") ) {
      $("#ae_submit").prop("disabled",true);
    } else {
      $("#ae_submit").prop("disabled",false);
    }
  } else {
    $("#ae_submit").prop("value","Clone");
    $("#ae_submit").prop("disabled",false);
  }
  split_type_picker.fix_custom_edit('ae_split_type')
}

function add_campaign() {
  $("#campaign_add_edit_modal").form('reset');
  $("#ae_experiment").text("Campaign Stage Editor ({{ data.curr_experiment if data.curr_experiment is defined}})");
  $("#campaign_add_edit_modal").modal({}).modal('show');
  split_type_picker.fix_custom_edit('ae_split_type')
}


$(document).ready(function(){
  {% if jump_to_campaign is not none %}
  var rows = $('#stagetable tr').length;
  var i;
  var stage_id;
  for (i = 0; i <= rows; i++) {
    stage_id = $("#c_campaign_stage_id_"+i).text();
    if (stage_id == "{{jump_to_campaign}}") {
      edit_campaign(i);
    }
  }
  {% else %}
  if (`{{ data.message }}` != "None") {
    $("#poms_message_data").text(`{{ data.message }}`);
    $("#display_message_modal").modal('show');
  }
  {% endif %}
});


</script>

{%endblock%}
