{%extends "layout.html"%}

{%block title%}
    <title>POMS:Active Campaigns</title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="/poms/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">Campaigns</div>
</div>
{%endblock%}


{%block header%}
<h1 class="ui header">
     Campaigns
</h1>
{%endblock%}



{%block subheader%}
<h2 class="ui dividing header">Active Campaigns as of {{tmin}}</h2>
<a href="{{prev}}">&lt;previous {{days}} days</a> | 
<a href="{{next}}">next {{days}} days &gt;</a>
{%endblock%}




{%block content%}
  <div class="ui grid">
    {{screendata}}
    <div class=row>
     <div class="left floated left aligned six wide column">{{tmin}}</div>
     <div class="right floated right aligned six wide column">{{tmax}}</div>
   </div>
  </div>
{%endblock%}
