{%extends "layout.html"%}

{%block title%}
POMS:Campaign Stage {{name}}
{%endblock%}

{%block header%}
<h1 class="ui header">
     Campaign Stage {{name}} Submissions{%include 'help_button.html'%}
</h1>

<div class="ui basic label">
  <i class="wait icon"></i>  <div class="tmin" style="display:inline;"></div> to <div class="tmax" style="display:inline;"></div>
</div>

<div>
  <a href="{{prev}}">&lt;previous {{tdays}} days</a> |
  <a href="{{next}}">next {{tdays}} days &gt;</a>
</div>
{%endblock%}


{%block subheader%}
{%endblock%}



{%block content%}

   <!--<h2 class="ui row dividing header">{{name}} Submissions </h2>-->

   <div class="ui grid">
     <div class="ui row">
       {{job_counts}}
     </div>
   </div>


   <div class="ui grid">
     <div class='ui row'>
       <div class="left floated left aligned six wide column tmin"></div>
       <div class="right floated right aligned six wide column tmax"></div>
     </div>

     <!-- { % for id,plist in blob.pmap|dictsort % } -->
     {% for id,plist in blob.pmap.items() %}
         {% if plist|length > 0 %}

               <div class='row' style='margin:0px 0px; padding:0px 0px;'>
                   <div class='mwm_label' style='text-align: right; width: 19%; float:left; padding: 5px 5px; border-right: 1px solid black; '>
                     {{id|safe}}{{blob.extramap[id]}}
                   </div>
                   <div clas='mwm_rowdata'  style='position: relative; width: 80%; float:left; clear: right; border-right: 1px solid black; border-left: 1px solid black; padding: 5px 0px'>

                      {% for p in plist %}

                        <a target="_blank" href='{{p.url}}'>
                          <div class='tbox' data-content='{{p.txt}}' data-variation="very wide" style='width: {{p.width}}%; background-color: {{p.color}} !important; float:left; '>
                            &nbsp;
                          </div>
                        </a>

                      {% endfor %}

                   </div>
                   &nbsp;
               </div>
         {% endif %}
     {% endfor %}



    <div class='ui row'>
     <div class="left floated left aligned six wide column tmin"></div>
     <div class="right floated right aligned six wide column tmax"></div>
   </div>
  </div>

   <h2>Key:</h2>
   <div class="ui grid">
     <div class="ui row">
       {{key}}
     </div>
   </div>


<script>
     var tmin_local_time = moment.utc('{{tmin}}').toDate();
     tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
     $( ".tmin" ).html( tmin_local_time );

     var tmax_local_time = moment.utc('{{tmax}}').toDate();
     tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
     $( ".tmax" ).html( tmax_local_time );
</script>




<script>
     $(function() {
         $('#global_datepicker_container').show();
     });
</script>

{%endblock%}
