{%extends "layout.html"%}

{%block title%}
POMS:Campaign Stage {{CampaignStage.name}} Info
{%endblock%}


{%block header%}
Campaign Stage Info {%include 'help_button.html'%}
{%endblock%}

{%block subheader%}
Campaign Stage {{CampaignStage.name}}
{%endblock%}


{%block content%}

<style>
.ui.search .prompt{border-radius:0.28571429rem}
</style>



<script>
$( document ).ready(function() {

    function do_delete(item)
    {
        var c_id = item.id.split("_")[0];
        var t_id = item.id.split("_")[1];
        var clicked_id = "#"+item.id;
        var experiment = "{{CampaignStage.experiment}}";

        $.post('delete_campaigns_tags', {campaign_stage_id: c_id, campaign_id: t_id, experiment: experiment}, function(data) {
            if(data.msg == "OK")
            {
                $('#response').html(data.msg);
                $(clicked_id).remove();  //removes the trash can
                $(clicked_id+"_").remove();  //removes the tag

            }
            else
            {
                $('#response').html(data.msg);
            }
        });
    }



    function add_click_handler()
    {
          $( ".poms_tag" ).off("click").on("click", function() {
            if (confirm("Are you sure you want to delete this item?") == true)
            {
               do_delete(this);
            }
            else
            {
              return;
            }
        });
    }

    add_click_handler();



    $('#add_button').on('click', function(e) {
        e.preventDefault();
        $('#response').html("");

        if( !$('#tag_field').val() )
        {
            $('#response').html("Please enter a tag.");
            return;
        }

        tag = $('#tag_field').val()
        $.post('link_tags', {tag_name: tag, campaign_stage_id: '{{CampaignStage.campaign_stage_id}}', experiment: '{{CampaignStage.experiment}}'}, function(data) {

            if(data.msg == "OK")
            {
                const campaigns_tags_composite_key = data.campaign_stage_id.toString() + "_" + data.campaign_id.toString();
                $('#response').html(data.msg);

                const new_tag = "<span><a href='{{pomspath}}/search_tags?q=" + data.tag_name + "' class='ui blue tag label' id=" + campaigns_tags_composite_key + "_>" + data.tag_name + "</a>";
                const new_trash_can = "<i class='trash outline bordered inverted blue icon link poms_tag' id=" + campaigns_tags_composite_key + " style='border-radius: 5px;'></i></span>";
                $('#tag_container').append(new_tag + new_trash_can);
                //$('#tag_container').append(new_tag);
                $('#tag_field').val("");
                add_click_handler();
            }
            else
            {
                $('#response').html(data.msg);
            }

        });
    });


    $('#tag_field').keypress(function(event){
        if(event.keyCode == 13)
        {
            $('#add_button').click();
            $('#tag_field').val("");
        }
    });

});


</script>

  <div class="ui segment raised ">

    <!-- Campaign_info: {{Campaign_info}} -->
    <iframe style="width: 99%; height: 27em;" src="https://fifemon.fnal.gov/monitor/d/otZRzhImk/poms-campaign?from=now-30d&to=now&var-campaign={{CampaignStage.campaign_stage_id}}&orgId=1"> </iframe>

    <script>
        $("#campaign th").attr("style", "padding: 0.3em; border-left: 1; text-align: center;");
    </script>
  </div>

  <div class="ui horizontal segments">
    <div class="ui segment raised">
         <h3>Reports/Status</h3>
         <div class=menu>
              <div class=item>
                 <i class="external icon"></i>
                 <a href="https://landscape.fnal.gov/monitor/d/HMj5hqVik/production-shifter?orgId=1&var-vo={{CampaignStage.experiment|replace('samdev','fermilab')}}" target='_blank'>Production Shifter Page (Landscape)</a>
              </div>
              <div class=item>
                 <i class="external icon"></i>
                 <a href="{{kibana_link}}" target='_blank'>POMS Campaign Stage(landscape)</a>
              </div>
              <div class=item>
               <a href="https://fifemon.fnal.gov/monitor/d/000000212/poms-campaign-stats?orgId=1&var-Campaign={{CampaignStage.campaign_stage_id}}">
                   <i class="external bar chart icon" data-content="Campaign Stats"></i>Campaign Stage Stats (Landscape)
               </a>
              </div>
              <div class=item>
               <a href="https://fifemon.fnal.gov/monitor/d/000000213/poms-tasks?orgId=1&var-Experiment={{CampaignStage.experiment|replace('samdev','fermilab')}}&var-Campaign={{CampaignStage.campaign_stage_id}}&from=now-7d&to=now">
                   <i class="external bar chart icon" data-content="Submissions"></i>Submissions (Landscape)
               </a>
              </div>

              <div class=item>
              <a href="{{pomspath}}/campaign_time_bars?campaign_stage_id={{CampaignStage.campaign_stage_id}}&tdays=7&tmax={{last_activity}}">
                <i class="external submissions icon" data-content="Submissions for CampaignStage Time Bars (1wk)" data-variation="basic"></i>Submission Time Bars (1wk)
              </a>
              </div>
              <div class=item>
                <a href="{{pomspath}}/campaign_task_files?campaign_stage_id={{CampaignStage.campaign_stage_id}}&tmax={{last_activity}}"><i class="external file icon" data-content="List file statistics for Submissions for CampaignStage" data-variation="basic"></i>Campaign Stage Submission Files</a>
              </div>
          </div> <!-- class=menu -->
    </div>
    <div class="ui segment raised">
         <h3>Actions</h3>
         <div class=menu>
              <div class=item>
                <a href="{{pomspath}}/campaign_edit?jump_to_campaign={{CampaignStage.campaign_stage_id}}" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}>
                <i class="external edit icon" data-content="Edit CampaignStage" data-variation="basic"></i>Edit Campaign Stage</a>
               </div>

              <div class=item>
                <a href="{{pomspath}}/launch_jobs?campaign_stage_id={{CampaignStage.campaign_stage_id}}" {{"disabled" if (session_role=="analysis"
                   and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                >
                   <i class="external rocket icon" data-content="Immediately Launch Submissions for CampaignStage" data-variation="basic">
                   </i>
                  Launch Campaign Stage Jobs Now
               </a>
              </div>
              <div class=item>
                <a href="{{pomspath}}/launch_jobs?test_launch=1&campaign_stage_id={{CampaignStage.campaign_stage_id}}" {{"disabled" if (session_role=="analysis"
                   and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                >
                   <i class="external rocket icon" data-content="Immediately Launch Test Submissions for CampaignStage" data-variation="basic">
                   </i>
                  Launch Campaign Stage Test Jobs Now
               </a>
              </div>

              <div class=item>
                <a href="{{pomspath}}/kill_jobs?campaign_stage_id={{CampaignStage.campaign_stage_id}}&act=kill" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                >
                   <i class="external trash icon" data-content="Kill running/idle jobs in CampaignStage" data-variation="basic">
                   </i>Kill running/idle Jobs for Campaign Stage
                </a>
              </div>

              <div class=item>
                <a href="{{pomspath}}/kill_jobs?campaign_stage_id={{CampaignStage.campaign_stage_id}}&act=hold" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                >
                   <i class="external pause icon" data-content="Hold running/idle jobs in CampaignStage" data-variation="basic">
                   </i>Hold running/idle Jobs for Campaign Stage
               </a>
              </div>

              <div class=item>
                 <a href="{{pomspath}}/kill_jobs?campaign_stage_id={{CampaignStage.campaign_stage_id}}&act=release" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                 >
                    <i class="external play icon" data-content="Release held jobs in CampaignStage" data-variation="basic">
                    </i>Release held  Jobs for Campaign Stage
                </a>
              </div>

              <div class=item>
                 <a href="{{pomspath}}/schedule_launch?campaign_stage_id={{CampaignStage.campaign_stage_id}}" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                 >
                    <i class="external calendar icon" data-content="Schedule Future Launches" data-variation="basic">
                    </i>Schedule Future Job Launches
                 </a>
            </div>

             <div class=item>
              {% if CampaignStage.active %}
                 <a href="{{pomspath}}/mark_campaign_active?campaign_stage_id={{CampaignStage.campaign_stage_id}}&is_active=False" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                 >
                    <i class="external hide icon" data-content="Mark CampaignStage Inactive" data-variation="basic">
                   </i>Mark Campaign Stage Inactive
                 </a>
              {% else %}
                  <a href="{{pomspath}}/mark_campaign_active?campaign_stage_id={{CampaignStage.campaign_stage_id}}&is_active=True" {{"disabled" if (session_role=="analysis"
                         and CampaignStage.creator!=current_experimenter.experimenter_id) or CampaignStage.experimenter_holder_obj}}
                  >
                    <i class="external unhide icon" data-content="Mark Campaign Stage Active" data-variation="basic">
                    </i>Mark Campaign Stage Active
                  </a>
              {% endif %}
             </div>
             <style type="text/css">
                     a[disabled] {
                     pointer-events: none;
                     }
             </style>
          </div> <!-- class=menu -->
   </div>  <!-- class=ui segment raised -->

   <div class="ui segment raised ">
        <h3>Campaigns stage is part of</h3>

        <div class="ui search">
            <div class="ui left icon input">
               <input type="text" id="tag_field" name="tag" placeholder="Enter Campaign" class="prompt">
               <i class="tag icon"></i>
            </div>

            <button class="ui icon small blue button" id="add_button">
              <i class="plus icon"></i>
            </button>
            <div id="response" style="display:inline; vertical-align: bottom; font-style: italic;"></div>

            <div class="results"></div>
        </div>


        <div id="tag_container">
    {% for tag in campaigns %}
        <span>
            <a href="{{pomspath}}/search_tags?q={{tag.tag_name}}" class="ui blue tag label" id="{{CampaignStage.campaign_stage_id}}_{{tag.campaign_id}}_">{{tag.tag_name}}</a>
            <i class="trash outline bordered inverted blue icon link poms_tag" id="{{CampaignStage.campaign_stage_id}}_{{tag.campaign_id}}" style="border-radius: 5px;"></i>
        </span>
        <br/>
    {% endfor %}
        </div>

    </div>
  </div>
  <div class="ui horizontal segments">

   <div class="ui segment raised">
    <h3>Campaign Stage</h3>
    <b>Name</b>: {{CampaignStage.name}}<br>
    <b>Experiment</b>: {{CampaignStage.experiment}}<br>
    <b>Dataset</b>: {{CampaignStage.dataset}}<br>
    <b>Software Version</b>: {{CampaignStage.software_version}}<br>
    <b>VO Role</b>: {{CampaignStage.vo_role}}<br>
    {% if CampaignStage.param_overrides %}
    <b>Param Overrides</b>: [{% for pair in CampaignStage.param_overrides %} <br>&nbsp;&nbsp; {{pair}}  {% endfor %}] <br>
    {% endif %}
    {% if CampaignStage.test_param_overrides %}
    <b>Test Param Overrides</b>: [{% for pair in CampaignStage.test_param_overrides %} <br>&nbsp;&nbsp; {{pair}}  {% endfor %}] <br>
    {% endif %}
    <b>cs_split_type</b>: {{CampaignStage.cs_split_type}}<br>
    <b>cs_split_dimensions</b>: {{CampaignStage.cs_split_dimensions}}<br>
    <b>cs_last_split</b>: {{CampaignStage.cs_last_split}} <a href="{{pomspath}}/reset_campaign_split?campaign_stage_id={{CampaignStage.campaign_stage_id}}"><button class="mini ui button"><i class="fast backward icon"></i>Reset</button></a><br>
    <b>Active</b>: {{CampaignStage.active}} <br>
    <b>Created</b>: {{CampaignStage.created}}<br>
    <b>Creator</b>: {{Campaign_info.Experimenter.username}}<br>
    <b>Updated</b>: {{CampaignStage.updated}}<br>
    <b>Updater</b>: {{Campaign_info.Experimenter.username}}<br>
    </div>


  <div class="ui segment raised ">
    <h3>Job Type</h3>

    <b>Name</b>: {{Campaign_definition_info.JobType.name}}<br>
    <!--<b>experiment</b>: {{Campaign_definition_info.JobType.experiment}}<br>-->
    <b>Launch/Setup</b>: {{Campaign_definition_info.JobType.launch_script}}<br>
    <b>Definition Parameters</b>: [{% for pair in Campaign_definition_info.JobType.definition_parameters %} <br>&nbsp;&nbsp; {{pair}}  {% endfor %}] <br>
    <b>Input Files Per Job</b>: {{Campaign_definition_info.JobType.input_files_per_job}}<br>
    <b>Output Files Per Job</b>: {{Campaign_definition_info.JobType.output_files_per_job}}<br>
    <b>Output File Patterns</b>: {{Campaign_definition_info.JobType.output_file_patterns}}<br>
    <b>Creator</b>: {{Campaign_definition_info.Experimenter.username}}<br>
    <b>Created</b>: {{Campaign_definition_info.JobType.created}}<br>
    <b>Updater</b>: {{Campaign_definition_info.Experimenter.username}}<br>
    <b>Updated</b>: {{Campaign_definition_info.JobType.updated}}<br>
    <b>
    </div>
  </div>
    <div class="ui segment raised">
    <h3>Launch/Setup</h3>
    <b>Name</b>: {{login_setup_info.LoginSetup.name}}<br>
    <b>Experiment</b>: {{CampaignStage.experiment}}<br>
    <b>Launch Host</b>: {{login_setup_info.LoginSetup.launch_host}}<br>
    <b>Launch Account</b>: {{login_setup_info.LoginSetup.launch_account}}<br>
    <b>Launch Setup</b>: {{login_setup_info.LoginSetup.launch_setup}}<br>
    <b>Creator</b>: {{login_setup_info.Experimenter.username}}<br>
    <b>Created</b>: {{login_setup_info.LoginSetup.created}}<br>
    <b>Updater</b>: {{login_setup_info.Experimenter.username}}<br>
    <b>Updated</b>: {{login_setup_info.LoginSetup.updated}}<br>
    </div>

   <div class="ui segment raised">
    <h3>Immediate Dependencies</h3>
    <br>
      {{dep_svg|safe}}
  </div>


 <div class="ui segment raised">
   <h3>Recent Launch Outputs </h3>
   <ul>
   {%for f in launch_flist|sort(reverse=True)%}
      <li>
      <a href="list_launch_file?campaign_stage_id={{CampaignStage.campaign_stage_id}}&fname={{f}}">{{f}}</a>
   {%endfor%}
   </ul>
 </div>



<script>
    var protocol = window.location.protocol;
    var hostname = window.location.hostname;
    var appname = window.location.pathname.split("/")[1];
    var querypath = protocol + "//" + hostname + "/" + appname + "/auto_complete_tags_search";


    var experiment = "{{CampaignStage.experiment}}";
    $('.ui.search')
        .search({
            apiSettings: {
                url: querypath + "?q={query}&experiment=" + experiment
            },
            fields: {
                title: 'tag_name'
            },
            //minCharacters : 3
        });
</script>

<script>
    $(function() {

        var now = new Date()
        var nows = now.getTime()
        nows = nows - (nows % 300000)
        nows = nows.toString()

        $.getJSON("/poms/json_job_counts?tmin={{tmins}}&tmax={{tmaxs}}&campaign_stage_id={{CampaignStage.campaign_stage_id}}&uuid="+nows,function(data) {
            for (var k in data) {
               id = "data_{{CampaignStage.campaign_stage_id}}_" + k.replace(" ","_")
               console.log("trying to update a with id " + id)
               $("a#" + id).html(data[k])
            }
        })

        $.getJSON("/poms/json_efficiency_for_campaigns?tmin={{tmins}}&tmax={{tmaxs}}&cl={{CampaignStage.campaign_stage_id}}&uuid="+nows, function(data) {
            for (var k in data) {
               id = "data_" + k + "_efficiency"
               console.log("trying to update a with id " + id)
               $("a#" + id).html(data[k])
            }
        })

        $.getJSON("/poms/json_pending_for_campaigns?tmin={{tmins}}&tmax={{tmaxs}}&cl={{CampaignStage.campaign_stage_id}}&uuid="+nows, function(data) {
            for (var k in data) {
               id = "data_" + k + "_pending"
               console.log("trying to update a with id " + id)
               if (data[k] == -1) {
                   $("a#" + id).html('N/A')
               } else {
                   $("a#" + id).html(data[k])
               }
            }
        })
    });
</script>

{%endblock%}
