{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>

    <style type="text/css">
    div.scrollable {
        width: 100%;
        overflow-x: scroll;
    }
    div.scrollable table {
        width: 300%;
    }
    </style>
{%endblock%}

{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">Campaign Definitions</div>
</div>
{%endblock%}

{%block header%}
<h1 class="ui header">
    Campaign Definitions {%include 'help_button.html'%}
</h1>
{%endblock%}

{%block subheader%}
{%endblock%}

{%block content%}


<form id="campaign_definition_form" class="ui form" action="campaign_definition_edit" method="POST">

  <select class="ui dropdown" name="experiment" id="cdf_experiment">
    <option value="">Choose Experiment</option>
    {% for row in data.exp_selections %}
    <option value="{{row.experiment}}" {{ 'selected="selected"' if (data.curr_experiment == row.experiment) }}>{{row.name}}</option>
    {% endfor %}
  </select>

  {% if data.curr_experiment is defined %} 
  <table class="ui sortable celled table">
    <thead>
      <tr>
	<th></th>
	<th>Name</th>
	<th>Input Files Per Job</th>
	<th>Output Files Per Job</th>
	<th>Output File Patterns</th>
	<th>Launch Script</th>
	<th>Definition Parameters</th>
	<th>Recoveries</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data.definitions %}
      <tr>
	<td class="collapsing">
          {% if data.authorized==True %}
	  <i class="large edit link blue icon"  onclick="edit_definition({{loop.index}});"></i>
	  <i class="large trash link blue icon" onclick="delete_definition('{{row.CampaignDefinition.campaign_definition_id}}');"></i>
	  {% else %}
	  <i class="disabled large edit link blue icon">
	  <i class="disabled large trash link blue icon">
	  {% endif %}
	</td>
	<td id="cdf_id_{{loop.index}}" style="display:none;">{{row.CampaignDefinition.campaign_definition_id}}</td>
	<td id="cdf_name_{{loop.index}}">{{row.CampaignDefinition.name}}</td>
	<td id="cdf_input_{{loop.index}}">{{row.CampaignDefinition.input_files_per_job}}</td>
	<td id="cdf_output_{{loop.index}}">{{row.CampaignDefinition.output_files_per_job}}</td>
	<td id="cdf_outputpat_{{loop.index}}">{{row.CampaignDefinition.output_file_patterns|replace("None","")}}</td>
	<td id="cdf_script_{{loop.index}}">{{row.CampaignDefinition.launch_script|replace("None","")}}</td>
	<td id="cdf_definition_{{loop.index}}">{{row.CampaignDefinition.definition_parameters|replace("None","")}}</td>
	<td id="cdf_recovery_{{loop.index}}">
            [
            {%for recov in data.recoveries %}
              {%if recov.campaign_definition_id == row.CampaignDefinition.campaign_definition_id %}
                 "{{recov.recovery_type.name}}"{%if not loop.last%},{%endif%}
              {%endif%}
            {%endfor%}
            ]
       </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
	<th colspan="6">
	  <button class="ui labled teal icon button" onclick="add_definition();return false;" {{ 'disabled' if (data.authorized==False) }}>
	    <i class="icon add square"></i>
	    Add 
	  </button>
	</th>
      </tr>
    </tfoot>
  </table>
  {% endif %}
  <input type="hidden" id="action" name="action" value="find">
</form>

<div class="ui modal" id="confirm_modal">
  <i class="close icon"></i>
  <div class="header">
    Delete Experiment
  </div>
  <div class="image content">
    <div class="image">
      <i class="delete icon"></i>
    </div>
    <div class="description">
      <div class="ui header"><label id="confirm_modal_message">Message Goes Here</label></div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui buttons">
      <button class="ui pink deny button">
	No
      </button>
      <button id="approved_btn" class="ui teal approve button">
	<i class="checkmark icon"></i>
	Yes
      </button>
    </div>
  </div>
</div> <!-- Ends confirm_modal -->

<div class="ui modal" id="definition_add_edit_modal">
  <i class="close icon"></i>
  <h3 class="block header" id="ae_experiment">
    Campaign Definition Editor SPUD
  </h3>
  <div class="ui hidden divider"></div>
  <div class="ui text container">
    <form id="definition_add_edit_form" class="ui form" method="POST" action="campaign_definition_edit">
      <div class="three fields">
	<div class="field">
          <label>Name</label>
          <input type="text" id="ae_definition_name" name="ae_definition_name" placeholder="Definition Name">
	</div>
	<div class="field">
          <label>Input Files Per Job</label>
          <input type="text" id="ae_input_files_per_job" name="ae_input_files_per_job">
	</div>
	<div class="field">
          <label>Output Files Per Job</label>
          <input type="text" id="ae_output_files_per_job" name="ae_output_files_per_job">
	</div>
	<div class="field">
          <label>Output File Patterns</label>
          <input type="text" id="ae_output_file_patterns" name="ae_output_file_patterns">
	</div>
      </div>
      <div class="one field">
	<div class="field">
          <label>Launch Script</label>
          <textarea id="ae_launch_script" name="ae_launch_script" placeholder="Launch Script"></textarea>
	</div>
      </div>
      <div class="one field">
	<div class="field">
          <label>Definition Parameters <i class="large edit link blue icon" id="edit_param_modal_btn"></i></label>
          <textarea id="ae_definition_parameters_text" disabled>[]</textarea>
	</div>
      </div>
      <div class="one field">
	<div class="field">
           <label>Recovery Launches <i class="large edit link blue icon" id="edit_recovery_modal_btn"></i></label>
          <textarea id="ae_definition_recovery_text" disabled></textarea>
        </div>
      </div>
      <div class="actions">
	<div class="ui button deny pink">Cancel</div>
	<input type="submit" value="Submit" class="ui button teal" {{ 'disabled' if (data.authorized==False) }}/>
      </div>      
      <input type="hidden" name="experiment" value="{{ data.curr_experiment if data.curr_experiment is defined}}">
      <input type="hidden" name="action" id="ae_definition_action" value="add">
      <input type="hidden" id="ae_experimenter_id" name="experimenter_id" value="{{current_experimenter.experimenter_id}}">
      <input type="hidden" id="ae_campaign_definition_id" name="ae_campaign_definition_id" value="0">
      <input type="hidden" id="ae_definition_parameters" name="ae_definition_parameters" value="[]">
    </form>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends definition_add_edit_modal -->

<div class="ui small modal" id="edit_param_modal">
  <i class="close icon"></i>
  <div class="header">
    Definition Parameters Editor
  </div>
  <div class="ui text container">
    <div class="scrollable">
      <table class="ui celled table" id="ep_table">
	<thead>
	  <tr>
	    <th>Key</th>
	    <th>Value</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody id="ep_tbody">
	</tbody>
	<tfoot>
	  <tr>
	    <th colspan="3">
	      <div class="actions">
		<button class="ui button deny pink">Cancel</button>
		<button class="ui button approve teal" {{ 'disabled' if (data.authorized==False) }}>Accept</button>
	      </div>
	    </th>
	  </tr>
	</tfoot>
      </table>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends edit_param_modal  -->

<div class="ui small modal" id="edit_recovery_modal">
  <i class="close icon"></i>
  <div class="header">
    Definition Recovery Editor
  </div>
  <div class="ui text container">
    <div class="scrollable">
       <ol>
         {% for i in range(10) %}
         <li> 
             <select id="re_recover_{{i}}">
                <option value="None">-</option>
                {% for rtype in data.rtypes %}
                <option value="{{rtype[0]}}">{{rtype[0]}} -- {{rtype[1]}}</option>
                {% endfor %}
             </select>
         {%endfor%}
       </ol>
      <div class="actions">
       <button class="ui button deny pink">Cancel</button>
       <button class="ui button approve teal" {{ 'disabled' if (data.authorized==False) }}>Accept</button>
       </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends edit_param_modal  -->
<script type="text/javascript">

$('#definition_add_edit_form')
  .form({
    fields: {
      ae_definition_name            : 'empty',
      ae_input_files_per_job        : 'empty',
      ae_output_files_per_job       : 'empty',
      ae_output_file_patterns       : 'empty',
      ae_launch_script              : 'empty',
      ae_definition_parameters_text : 'empty',
      ae_definition_recovery_text   : 'empty'
    }
  })


$("#cdf_experiment").change(function() {
    $("#campaign_definition_form").submit();
  });

function create_row(index, key, value) {
    return row;
}

var ep_parms = [];

$("#edit_recovery_modal_btn").click(function() {
  var recoveries = $("#ae_definition_recovery_text").val();
  var rlist = JSON.parse(recoveries);
  var i = 0;
  for (i = 0 ; i < rlist.length; i++ ) {
      var sel = "#re_recover_"+i.toString()+" option[value="+rlist[i]+"]";
      var opt = $(sel);
      var s = opt.val();
      opt.prop('selected','selected');
  }
  $("#edit_recovery_modal").modal({
    closable  : false,
    onApprove : function(){
      var rlist = [];
      for (i = 0; i < 10 ; i++) {
         rlist.push( $("#re_recover_"+i.toString()+" option:selected").val());
      }
      var sval = JSON.stringify(rlist);
      $("#ae_definition_recovery_text").val(sval);
      $("#definition_add_edit_modal").modal('show');
    },
    onDeny : function(){
      $("#definition_add_edit_modal").modal('show');
    },
    }).modal('show');
});

$("#edit_param_modal_btn").click(function() {
  var parms_str = $("#ae_definition_parameters").val();
  if (parms_str != "") {
    //ep_parms = eval ("(" + parms_str + ")");
    ep_parms = JSON.parse(parms_str);
  }
  ep_build_table_body();
  $("#edit_param_modal").modal({
    closable  : false,
    onApprove : function(){
      var data = ep_build_parms_string();
      if (data[0] == "") {
        $("#ae_definition_parameters_text").val(data[1]);
        $("#ae_definition_parameters").val(data[1]);
        $("#definition_add_edit_modal").modal('show');
      } else {
          return false;
      }
    },
    onDeny : function(){
      $("#definition_add_edit_modal").modal('show');
    },
    }).modal('show');
});

function ep_build_parms_string() {
  var parms = "[";
  var message = "";
  rebuild_ep_parms();
  for (index = 0; index < ep_parms.length; index++) {
    key = ep_parms[index][0];
    value = ep_parms[index][1];
    if ((key != "") && (value != "")) {
      if (parms != "[") {
        parms += ",";
      }
      parms += '["' +key+ '","' +value+ '"]';
    } else if ((key == "") && (value == "")){
      continue;
    } else {
      message = "A row is missing the key or value.";
      break;
    }
  }
  parms += "]"
  return [message, parms];
} 

function ep_build_table_body() {
  $("#ep_tbody").text("");
  if (ep_parms.length ==0) {
    ep_parms.push(["",""]);
  }
  for (index = 0; index < ep_parms.length; index++) {
    var ep_row = "ep_row_" + index;
    var ep_key = "ep_key_" + index;
    var ep_val = "ep_val_" + index;		  
    var row = '<tr id="' +ep_row+ '">';
    row +=       '<td class="brown">'
    row +=          '<div class="ui fluid input">'
    row +=             '<label></label>'
    row +=             '<input type="text" id="' +ep_key+  '" value="' +ep_parms[index][0]+ '">'
    row +=          '</div>'
    row +=       '</td>';
    row +=       '<td>'
    row +=          '<div class="ui fluid input">'
    row +=             '<label></label>'
    row +=             '<input type="text" id="' +ep_val+  '" value="' +ep_parms[index][1]+ '">'
    row +=          '</div>'
    row +=       '</td>';
    row +=       '<td  class="collapsing">'
    row +=         '<i class="blue icon link add square" onclick="ep_add_button('+index+');"></i>'
    row +=	   '<i class="blue icon link minus square" onclick="ep_delete_button('+index+');"></i>'
    row +=	   '<i class="blue icon link arrow square up" onclick="ep_up_button('+index+');"></i>'
    row +=	   '<i class="blue icon link arrow square down" onclick="ep_down_button('+index+');"></i>'
    row +=       '</td>';
    row +=     '</tr>'
    $("#ep_tbody").append(row);
  }		
  $("#edit_param_modal").modal('refresh');
}

function rebuild_ep_parms() {
  ep_parms = []
  var rowCount = $("#ep_table >tbody >tr").length;
  for (index=0; index< rowCount; index++) {
    var ep_key = "#ep_key_" + index;
    var ep_val = "#ep_val_" + index;
    var key = $(ep_key).val();
    var val = $(ep_val).val();
    ep_parms.push([key,val]);
  }
}

function ep_add_button(current_row) {
  rebuild_ep_parms();
  ep_parms.splice(current_row+1, 0, ["",""] );
  ep_build_table_body();
}
		  
function ep_delete_button(current_row) {
  rebuild_ep_parms();
  ep_parms.splice(current_row, 1 );
  ep_build_table_body();
}
		  
function ep_up_button(current_row) {
  if (current_row > 0) {
    rebuild_ep_parms();
    var hold = ep_parms[current_row-1];
    ep_parms[current_row-1] = ep_parms[current_row];
    ep_parms[current_row] = hold;
    ep_build_table_body();
  } 
}
		  
function ep_down_button(current_row) {
  if (current_row < (ep_parms.length-1)) {
    rebuild_ep_parms();
    var hold = ep_parms[current_row+1];
    ep_parms[current_row+1] = ep_parms[current_row];
    ep_parms[current_row] = hold;
    ep_build_table_body();
  } 
}
		  
  function delete_definition(name) {
    var definition = name; 
    $("#confirm_modal_message").text("Delete the campaign definition named " +name+" ?")
    mod_form = $("#confirm_modal").modal({
    closable  : false,
    onApprove : function(){
      $("#action").val('delete');
      $("<input>").attr({'type':'hidden','name': 'name', 'value': definition}).appendTo("#campaign_definition_form");
      $("#campaign_definition_form").submit();
    },
    }).modal('show');
  }

  function edit_definition(index) {
    $("#ae_experiment").text("Campaign Definition Editor  ({{ data.curr_experiment if data.curr_experiment is defined}})");
    $("#ae_definition_action").val("edit");
    $("#ae_campaign_definition_id").val( $("#cdf_id_"+index).text()  );
    $("#ae_definition_name").val( $("#cdf_name_"+index).text() );
    $("#ae_launch_script").val( $("#cdf_script_"+index).text() );
    $("#ae_definition_parameters_text").val( $("#cdf_definition_"+index).text() );
    $("#ae_definition_parameters").val( $("#cdf_definition_"+index).text() );
    $("#ae_input_files_per_job").val( $("#cdf_input_"+index).text() );
    $("#ae_output_files_per_job").val( $("#cdf_output_"+index).text() );
    $("#ae_output_file_patterns").val( $("#cdf_outputpat_"+index).text() );
    $("#ae_definition_recovery_text").val( $("#cdf_recovery_"+index).text() );
    $("#definition_add_edit_modal").modal('show');
  }

  function add_definition() {
    $("#definition_add_edit_modal").form('reset');
    $("#ae_experiment").val("{{ data.curr_experiment if data.curr_experiment is defined}}");
    $("#definition_add_edit_modal").modal({
    }).modal('show');
  }

$(document).ready(function(){
  if ("{{ data.message }}" != "None") {
    $("#poms_message_data").text("{{ data.message }}");
    $("#display_message_modal").modal('show');  
  }
});

$('#cdf_experiment')
  .dropdown()
;

</script>


{%endblock%}

