{%extends "layout.html" %}

{%block title%}
<title>POMS Campaign Overview</title>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js"></script>
<script type="text/javascript">
	function confirm_call(msg, url, icon = null) {
	   var r = confirm(msg);
	   if ( r ) {
		   if (icon != null){
			   $(icon).attr("disabled", true);
			   $(icon).children('i').eq(0).addClass("spinner");
			   $(icon).children('i').eq(0).addClass("loading");
		   }
		   location.assign(url)
	   }
	}
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css">
{%endblock%}

{%block header%}
<h1 class="ui header">
          Campaign Overview: {{tag}}
</h1>
{%endblock%}

{%block subheader%}
Campaign: <a class="stagelink" href="{{pomspath}}/show_campaign_stages/{{session_experiment}}/{{session_role}}?campaign_name={{s.name|urlencode}}">{{s.name}}</a> <span class="ui label">{{s.campaign_id}}</span>
&nbsp;
{%endblock%}

{%block content %}
           
		<div class="ui horizontal segments">
			<div class="ui segment raised">
				<h3>Reports/Status</h3>
				<div class=menu>
					<div class=item>
						<a href="{{pomspath}}/campaign_stage_submissions/{{session_experiment}}/{{session_role}}?campaign_name={{s.name}}&stage_name=*&campaign_id={{s.campaign_id}}&tdays=7&tmax={{last_activity}}" target='_blank'>
							<i class="chart line icon"></i> Campaign Stage Submissions
						</a>
					</div>
					<div class=item>
					   	<a href="{{pomspath}}/campaign_deps/{{session_experiment}}/{{session_role}}?campaign_name={{s.name|urlencode}}" target='_blank'>
							<i class="sitemap icon"></i> Campaign Dependencies
					   	</a>
					</div>
					<div class=item>
						<i class="clipboard outline icon"></i>
						<a href="{{pomspath}}/campaign_task_files/{{session_experiment}}/{{session_role}}?&campaign_id={{s.campaign_id}}&tdays=7&tmax={{last_activity}}">
							<i class="external file icon" data-content="List file statistics for Submissions for CampaignStage" data-variation="basic"></i> Campaign Submission Files
						</a>
					</div>
				</div>
			</div>
			<div class="ui segment raised">
				<h3>Actions</h3>
				<div class=menu>
					<div class=item>
						<button onclick="confirm_call('Are you sure you want to launch jobs now?','{{pomspath}}/launch_campaign/{{session_experiment}}/{{session_role}}?campaign_id={{s.campaign_id}}', this);">
							<i class="chart rocket icon blue"></i> Launch Campaign
						</button>
					</div>
					<div class=item>
					   	<a href="{{pomspath}}/gui_wf_edit/{{session_experiment}}/{{session_role}}?campaign={{s.name|urlencode}}" target='_blank'>
							<i class="edit icon blue"></i> Edit Campaign
						</a>
					</div>
					<div class=item>
						<button class="button" onclick="delete_campaign('{{s.name}}', '{{s.campaign_id}}');">
							<i class="trash blue icon"></i> Delete Campaign
						</button>
					</div>
				</div> 
			</div> 
		</div>  
		<div class="ui horizontal segments" >
			<div class="ui segment raised" style="max-width: 33%; ">
				<h3>Campaign Details</h3>
				<div style="max-height: 300px; overflow-y: scroll;">
					<b>Name</b>: {{s.name}}<br/>
					<b>Experiment</b>: {{s.experiment}}<br/>
					<b>Creator</b>: {{s.experimenter_creator_obj.username}}<br/>
					<b>Defaults</b>: {{s.defaults}}<br/>
					<b>Active</b>: {{s.active}}<br/>
					<b>Campaign Type</b>: {{s.campaign_type}}<br/>
					<b>Campaign Keywords</b>: {{s.campaign_keywords}}<br/>
				</div>
			</div>
			<div class="ui segment raised" >
				<h3>Campaign Tags</h3>
				<div style="max-width: 33%; max-height: 300px; overflow-y: scroll;">
					{% for tag in s.tags %}
					{{tag.tag_name}}
					{% endfor %}
				</div>
			</div>
			<div style="max-height:300px;" class="ui segment raised">
				<h3>Campaign Stages</h3>
				<div style="max-height: 300px; overflow-y: scroll;">
					{% for CampaignStage in s.stages %}
					<b>Stage</b>: <a href="{{pomspath}}/campaign_stage_info/{{session_experiment}}/{{session_role}}?campaign_stage_id={{CampaignStage.campaign_stage_id}}">{{CampaignStage.name}}</a> <span class="ui label">{{CampaignStage.campaign_stage_id}}</span><br/>
					{% endfor %}]
				</div>
			</div>
		</div>
		<div class="ui segment raised">
			<h3>Campaign Overview</h3>
			<br/>
			<hrule>
				{{svgdata|safe}}
			</div>
		</div>

{%endblock%}

{%block final%}

{%endblock%}


   