{%extends "layout.html" %}

{%block title%}
<title>POMS Data Dispatcher testing page (temporary)</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css">
{%endblock%}

{%block header%}
<div class="dd-banner">
    This is a fixed top banner.
</div>
<h1 class="ui header">POMS Data Dispatcher testing page (temporary)</h1>
<h2 class="sub header">Method Called: {{method}}</h2>
{%endblock%}

{%block content %}
<input id="tokenLifespan" value="{{timestamp}}" hidden>
<div class="ui horizontal segments">
	<div class="ui segment raised" style="width: 20%;">
		<h3>Sign in with password</h3>
		<div class=menu>
            <div class="item">
                <label for="username">Username</label>
                <input id="username" type="text">
            </div>
            <div class="item">
                <label for="password">Password</label>
                <input id="password" type="password" >
            </div>
            <div class="item">
                <button class="login_submit" id="login_password">Login</button>
            </div>
		</div>
	</div>
    <div class="ui segment raised" style="width: 20%;">
		<h3>Sign in with token</h3>
		<div class=menu>
            <div class="item">
                <button class="login_submit" id="login_token">Login</button>
            </div>
		</div>
	</div>
    <div class="ui segment raised" style="width: 60%;">
		<h3>Login Status</h3>
		<div class=menu>
            <div class="item">
                <label for="login_method">Login Method: </label>
                <a id="login_method">{{login_method if login_method else 'N/A'}}</a>
            </div>
            <div class="item">
                <label for="login_status">Status: </label>
                <a id="login_status">{{login_status}}</a>
            </div>
            <div class="item">
                <label for="signed-in-user">User: </label>
                <a id="signed-in-user">{{dd_username if dd_username else 'N/A'}}</a>
            </div>
            <div class="item">
                <label for="experiment">Environment: </label>
                <a id="experiment">{{dd_experiment if dd_experiment else 'N/A'}}</a>
            </div>
            <div id="timestamp-item" class="item">
                <label for="timeTillExpire">Token TTL: </label>
                <a style="width: 400px;" id="timeTillExpire">N/A</a>
            </div>
		</div> 
	</div> 
</div>
<h3>Get data for this experiment</h3>
<div class="ui horizontal segments">
    <div class="ui segment raised" style="max-width: 25%;">
		<h3>List RSEs</h3>
		<div class=menu>
            <div class="item">
                <div class=item>
                    <button style="width: 120px;">
                        <a style="width: 100px;" href="{{pomspath}}/data_dispatcher_test/{{session_experiment}}/{{session_role}}/{{username}}?command=list_rses">
                            <i class="chart rocket icon blue" data-content="List RSEs" data-variation="basic"></i>
                            List RSEs
                            <i class="chart rocket icon blue" data-content="List RSEs" data-variation="basic"></i>
                         </a>
                    </button>
                </div>
            </div>
		</div>
	</div>
	<div class="ui segment raised" style="max-width: 25%;">
        <h3>List Projects</h3>
        <div class=menu>
            <div class="item">
                <div class=item>
                    <button style="width: 150px;">
                        <a style="width: 120px;" href="{{pomspath}}/data_dispatcher_test/{{session_experiment}}/{{session_role}}/{{username}}?command=list_projects">
                            <i class="chart rocket icon blue" data-content="List Projects" data-variation="basic"></i>
                            List Projects
                            <i class="chart rocket icon blue" data-content="List Projects" data-variation="basic"></i>
                            </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% if all_rses %}
    <h3>Results</h3>
    <div class="ui horizontal segments">
        <div class="ui segment raised" style="max-width: 100%;">
            <div class="ui horizontal segments">
                <div class="ui segment raised" style="max-width: 15%;">
                    <b>Filter Options: </b>
                </div>
                <div class="ui segment raised" style="max-width: 85%;">
                    <div class="dd-search-container">
                        <label for="rse-name">RSE: </label>
                        <input class="dd-search" type="text" id="rse-name">
                        <div class="dd-search-result-icon"></div>
                    </div>
                </div>
            </div>
            <div class="dd-results-box" id="all_rse_result">
                <div class="dd-results-row-header">
                    <div class="dd-results-row-label dd-toggle-active rse-label"><h2>Active</h2></div>
                    <div class="dd-results-row-label dd-toggle-inactive rse-label"><h2>Inactive</h2></div>
                </div>
                <div class="dd-results-row dd-row-toggle-inactive rses_row" id="active_rses" style="display: none;">
                    {% for rse in all_rses if rse.is_enabled %}
                        <div class="dd-results-card" style="width:30%;">
                            <div class="dd-results-card-header">
                                <p><span class="active-rses-rse-name">{{rse.name}}</span></p>
                            </div>
                            <div class="dd-results-card-body">
                                {% for key, value in rse.items() %}
                                    {% if (not (key == "name" or key == "is_available") and value) or value == 0 %}
                                    <a>* {{key|replace("_", " ")|title }}: <span class='active-rses-rse-{{key|replace("_", "-")}}' >{{value}}</span></a><br/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="dd-results-row dd-row-toggle-inactive rses_row" id="inactive_rses" style="display: none;">
                    {% for rse in all_rses if not rse.is_enabled %}
                        <div class="dd-results-card" style="width:30%;">
                            <div class="dd-results-card-header">
                                <p><span class="inactive-rses-rse-name">{{rse.name}}</span></p>
                            </div>
                            <div class="dd-results-card-body">
                                {% for key, value in rse.items() %}
                                    {% if (not (key == "name" or key == "is_available") and value) or value == 0 %}
                                        <a>* {{key|replace("_", " ")|title }}: <span class='inactive-rses-rse-{{key|replace("_", "-")}}' >{{value}}</span></a><br/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 
{% endif %}
{% if all_projects %}
    <h3 style="text-align: center;">All Projects<span style='display:inline-block; width: 50%;'></span>Project Handles</h3>
    <div class="ui horizontal segments">
        <div class="ui segment raised" style="max-width: 50%;">
            <div class="ui horizontal segments">
                <div class="ui segment raised" style="max-width: 15%;">
                    <b>Filter Options: </b>
                </div>
                <div class="ui segment raised" style="max-width: 85%;">
                    <div class="dd-search-container">
                        <label for="project-id">Project ID: </label>
                        <input class="dd-search" type="text" id="project-id">
                        <div class="dd-search-result-icon"></div>
                    </div>
                    <div class="dd-search-container">
                        <label for="project-owner">Owner: </label>
                        <input class="dd-search" type="text" id="project-owner">
                        <div class="dd-search-result-icon"></div>
                    </div>
                </div>
            </div>
            <div class="dd-results-box" id="all_project_result" style="min-height:650px">
                <div class="dd-results-row-header">
                    <div class="dd-results-row-label dd-toggle-active project_label"><h2>Active: {{all_projects.active_count}}</h2></div>
                    <div class="dd-results-row-label dd-toggle-inactive project_label"><h2>Abandoned: {{all_projects.inactive_count}}</h2></div>
                </div>
                {% for all_projects_key, all_projects_values  in all_projects.items() %}
                    {% if not 'count' in all_projects_key %}
                        <div class="dd-results-row dd-row-toggle-inactive project_row" id="{{all_projects_key}}_projects" style="display: none;">
                            {% for item in all_projects_values %}
                                <div class="dd-results-card">
                                    <div class="dd-results-card-header">
                                        <p>Project ID: <span class="{{all_projects_key}}-projects-project-id">{{item.project_id}}</span></p>
                                    </div>
                                    <div class="dd-results-card-body">
                                        {% for key, value in item.items() %}
                                            {% if (not (key == "name" or key == "file_handles" or key == "project_id") and value) or value == 0 %}
                                                <a>* {{key|replace("_", " ")|title }}: <span class='{{all_projects_key}}-projects-project-{{key|replace("_", "-")}}' >{{value}}</span></a><br/>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="dd-results-card-footer" onclick='getProjectHandles(this, "{{item.project_id}}")'>View Handles</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="ui segment raised" style="max-width: 50%;">
            <div class="ui horizontal segments">
                <div class="ui segment raised" style="max-width: 15%;">
                    <b>Filter Options: </b>
                </div>
                <div class="ui segment raised" style="max-width: 85%;">
                    <div class="dd-search-container">
                        <label for="handle-name">Name: </label>
                        <input class="dd-search" type="text" id="handle-name">
                        <div class="dd-search-result-icon"></div>
                    </div>
                    <div class="dd-search-container">
                        <label for="handle-namespace">Namespace: </label>
                        <input class="dd-search" type="text" id="handle-namespace">
                        <div class="dd-search-result-icon"></div>
                    </div>
                    <div class="dd-search-container">
                        <label for="handle-state">State: </label>
                        <input class="dd-search" type="text" id="handle-state">
                        <div class="dd-search-result-icon"></div>
                    </div>
                </div>
            </div>
            <div class="dd-results-row-header">
                <div class="dd-results-row-label dd-toggle-active project_handle_label"><h2 id="project_handle_count">No project selected</h2></div>
            </div>
            <div id="active_project_handles" class="dd-results-row dd-row-toggle-inactive project_handle_row" style="display: none;"></div>
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    var countdownToSearch = 0;
    var ongoingCountdowns = [];
    var running=false;
    var cancelTimestampUpdates=false;
    var rseBackup = null;
    var backup = {
        "active_rses":$("#active_rses").html(),
        "inactive_rses":$("#inactive_rses").html(),
        "active_projects":$("#active_projects").html(),
        "inactive_projects":$("#inactive_projects").html(),
        "active_project_handles":$("#active_project_handles").html()
    };
    $(".dd-search").on('keyup', function(event){
        ongoingCountdowns.forEach((x)=>{
            clearTimeout(x);
        });
        var containers = [];
        var searchBoxes = [];
        var parent = null;
        // Determine where we want to search
        if (this.id.includes("project")){
            if($("#active_projects").hasClass("dd-row-toggle-active")){
                containers = [".active-projects-project-id", ".active-projects-project-owner"];
                parent = $("#active_projects");
            }
            else if($("#inactive_projects").hasClass("dd-row-toggle-active")){
                containers = [".inactive-projects-project-id", ".inactive-projects-project-owner" ];
                parent = $("#inactive_projects");
            }
            searchBoxes = ["#project-id", "#project-owner"];
        }
        else if (this.id.includes("handle")){
            containers = [".active-project-handles-handle-name", ".active-project-handles-handle-namespace", ".active-project-handles-handle-state" ];
            searchBoxes = ["#handle-name", "#handle-namespace", "#handle-state"];
            parent = $("#active_project_handles");
        }
        else if (this.id.includes("rse")){
            if($("#active_rses").hasClass("dd-row-toggle-active")){
                containers = [".active-rses-rse-name"];
                parent = $("#active_rses");
            }
            else if($("#inactive_rses").hasClass("dd-row-toggle-active")){
                containers = [".inactive-rses-rse-name"];
                parent = $("#inactive_rses");
            }
            searchBoxes = ["#rse-name"];
        }
        // In order to not kill our users browser, I implemented this countdown timer
        // which adds a status indicator in the text field the user is searching in for a 
        // 3 second interval. The countdown restarts each time a user adds a key to the
        // search criteria.
        $('.pending').removeClass("pending")
        $('.success').removeClass("success")
        $('.error').removeClass("error");
        if (parent == null){
            ongoingCountdowns.push(showError("Please expand one of the lists before searching."));
            return;
        }
        for(var i = 0; i < searchBoxes.length; i++){
            if($(searchBoxes[i]).val() !== '' && $(searchBoxes[i]).attr("id") != this.id){
                $(searchBoxes[i]).parent().find(".dd-search-result-icon").addClass("pending");
            }
        }
        $(this).parent().find(".dd-search-result-icon").addClass("pending");
        var timerUid = crypto.randomUUID().toString();
        countdownCancellationId = setTimeout((uid)=>{
            var searchTerms = [];
            searchAndHighlight(this.id, searchBoxes, containers, parent);
        }, 3000, timerUid);
        ongoingCountdowns.push(countdownCancellationId);
    });

    // Case insensitive contains selector for use in searchAndHighlight()
    jQuery.expr[':'].icontains = function(a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };

    function searchAndHighlight(searchBox, searchBoxes, containers, parent_row) {
        var priority = null;
        var firstMatch = null;
        var scrollTo = false;
        var totalMatches = 0;
        var logSearchCriteria = "";
        for(var i = 0; i < containers.length; i++){
            container = containers[i];
            searchTerm = $(searchBoxes[i]).val();
            $(container).removeClass("highlight");
            if (searchTerm !== '') {
                logSearchCriteria += (i == 0 ? "": ", ") + container.split("-").pop() + ": " + searchTerm;
                matches = $(container + ":icontains("+searchTerm.toString()+")");
                console.log(container + ": " + searchTerm + " - " + matches.length + " matches");
                matches.addClass("highlight")
                totalMatches += matches.length;
                if (matches.length > 0){
                    if (container.includes(searchBox)){
                        priority = matches.closest('.dd-results-card').first();
                    }
                    displaySearchResultIcon(true, searchBoxes[i]);
                }
                else{
                    displaySearchResultIcon(false, searchBoxes[i]);
                }
            }
            else{
                displaySearchResultIcon(null, searchBoxes[i]);
            }
        }
        console.log("Found " + totalMatches + (totalMatches == 1 ? ' match' : ' matches') +' for "' + logSearchCriteria + '" ');
        if (parent_row.children().has('span.highlight').length > 0){
            scrollTo = true;
            firstMatch = parent_row.children().has('span.highlight').first();
            var counthidden = 0;
            parent_row.children().each(function() {
                // Check if the child element's children do not contain the specific class
                if (!$(this).has('span.highlight').length > 0) {
                    $(this).hide();
                }
                else{
                    $(this).show();
                }
            });
            if (scrollTo) {
                if (priority != null){
                    console.log("scrolling to: priority");
                    parent_row.scrollTo(priority);
                }
                else{
                    console.log("scrolling to: firstMatch");
                    parent_row.scrollTo(firstMatch.closest('.dd-results-card'));
                }
            }
        }
        else{
            parent_row.children().show();
        }
    }

    // Set search result indicator to green for success
    // red for error
    function displaySearchResultIcon(hadResults, searchBox){
        $('.pending').removeClass("pending")
        $('.success').removeClass("success")
        $('.error').removeClass("error");
        var resultIcon = $(searchBox).parent().find('.dd-search-result-icon');
        setTimeout(()=>{
            if (hadResults == null){
                console.log("No search criteria: " + searchBox);
            }
            else{
                console.log("Set Results: " + searchBox);
                if (hadResults) {
                    resultIcon.addClass('success');
                } else {
                    resultIcon.addClass('error');
                }
            }
        }, 50);
    }
    

    $('.dd-results-row-label').click(function() {
        var toggleType = $(this).hasClass('dd-toggle-active') ? 'active' : 'inactive';
        var labelType = "";

        if ($(this).hasClass("project_handle_label")){
            labelType = "project_handles"
        }
        else{
            labelType = $(this).hasClass("project_label") ? 'projects' : 'rses';
        }

        var toggleRowId = toggleType + '_' + labelType;
        var toggleRow = $('#' + toggleType + '_' + labelType);
        var isRseSection = (labelType == "rses");
        var isProjectSection = (labelType == "project_handles" || labelType == "projects");
        var handleIsBeingDisplayed = $(".dd-results-card-footer-active").length > 0;
        var notRowLabel = [];
        var notResultRow = []

        // Determine which labels and rows we don't want to effect
        if (isRseSection){
            notRowLabel.push("project_label");
            notRowLabel.push("project_handle_label");
            notResultRow.push("project_row");
            notResultRow.push("project_handle_row");
        }
        else if (isProjectSection){
            notRowLabel.push("rse-label");
            notResultRow.push("rses_row");
            if (labelType == "project_handles"){
                notRowLabel.push("project_label");
                notResultRow.push("project_row");
            }
            if (labelType == "projects" && handleIsBeingDisplayed){
                notRowLabel.push("project_handle_label");
                notResultRow.push("project_handle_row");
            }
        }

        // create functions to pass to jquery.not() selector
        var labelsToAvoid = function(){
            for (var i = 0; i < notRowLabel.length; i++){
                item = notRowLabel[i];
                if ($(this).hasClass(item)){
                    return true;
                }
            }
            return false;
        }
        var rowsToAvoid = function(){
            for (var i = 0; i < notResultRow.length; i++){
                item = notResultRow[i];
                if ($(this).hasClass(item)){
                    return true;
                }
            }
            return this.id == toggleRowId;
        }

        // The missile knows where it is, because it knows where it isn't.
        $('.dd-results-row-label').not($(this)).not(labelsToAvoid).removeClass('dd-results-row-label-selected');

        if ($(this).hasClass('dd-results-row-label-selected')){
            $(this).removeClass('dd-results-row-label-selected');
        }
        else{
            $(this).addClass('dd-results-row-label-selected');
        }

        
        // Toggle the visibility of the current row
        if ($(".dd-row-toggle-active").length > 0){
            // The missile knows where it is, because it knows where it isn't.
            $(".dd-row-toggle-active").not(rowsToAvoid).slideUp("0.5s", complete=function(){
                $(".dd-row-toggle-active").not(rowsToAvoid).removeClass("dd-row-toggle-active").addClass("dd-row-toggle-inactive");
            });
        }
        
        if (toggleRow.hasClass("dd-row-toggle-inactive")){
            toggleRow.slideDown("0.5s", complete=function(){
                toggleRow.removeClass("dd-row-toggle-inactive").addClass("dd-row-toggle-active");
                makeElementsUniform(toggleRow.children(".dd-results-card"));
            });
        }
        else{
            toggleRow.slideUp("0.5s", complete=function(){
                toggleRow.removeClass("dd-row-toggle-active").addClass("dd-row-toggle-inactive");
            });
        }
    });

    $(".login_submit").on("click", (e) => {
        e.preventDefault();
        $.post("/poms/login_data_dispatcher",{
            method: (e.target.id == 'login_password'?'password':'token'),
            username: $("#username").val(),
            experiment: $('#session_experiment_id option:selected').html(),
            password: $("#password").val(),
          }, (data)=>{
            data = JSON.parse(data);
            if (data != null){
                if (data.login_status != null){
                    $("#login_status").html(data.login_status);
                    if (data.login_status != "Logged in"){
                        cancelTimestampUpdates=true;
                        running=false;
                        $("#login_method").html("N/A");
                        $("#signed-in-user").html("N/A");
                        $("#experiment").html("N/A");
                        $("#tokenLifespan").val("");
                        $("#timeTillExpire").html("N/A");
                    }
                }
                if(data.login_method != null){
                    $("#login_method").html(data.login_method);
                }
                if (data.dd_username != null){
                    $("#signed-in-user").html(data.dd_username);
                }
                if (data.dd_experiment != null){
                    $("#experiment").html(data.dd_experiment);
                }
                if (data.timestamp != null){
                    $("#timeTillExpire").html("Loading.");
                    showLoading();
                    cancelTimestampUpdates=true;
                    setTimeout(function() { 
                        $("#tokenLifespan").val(data.timestamp);
                        cancelTimestampUpdates=false;
                        updateTimestamp();
                     }, 2000);
                }
            }
          });
    });

    function capitalizeWords(str) {
        return str.toLowerCase().split('_').map((word) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
      }

    function getProjectHandles(self, project_id){
        if ($(self).html().includes("View")){
            $(".dd-results-card-footer").html("View Handles");
            $(".dd-results-card-footer").removeClass("dd-results-card-footer-active");
            $(self).html("Hide Handles");
            $(self).addClass("dd-results-card-footer-active");
            $.getJSON('{{pomspath}}/get_project_handles/{{session_experiment}}/{{session_role}}?project_id=' + project_id, function (data) {
                if (data.msg == "OK") {
                    var handleRowHtml = "";
                    handles = data.project_handles.file_handles;
                    for (var i = 0; i < handles.length; i++){
                        var handleDetailsHtml = "";
                        Object.entries(handles[i]).forEach(([key, value]) => {
                            if (!(key == "name" || value == null || value == "" || key == "project_id")){
                                handleDetailsHtml =  handleDetailsHtml + "<a>* " + capitalizeWords(key) + ": <span class='active-project-handles-handle-" + key.replace("_", "-") + "' >" + (key != 'attributes' ? value : JSON.stringify(value)) + "<span></a><br/>";
                            }
                        });
                        handleRowHtml = handleRowHtml + '<div class="dd-results-card"><div class="dd-results-card-header"><p>Name: <span class="active-project-handles-handle-name">' + handles[i].name + '</span></p></div><div class="dd-results-card-body">' + handleDetailsHtml + '</div></div>';
                    }
                    $("#project_handle_count").html("Project Id: " + project_id + "<span style='display:inline-block; width: 15%;'></span>Total Handle Count: " + handles.length);
                    if(!$(".project_handle_label").hasClass("dd-results-row-label-selected")){
                        $(".project_handle_label").addClass('dd-results-row-label-selected');
                    }
                    if (handles.length == 0){
                        $("#active_project_handles").slideUp("0.5s", complete=function(){
                            $("#active_project_handles").removeClass("dd-row-toggle-inactive").addClass("dd-row-toggle-active");
                            $("#active_project_handles").html(handleRowHtml);
                        });
                    }
                    else{
                        $("#active_project_handles").html(handleRowHtml);
                        $("#active_project_handles").slideDown("0.5s", complete=function(){
                            $("#active_project_handles").removeClass("dd-row-toggle-inactive").addClass("dd-row-toggle-active");
                        });
                    }
                }
            });
        }
        else{
            $(self).removeClass("dd-results-card-footer-active");
            $(self).html("View Handles");
            if ($(".dd-results-card-footer-active").length == 0){
                if($(".project_handle_label").hasClass("dd-results-row-label-selected")){
                    $(".project_handle_label").removeClass('dd-results-row-label-selected');
                    $("#active_project_handles").slideUp("0.5s", complete=function(){
                        $("#active_project_handles").html("");
                        $("#active_project_handles").removeClass("dd-row-toggle-active").addClass("dd-row-toggle-inactive");
                    });
                }
            }
            $("#project_handle_count").html("No project selected");
        }
        backup["active_projects"] = $("#active_projects").html();
        backup["inactive_projects"] = $("#inactive_projects").html();
        backup['active_project_handles'] = $("#active_project_handles").html();
    }

    function showLoading(){
        switch ($("#timeTillExpire").html()){
            case "Loading.":
                $("#timeTillExpire").html("Loading..");
                break;
            case "Loading..":
                $("#timeTillExpire").html("Loading...");
                break;
            case "Loading...":
                $("#timeTillExpire").html("Loading.");
                break;
            default:
                return;
        }
        setTimeout(function() {
            showLoading();
        },500);
    }

    function updateTimestamp(pageStart=false){
        if (cancelTimestampUpdates){
            running = false;
            return;
        }
        if ($("#tokenLifespan").val() != ""){
            running = true;
            var date2 = new Date($("#tokenLifespan").val() * 1000);
            setTimeout(()=>{
                var date1 = new Date($.now());
                var diff = date2.getTime() - date1.getTime();
                var days = Math.floor(diff / (1000 * 60 * 60 * 24));
        
                diff -=  days * (1000 * 60 * 60 * 24);
        
                var hours = Math.floor(diff / (1000 * 60 * 60));
                diff -= hours * (1000 * 60 * 60);
        
                var mins = Math.floor(diff / (1000 * 60));
                diff -= mins * (1000 * 60);
        
                var seconds = Math.floor(diff / (1000));
                diff -= seconds * (1000);
                if (!cancelTimestampUpdates){
                    $("#timeTillExpire").html(days + " days : " + hours + " hours : " + mins + " minutes : " + seconds + " seconds");
                }
                updateTimestamp();   
            }, pageStart?0:1000);
        }
    }
    function makeElementsUniform(element){
        var maxHeightCard = Math.max.apply(null, $(element).map(function (){
            return $(this).height();
        }).get());
        var maxHeightbody = Math.max.apply(null, $(element).children(".dd-results-card-body").map(function (){
            return $(this).height();
        }).get());
        element.css("height", maxHeightCard);
        $(element).children(".dd-results-card-body").css("height", maxHeightbody);
    }

    function showError(message){
        $(".dd-banner").removeClass("fail").removeClass("clicked").removeClass("clickable");
        setTimeout(()=>{
            $(".dd-banner").html(message).addClass("clickable").addClass("fail");
        }, 250);
        cancelToken = setTimeout(()=>{
            $(".dd-banner").html("").removeClass("fail").removeClass("clicked").removeClass("clickable");
        }, 6000);
        return cancelToken;
    }
    $(".dd-banner").on("click", function(){
        if(!$(".dd-banner").hasClass("clickable")){
            return;
        }
        $(this).addClass("clicked");
        return setTimeout(()=>{
            $(".dd-banner").removeClass("fail").removeClass("clicked").removeClass("clickable");
        }, 2000);
    });
   
    updateTimestamp(true);
</script>

{%endblock%}
