{% if data_dispatcher_projects and (("projects_active_count" in data_dispatcher_projects and data_dispatcher_projects.projects_active_count > 0) or ("projects_inactive_count" in data_dispatcher_projects and data_dispatcher_projects.projects_inactive_count > 0) or ("projects_done_count" in data_dispatcher_projects and data_dispatcher_projects.projects_done_count > 0) or ( "projects_failed_count" in data_dispatcher_projects and data_dispatcher_projects.projects_failed_count > 0) or ("projects_cancelled_count" in data_dispatcher_projects and data_dispatcher_projects.projects_cancelled_count > 0) or ("projects_abandoned_count" in data_dispatcher_projects and data_dispatcher_projects.projects_abandoned_count > 0)) %}
<div class="ui horizontal segments">
    <div class="ui segment raised" style="max-width: 50%;">
		<h3>Update Project</h3>
		<div class=menu>
            <div class="item">
                <div class="dd-search-container">
                    <label for="test_pid">Project ID: </label>
                    <input class="dd-search test-stand" type="text" id="test_pid">
                    <div class="dd-search-result-icon"></div>
                </div>
                <div class="dd-search-container">
                    <label for="test_n_pass">Pass N files: </label>
                    <input class="dd-search test-stand" type="text" id="test_n_pass" value="0">
                    <div class="dd-search-result-icon"></div>
                </div>
                <div class="dd-search-container">
                    <label for="test_n_fail">Fail N files: </label>
                    <input class="dd-search test-stand" type="text" id="test_n_fail" value="0">
                    <div class="dd-search-result-icon"></div>
                </div>
            </div>
            <br/>
            <div class="item">
                <button style="width: 120px;" id="project_change_submit">Submit Changes</button>
                <button style="width: 120px;" id="project_restart">Restart Project</button>
            </div>
		</div>
	</div>
</div>
{% endif %}