{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>
{%endblock%}

{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">OOPS!</div>
</div>
{%endblock%}

{%block header%}
<h1 class="ui header">
    OOPS!{%include 'help_button.html'%}
</h1>
{%endblock%}

{%block subheader%}
<a href="javascript:history.go(-1)">+ Return to Previous Page</a>
{%endblock%}

{%block content%}
<div class="ui" id="oops">
  <div class="ui label">
   <i class="huge frown icon"></i>   
   Unknown Error
  </div>
  <div class="ui hidden divider"></div>
    <div class="one field">
      <div class="field">
	<label>An internal error occurred, data has been logged. Please report the occurrance to POMS administrators.</label>
      </div>
    </div>
    {% if dump != "" %}
    <div class="ui hidden divider"></div>
    <div class="one field">
      <div class="field">
	<label>{{message}}</label>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="one field">
      <div class="field">
	<label>Developers: the displayed stack trace can be stopped by setting dump = false in poms.ini.  It will still appear in the log.</label>
      </div>
    </div>
    {% endif %}
    <div class="ui hidden divider"></div>
</div> 
{%endblock%}

