{%extends "layout.html"%}

{%block title%}
POMS: Failed Jobs
{%endblock%}

{%block header%}
Jobs by {{columns|join(',')}} {%include 'help_button.html'%}
{%endblock%}

{%block subheader%}
<div class="ui subheader">
<!-- Jobs by exitcode for {{time_range_string}} -->
    <div class="ui basic label">
      <i class="wait icon"></i>  <div class="tmin" style="display:inline;"></div> to <div class="tmax" style="display:inline;"></div>
    </div>
</div>
<div class="ui subheader">
<a href="{{prev}}">&lt;previous {{tdays}} days</a> |
<a href="{{next}}">next {{tdays}} days &gt;</a>
</div>
{%endblock%}



{%block content%}

<form action="failed_jobs_by_whatever" method="GET">
  <input type="hidden" name=tmin value="{{tmins}}">
  <input type="hidden" name=tmax value="{{tmaxs}}">
  <input type="hidden" name=tdays value="{{tdays}}">

  <select name="f" class="ui selection dropdown" multiple="" id="multi-select">
    {% for cs in possible_columns%}
      <option value="{{cs}}"{%if cs in columns %}selected="1"{%endif%}>{{cs}}</option>
    {% endfor %}
  </select>

  &nbsp;&nbsp;&nbsp;<input class="tiny ui blue submit button" type="submit" name="go">
</form>


<table class="ui sortable celled collapsing table">
  <thead>
    <tr>
    {%for col in columns%}
       <th class="">{{col}}</th>
    {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for job in joblist %}
      <tr {% if job[0] == 0 %} class="%itive" {%else%} class="negative" {%endif%} >
         {%for col in range(0, columns|count) %}
            {% if loop.last %}
              <td><a href="{{pomspath}}/job_table?tdays={{tdays}}&tmax={{tmax}}{%for c2 in range(0,columns|count-1)%}&{{columns[c2]}}={{job[c2]}}{%endfor%}">{{job[col]}}</a></td>
            {% elif columns[col]== 'user_exe_exit_code' %}
		<td><a href="https://cdcvs.fnal.gov/redmine/projects/offline_production_operations_service/wiki/_{%for cs in range(0,columns|count-1)%}{%if columns[cs]== 'experiment'%}{{job[cs]}}{% endif %}{%endfor%}_error_codes_#{{job[col]}}">{{job[col]}}</a></td>
    	    {% else %}
              <td>{{job[col]}}</td>
            {% endif %}
         {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>





<script>

var tmin_local_time = moment.utc('{{tmin}}').toDate();
tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmin" ).html( tmin_local_time );
var tmax_local_time = moment.utc('{{tmax}}').toDate();
tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmax" ).html( tmax_local_time );

</script>





<script>
$(function() {
    $('#global_datepicker_container').show();
});
</script>



<script>
$('#multi-select').dropdown();
</script>





{%endblock%}
