{%extends "layout.html" %}


{%block title%}
<title>POMS Campaign Editor</title>
<script src="{{pomspath}}/static/js/gui_editor_3.js"></script>
<script src="{{pomspath}}/static/js/json_field_editor.js"></script>
<link rel="stylesheet" type="text/css" href="{{pomspath}}/static/css/gui_editor_3.css">
<link rel="stylesheet" type="text/css" href="{{pomspath}}/static/css/json_field_editor.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css">

{%endblock%}

{%block bodytags%} onload="main()" {%endblock%}

{%block header%}
<h1 class="ui header">
    Campaign Editor for <span id="camp_header1">{{campaign}}</span> {%include 'help_button.html'%}
    <!--
    <div class="sub header">
        Edit whole workflow
    </div>
    -->
</h1>
{%endblock%}

{%block subheader%}
&nbsp;
{%endblock%}

{%block content %}

<div id="node-popUp">
    <span id="node-operation">node</span>
    <br>
    <table style="margin:auto;">
<!--
        <tr>
            <td>id</td>
            <td> <input id="node-id" value="new value"> </td>
        </tr>
-->
        <tr>
            <td>label</td>
            <td> <input id="node-label" value="new value"> </td>
        </tr>
    </table>
    <input type="button" value="OK" id="node-saveButton">
    <input type="button" value="Cancel" id="node-cancelButton">
</div>

<div id="edge-popUp">
    <span id="edge-operation">edge</span>
    <br>
    <table style="margin:auto;">
        <tr>
            <td>label</td>
            <td> <input id="edge-label" value="new value"> </td>
        </tr>
    </table>
    <input type="button" value="OK" id="edge-saveButton">
    <input type="button" value="Cancel" id="edge-cancelButton">
</div>


<h3>Campaign <span id="camp_header2">{{campaign}}</span>
    <button class="ui button" onclick="gui_editor.save('gui_editor_0');">Save</button><span id="savebusy"></span>
</h3>
<!--
<div id="mydefaults" oncontextmenu='return false;' contextmenu=""></div>
-->
<div id="popups"></div>
<div id="mystages" oncontextmenu='return false;' contextmenu=""></div>
<h4 style="margin: 1px;">Campaign Login/Setups and Jobtypes</h4>
<div id="myjobtypes" oncontextmenu='return false;' contextmenu=""></div>
<pre id="eventSpan" style="display: none;"></pre>
<div id="outer_gui_editor_frame" style="display: none;"></div>

<script type="text/javascript">

function main() {
   var args = mwm_utils.getSearchParams()
   var base = mwm_utils.getBaseURL()
   console.log(["args:", args, "base:", base])
   if (args['campaign'] != undefined) {
       var url;
       //VP~ if (args['campaign'].indexOf('samples/') == 0) {
       if (args['campaign'].startsWith('samples')) {
          url = base + '/static/' + args['campaign'].replace('%2F','/')
       } else {
          url = base +'/campaign_deps_ini?tag=' + args['campaign']
       }
       $.ajax( {
          url: url
       }).done( function(data) {
          var ge = new gui_editor("outer_gui_editor_frame");
          var args = mwm_utils.getSearchParams();
          if ('clone' in args && 'Clone' == args['clone']) {
              ge.set_state_clone(data, args['from'], args['to'],'{{session_experiment}}','{{session_role}}');
              $("#camp_header1").html(`${args['to']}`);
              $("#camp_header2").html(`${args['to']}`);
          } else {
              ge.set_state(data);
          }
       })
   }
}

</script>

{%endblock%}

{%block final%}

{%endblock%}
