
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../static/js/jquery-2.1.4.min.js"></script>
<style type="text/css">

div.box {
    border: 1px dotted black;
    padding: 1em;
    border-radius: 0.5em;
    background: white;
    position: absolute;
    z-index: 1;
}

div.depbuttonbox1 {
   z-index: 1;
   position:absolute;
   bottom: 0;
   left: 0;
   right: 0;
}

div.depbuttonbox2 {
   z-index: 1;
   position: relative;
   margin-left: 30%;
   width: 2em;
}

div.depbox {
    z-index: 0;
    position: absolute;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
}

div.box.selected {
    border: 1px solid black;
}

.popup_parent {
   display: inline;
   position: relative;
}

.popup_form { 
    display: block;
    background-color: white;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 2em;
    border: 2px solid grey;
    margin: 2px;
    padding: 1em;
    opacity: 1;
}

.wakefields:before { content: "\25a6"; width: 1em; height 1em; }
.wakedeps:before { content: "\269f"; width: 1em; height 1em; }

div#deps {
  /* try to force a stacking context... */
  opacity: 0.99; 
}

</style>
</head>
<body onload="main()">

<div id="deps">
</div>


<pre id="src" style="display: none;">
# layer->stage throughought
# dependency stanza per dependency
# add a multiple campaigns layer?
# escape %% stuff that's interpolated later
[global]
dataset=from_parent
software_version=v06_48_00_MCC
vo_role=Production
launch_template=sbnd_launch_test_1
completion_type=complete
completion_pct=95

[campaign]
experiment=sbnd
tag= mcc_test_1
campaign_stage_list=sbnd_gen_test sbnd_g4_test sbnd_detsim_test sbnd_reco_test sbnd_anatree_test

[campaign_stage sbnd_reco_test]
dataset=from_parent
software_version=v06_48_00_MCC
vo_role=Production
cs_split_type=None
job_type=sbnd_process_fife_launch_test
launch_template=sbnd_launch_test_1
param_overrides=[["-Oglobal.fclfile=", "standard_reco_sbnd_basic.fcl"], ["-Osubmit.N=", "10"], ["-Oglobal.basename=", "reco"]]
completion_type=complete
completion_pct=95

[campaign_stage sbnd_detsim_test]
dataset=from_parent
software_version=v06_48_00_MCC
vo_role=Production
cs_split_type=None
job_type=sbnd_process_fife_launch_test
launch_template=sbnd_launch_test_1
param_overrides=[["-Oglobal.fclfile=", "standard_detsim_sbnd.fcl"], ["-Osubmit.N=", "10"], ["-Oglobal.basename=", "detsim"]]
completion_type=complete
completion_pct=95

[campaign_stage sbnd_anatree_test]
dataset=from_parent
software_version=v06_48_00_MCC
vo_role=Production
cs_split_type=None
job_type=sbnd_process_fife_launch_test
launch_template=sbnd_launch_test_1
param_overrides=[["-Oglobal.fclfile=", "standard_anatree_sbnd.fcl"], ["-Osubmit.N=", "10"], ["-Oglobal.basename=", "anatree"]]
completion_type=complete
completion_pct=95

[campaign_stage sbnd_g4_test]
dataset=poms_depends_41209_1
software_version=v06_48_00_MCC
vo_role=Production
cs_split_type=None
job_type=sbnd_process_fife_launch_test
launch_template=sbnd_launch_test_1
param_overrides=[["-Oglobal.fclfile=", "standard_g4_sbnd.fcl"], ["-Osubmit.N=", "10"], ["-Oglobal.basename=", "g4"], ["-Ojob_setup.prescript=", "'export LD_LIBRARY_PATH=/cvmfs/nova.opensciencegrid.org/externals/library_shim/v03.03/NULL/lib/sl6:$LD_LIBRARY_PATH'"], ["-Osubmit.resource-provides=", "usage_model=OPPORTUNISTIC,DEDICATED"]]
completion_type=complete
completion_pct=95

[campaign_stage sbnd_gen_test]
dataset=None
software_version=v06_48_00_MCC
vo_role=Production
cs_split_type=None
job_type=sbnd_gen_fife_launch_test
launch_template=sbnd_launch_test_1
param_overrides=[["-Oglobal.fclfile=", "prodgenie_nu_singleinteraction_cryostat_gsimple-configb-v1.fcl"], ["-Osubmit.N=", "10"], ["-Oexecutable.arg_5=", "-n15"]]
completion_type=complete
completion_pct=100

[launch_template sbnd_launch_test_1]
host=sbndgpvm01.fnal.gov
account=sbndpro
setup=export X509_USER_PROXY=/opt/sbndpro/sbndpro.Production.proxy; setup fife_utils v3_2_0, poms_client ,  poms_jobsub_wrapper

[job_type sbnd_gen_fife_launch_test]
launch_script=fife_launch -c /sbnd/app/home/poms_test/cfg/sbnd_launch.cfg
parameters=[["-Oexecutable.arg_5=", " "], ["-Ojob_output.add_to_dataset=", "_poms_task"], ["-Oglobal.fclfile=", "prodgenie_nu_singleinteraction_cryostat_gsimple-configb-v1.fcl"]]
output_file_patterns=%%.root

[job_type sbnd_process_fife_launch_test]
launch_script=fife_launch -c /sbnd/app/home/poms_test/cfg/sbnd_launch.cfg
parameters=[["-Ojob_setup.multifile=", "True"], ["-Osubmit.dataset=", "%%(dataset)s"], ["-Oglobal.fclfile=", "standard_anatree_sbnd.fcl"]]
output_file_patterns=%%.root

[dependencies sbnd_anatree_test]
campaign_stage_1= sbnd_reco_test
file_pattern_1 = reco%%.root

[dependencies sbnd_reco_test]
campaign_stage_1= sbnd_detsim_test
file_pattern_1 = detsim%%.root

[dependencies sbnd_detsim_test]
campaign_stage_1= sbnd_g4_test
file_pattern_1 = g4%%.root

[dependencies sbnd_g4_test]
campaign_stage_1= sbnd_gen_test
file_pattern_1 = gen%%.root
</pre>

<!-- padding -->
<pre>












</pre>

<pre id="dst" style="display: none;">
</pre>

<pre id="dst2">
</pre>

<script type="text/javascript">

document.edit_dict = {}

function trim_blanks(s) {
   var i, j;
   i = 0;
   if (s === undefined) {
      return ''
   }
   j = s.length;
   while(s[i]== ' '){
     i++;
   }
   while(s[j-1] == ' ') {
     j--;
   }
   return s.slice(i,j);
}

function un_trailing_comma(res) {
   // we end with: "foo": "bar",
   // and we're about to add a '}', 
   // so dink last comma.
   if (res.length > 0 && res[res.length-1].slice(-1) == ',') {
     res[res.length-1] = res[res.length-1].slice(0,-1)
   }
}

function convert_ini_2_json(s) {
   var res = []
   var lines = s.split('\n')
   var l, k_v, k, v, i;
   for (i = 0 ; i < lines.length; i++) {
      if (lines[i] === undefined)
          break
      l = trim_blanks(lines[i])

      // skip blank lines and comments
      if (l.length == 0)
          continue
      if (l[0] == '#') {
          continue

      } else if (l[0] == '[' &&  l[l.length-1]  == ']') {
          un_trailing_comma(res)
          res.push('},')
          res.push('"' + l.slice(1,-1) + '": {')
      } else {
          k_v = l.split('=')
          k = trim_blanks(k_v.shift())
          v = trim_blanks(k_v.join('=')).replace(/"/g,'\\"')
          if (k == "" || k[0] == " " || k[0] == "\n" || k[0] == '}') {
              continue
          }
          res.push('"' + k + '": "' + v + '",')
      }
   }

   // fix leading line wart
   res[0] = '{'

   un_trailing_comma(res)
   res.push('}')
   res.push('}')
   return res.join('\n')
}

function test1() {
   srctxt = document.getElementById("src").innerHTML
   dsttxt = convert_ini_2_json(srctxt)
   document.getElementById("dst").innerHTML = dsttxt
   document.edit_dict = JSON.parse(dsttxt)
   ddtxt = JSON.stringify(document.edit_dict)
   document.getElementById("dst2").innerHTML = ddtxt
   draw_stages(document.edit_dict, "deps")
}

function main() {
   args = getSearchParams()
   if (args['campaign'] != undefined) {
       $.ajax( {
         url: args['_base_']+'/campaign_deps_ini?tag=' + args['campaign']
       }).done( function(data) {
          draw_stages( JSON.parse(convert_ini_2_json(data)), "deps")
       })
   } else {
       test1()
       /* draw_stages(default_campaign_dict,"deps") */
   }
}

function escape_quotes(s) {
   if (s != undefined) {
       return s.replace(/"/g,'&quot;')
   } else { 
       return s
   }
}

/*
** XXX
** this needs refactoring -- we need one routine to make the button
** and one to make the form, and the form needs to be at the outer
** level, absolutely positioned...  Otherwise you can't make the popups
** cover everything...
*/
function make_form_button(stage, stage_dict,  default_dict) {
    var res = []
    res.push('<button onclick="toggle_form(\'fields_' + stage + '\')" id="wake_fields_' + stage + '"><span class="wakefields"</span></button>' )
    return res.join('\n')
}

function make_form_popup(stage, stage_dict,  default_dict, toppos, leftpos) {
    var res = []
    toppos = toppos + 2
    leftpos = leftpos + 2
    res.push('<div class="popup_parent">')
    res.push('<form id="fields_' + stage + '" class="popup_form" style="display: none; top: '+ toppos.toString()+'em; left: ' +leftpos.toString()+'em;">' )
    for ( k in stage_dict ) {
       if (stage_dict[k] == default_dict[k]) {
           val=""
       } else {
           val=stage_dict[k]
       }
       res.push('<label>' + k + '</label> <input id="_inp_' + stage + '_' + k + '" value="' + escape_quotes(val) + '" placeholder="default"><br>')
    }
    res.push('</form>' )
    res.push('</div>')
    return res.join("\n")
}

function dict_size(d) {
   c=0
   for (i in d) {
     c++
   }
   return c
}

function deps_form( stage1, stage2,  dd ) {
    var i
    var res = []
    var istr
    var deps
    var stage
    deps = dd["dependencies " + stage2]
    istr = "1"
    for (i = 0; i <  dict_size(deps)/2; i++ ) {
        istr = (i+1).toString()
        if (deps["campaign_stage_"+istr] == stage1 ) {
            break
        }
    }

    deps["stage"] = stage2

    
    stage = stage1 + "_" + stage2
    res.push('<button onclick="toggle_form(\'deps_' + stage + '\')" id="wake_fields_' + stage + '"><span class="wakedeps"</span></button>' )
    res.push('<div class="popup_parent">')
    res.push('<form id="deps_' + stage + '" class="popup_form" style="display: none;">' )

    fl = [ "stage" , "campaign_stage_"+istr , "file_pattern_"+istr ]
    for ( k in fl ) {
       res.push('<label>' + fl[k] + '</label> <input id="_inp_' + stage + '_' + k + '" value="' + escape_quotes(deps[fl[k]]) + '"><br>')
    }
    res.push('</form>' )
    res.push('</div>')
    return res.join("\n")
}

function draw_stages(dd, tb_id) {
    var csl = dd["campaign"]["campaign_stage_list"].split(" ")
    var cur_row = -1 
    var cur_col = 0
    var i
    var sd
    var deps
    var prevdep = ''
    var toppos, leftpos
    for( i in csl) {
        stage = csl[i]
        sd = dd["campaign_stage " + stage]
        deps = dd["dependencies " + stage]
        // pick next row or column depending whether we are in a chain

        if ( deps == undefined || deps['campaign_stage_1'] != prevdep ) {
           cur_row = cur_row + 1
        } else {
           cur_col = cur_col + 1
        }
        prevdep = stage
      
        toppos = cur_row * 6;
        leftpos = cur_col * 12;

        document.getElementById('deps').innerHTML += '<div class="box" style="top: ' + toppos + 'em ; left: ' +leftpos+ 'em;" onclick="toggle_box_selected(\''+stage+'\')" id="'+stage+'">' + stage + '<br>' + make_form_button(stage, sd, dd["global"] ) + '</div>' + make_form_popup(stage, sd, dd["global"] , toppos, leftpos)
        // update where we want to be...
    }

    for( i in csl) {
        stage = csl[i]
        deps = dd["dependencies " + stage]
        if (deps != undefined && deps["campaign_stage_1"] != undefined) {
            draw_dependency(deps["campaign_stage_1"], stage, dd)
        }
    }

    toppos = (cur_row + 1) * 6;

    document.getElementById('deps').innerHTML += '<div class="box" style="top:'+toppos.toString()+'em; left: 0em;" onclick="toggle_box_selected(\'defaults\')">' + 'defaults' + '<br>' + make_form_button('defaults', dd["global"],{} ) + '</div>'+ make_form_popup('defaults', dd["global"],{}, toppos, 0 )
}

function get_back_values(id) {
   if( id.slice(0,7) == 'fields_' ) {
      if (id == 'fields_defaults' ){
          eds = document.edit_dict['global']
      } else {
          eds = document.edit_dict['campaign_stage '+stage]
      }
      stage = id.slice(7)
      if ( eds != undefined ) {
          for(k in eds) {
              eds[k] = document.getElementById('_inp_'+stage+'_'+k).value
          }
      }
   }
   ddtxt = JSON.stringify(document.edit_dict)
   document.getElementById("dst2").innerHTML = ddtxt
}

function toggle_form(id) {
    if (document.getElementById(id).style.display == 'block') {
        get_back_values(id)
        document.getElementById(id).style.display = 'none'
    } else {
        document.getElementById(id).style.display = 'block'
    }
}

function toggle_box_selected(id) {
   x =  document.getElementById(id)
   if (x == null) {
      return;
   }
   if (x.className == 'box') {
       x.classList.add('selected')
   } else {
       x.classList.remove('selected')
   }
}

function draw_dependency(stage1, stage2, dd) {
   var e1 = document.getElementById(stage1)   
   var e2 = document.getElementById(stage2)   
   var br = e1.parentNode.getBoundingClientRect()
   var e1r = e1.getBoundingClientRect()
   var e2r = e2.getBoundingClientRect()
   var ulx, uly, lrx, lry, w, h
   if ((e2r.top - e1r.top) > 20 ) {
       /* go from bottom to side */
       ulx = (e1r.left + e1r.right) / 2
       uly = e1r.bottom 
   } else {
       /* go from side to side */
       ulx = e1r.right  
       uly = (e1r.top + e1r.bottom) / 2 
   }

   /* our lower right is always the left side of the dest box */
   lrx = e2r.left  
   lry = (e2r.top + e2r.bottom) / 2

   /* width and height... */
   w = lrx - ulx
   h = lry - uly

   var dep = document.createElement("DIV")
   dep.className = 'depbox'
   dep.style.position='absolute'
   dep.id = 'dep_' + stage1 + '_' + stage2
   dep.style.top = uly.toString()+"px"
   dep.style.left = ulx.toString()+"px"
   dep.style.height = h.toString() + "px"
   dep.style.width = w.toString()+"px"

   var db = document.createElement("DIV")
   db.id = 'dep_box' + stage1 + '_' + stage2
   db.className = 'depbuttonbox1'
   var db2 = document.createElement("DIV")
   db2.className = 'depbuttonbox2'
   db.appendChild(db2)
   dep.appendChild(db)
   document.body.appendChild(dep)
   db2.innerHTML = deps_form(stage1, stage2, dd)
}

function getSearchParams(){
 var p={};
 location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
 return p;
}

</script>
</body>
</html>
