{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>
{%endblock%}

{%block header%}
Job Launches: {{launches}}
{% if (current_experimenter.is_root()) %}
<br>
<div class="ui icon buttons">
  <div class="ui button" href="set_job_launches?hold=hold">
    <i class="pause icon"></i>
  </div>
  <div class="ui button">
    <i class="play icon" href="set_job_launches?hold=allowed"></i>
  </div>
</div>
{% endif %}
{%endblock%}

{%block content%}

{% set url = "https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Draft_POMS_Overview#" %}

 <div class="ui cards">
    <!--
    <div class="card">
        <div class="content">
            <i class="right floated sun outline icon teal" style="font-size: 30px;"></i>

            <div class="header">
              Obtaining a POMS Account
            </div>
            <div class="meta">
            </div>
            <div class="description">
                POMS Access is suppled through your FNAL services account.  The account  must be VOMS registered as production or coordinator. If
                your account does not have access, contact your experiment coordinator.
            </div>
        </div>
        <a target="_blank" href="{{url}}POMS-Accounts-Users-and-Roles">
            <div class="ui bottom attached button">
                <i class="large question circle icon"></i>
            </div>
        </a>
    </div>
    -->
    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>

            <div class="header">
              Creating a Campaign
            </div>
            <div class="meta">
            </div>
            <div class="description">
                A campaign may be created by using the workflow editor, creating and uploading a .ini file, or
                using the underlying forms.   We recommend starting with the workflow editor.
            </div>
        </div>
        <a target="_blank" href="{{url}}POMS-Accounts-Users-and-Roles">
            <div class="ui bottom attached button">
                <i class="question circle icon"></i>
            </div>
        </a>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>

            <div class="header">
                Monitoring
            </div>
            <div class="meta">
            </div>
            <div class="description">
                    Needs a description.
                </div>
        </div>
        <div class="ui three bottom attached buttons">
            <a target="_blank" href="{{url}}POMS-Accounts-Users-and-Roles">
                <div class="ui button">
                    <i class="question circle icon"></i>
                </div>
            </a>
                <div class="ui button"></div>
            <a target="_blank" href="https://fifemon.fnal.gov/monitor/d/000000206/poms-campaign-efficiency?from=now-24h&to=now&var-Experiment={{session_experiment}}&var-Campaign=All&orgId=1">
                <div class="ui button">
                    Efficency
                </div>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>
            <div class="header">
                Recoveries
            </div>
            <div class="meta">
            </div>
            <div class="description">
                Needs a description.
            </div>
        </div>
        <a target="_blank" href="{{url}}POMS-Accounts-Users-and-Roles">
            <div class="ui bottom attached button">
                <i class="question circle icon"></i>
            </div>
        </a>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>

            <div class="header">
              Debugging
            </div>
            <div class="meta">
            </div>
            <div class="description">
                    Needs a description.
            </div>
        </div>
        <a target="_blank" href="{{url}}POMS-Accounts-Users-and-Roles">
            <div class="ui bottom attached button">
                <i class="question circle icon"></i>
            </div>
        </a>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>

            <div class="header">
                Bookkeeping
            </div>
            <div class="meta">
            </div>
            <div class="description">
                    Needs a description.
            </div>
        </div>
        <a target="_blank" href="{{url}}POMS-Accounts-Users-and-Roles">
            <div class="ui bottom attached button">
                <i class="question circle icon"></i>
            </div>
        </a>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>
            <div class="header">
                FifeMon
            </div>
            <div class="meta">
            </div>
            <div class="description">
                Fifemon gathers information from many different sources and graphs it on a common timeline
                to help experiments understand their computing usage and identify problems.
            </div>
        </div>
        <div class="ui three bottom attached buttons">
            <a target="_blank" href="https://fifemon.fnal.gov/monitor/d/000000004/experiment-overview?orgId=1&var-experiment={{session_experiment}}">
                <div class="ui button">
                    Overview
                </div>
            </a>
            <div class="ui button"></div>
            <a target="_blank" href="https://landscape.fnal.gov/monitor/d/HMj5hqVik/production-shifter?orgId=1&var-vo={{session_experiment}}">
                <div class="ui button">
                    Shifter
                </div>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>
            <div class="header">
                SAM
            </div>
            <div class="meta">
            </div>
            <div class="description">
                SAM is a data handling system, to keep track of files, their meta-data and processing.
            </div>
        </div>
        <div class="ui three bottom attached buttons">
                <a target="_blank" href="https://fifemon.fnal.gov/monitor/d/000000122/sam-by-experiment?from=now-24h&to=now-5m&orgId=1&var-experiment={{session_experiment}}">
                    <div class="ui button">
                        Status
                    </div>
                </a>
                    <div class="ui button"></div>
                <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/sam-main/wiki">
                    <div class="ui button">
                        Wiki
                    </div>
                </a>
            </div>
        </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>
            <div class="header">
                Jobsub
            </div>
            <div class="meta">
            </div>
            <div class="description">
                Jobsub status for {{session_experiment}}
            </div>
        </div>
        <a target="_blank" href="https://fifemon.fnal.gov/monitor/d/000000053/experiment-batch-details?orgId=1&from=now-7d&to=now-5m&var-experiment={{session_experiment}}">
            <div class="ui bottom attached button">
                Batch Details
            </div>
        </a>
    </div>

    <div class="card">
        <div class="content">
            <i class="right floated cogs icon teal" style="font-size: 30px;"></i>
            <div class="header">
                dCache
            </div>
            <div class="meta">
            </div>
            <div class="description">
                    dCache status for {{session_experiment}}
            </div>
        </div>
        <a target="_blank" href="https://fifemon.fnal.gov/monitor/d/000000177/dcache-io-rate-by-vo?orgId=1&var-vo={{session_experiment}}&var-PoolGroup=All">
            <div class="ui bottom attached button">
                    (get new plot)
            </div>
        </a>
    </div>





    </div>
{%endblock%}

{%block final%}
<div class="ui divider"  style="margin-top: 0px;"></div>

<div class="ui right aligned grid" style="margin-right: 30px; margin-bottom: 15px">
    <div class="left floated left aligned four wide column">
        <div class="ui teal label">Version {{version}}</div>
    </div>
    <div class="right floated right align four wide column">
        <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Release_Notes">
            <div class="ui teal label">Release Notes</div>
        </a>
    </div>
</div>
{%endblock%}
