{%extends "layout.html" %}

{%block title%}
In-Flight files for Jobs
{%endblock%}

{%block header%}
<h1 class="ui header">
         In-Flight Files {%include 'help_button.html'%}
</h1>
{%endblock%}

{%block subheader%}
{%endblock%}



{%block content %}

In-Flight files for:

     {% if campaign_stage_id is not none %}
        CampaignStage Stages {{cs.name}}
     {% elif submission_id is not none %}
       Submissions(s) {{jjid}}
     {% elif job_id is not none %}
       Job(s) {{jjid}}
     {% endif %}
<br>

<div class="ui raised padded text container segment">
<div class="ui list">
{% for f in flist %}
<div class="item"> {{f}}  <br>
   {% if statusmap[f] != '' %}
     <div class="ui pointing label">{{statusmap[f]}}</div>
   {% endif %}
</div>
{%endfor%}
</div>

{%endblock%}
