{%extends "layout.html"%}


{%block title%}
    <title>POMS</title>

    <style type="text/css">
    div.scrollable {
        width: 100%;
        overflow-x: scroll;
    }
    div.scrollable table {
        width: 300%;
    }
    </style>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">All Jobs</div>
</div>
{%endblock%}



{%block header%}
<h1 class="ui header">
    Jobs
</h1>
<div class="ui subheader">
<!-- Jobs for {{time_range_string}} -->
    <div class="ui basic label">
      <i class="wait icon"></i>  <div class="tmin" style="display:inline;"></div> to <div class="tmax" style="display:inline;"></div>
    </div>
</div>

<a href="{{prev}}">&lt;previous {{days}} days</a> | 
<a href="{{next}}">next {{days}} days &gt;</a>
{%endblock%}

{%block subheader%}
{%endblock%}



{%block content%}


<div class="ui small basic test modal">
<form id="search_form" method="get" action="{{pomspath}}/job_table">
 <h3>Filter</h3>


 <div class="ui styled accordion">
    <div class="title active">
        <i class="dropdown icon"></i>
        Campaings
    </div>
    
    <div class="content active">
       
        <div class="ui small form">
            <div class="field">
                <label>Experiment</label>
                <div class="ui input">
                    <input type="text" name="experiment" value="{{filtered_fields.get("experiment", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Name</label>
                <div class="ui input">
                    <input type="text" name="campaign_name" value="{{filtered_fields.get("campaign_name", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Task Definition ID</label>
                <div class="ui input">
                    <input type="text" name="task_def_id" value="{{filtered_fields.get("task_def_id", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>VO Role</label>
                <div class="ui input">
                    <input type="text" name="vo_role" value="{{filtered_fields.get("vo_role", "")}}"placeholder="">
                </div>
            </div>
        </div>
    </div>
    
    
        
    
    <div class="title">
        <i class="dropdown icon"></i>
        Tasks
    </div>
    
    <div class="content">
        <div class="ui small form">
            <div class="field">
                <label>Input Dataset</label>
                <div class="ui input">
                    <input type="text" name="input_dataset" value="{{filtered_fields.get("input_dataset", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Output Dataset</label>
                <div class="ui input">
                    <input type="text" name="output_dataset" value="{{filtered_fields.get("output_dataset", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="ui input">
                    <input type="text" name="task_status" value="{{filtered_fields.get("task_status", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Project</label>
                <div class="ui input">
                    <input type="text" name="project" value="{{filtered_fields.get("project", "")}}" placeholder="">
                </div>
            </div>
        </div>
    </div>
    

    
    
    <div class="title">
        <i class="dropdown icon"></i>
        Jobs
    </div>
    
    
    <div class="content">
        <div class="ui small form">
            <div class="field">
                <label>Jobsub Job ID</label>
                <div class="ui input">
                    <input type="text" name="jobsub_job_id" value="{{filtered_fields.get("jobsub_job_id", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Node Name</label>
                <div class="ui input">
                    <input type="text" name="node_name" value="{{filtered_fields.get("node_name", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>CPU Type</label>
                <div class="ui input">
                    <input type="text" name="cpu_type" value="{{filtered_fields.get("cpu_type", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Host Site</label>
                <div class="ui input">
                    <input type="text" name="host_site" value="{{filtered_fields.get("host_site", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="ui input">
                    <input type="text" name="job_status" value="{{filtered_fields.get("job_status", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>User Exe. Exit Code</label>
                <div class="ui input">
                    <input type="text" name="user_exe_exit_code" value="{{filtered_fields.get("user_exe_exit_code", "")}}" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Output Files Declared</label>
                <div class="ui input">
                    <input type="text" name="output_files_declared" value="{{filtered_fields.get("output_files_declared", "")}}" placeholder="">
                </div>
            </div>
        </div>
    </div>
    
 </div>  <!--ends accordian-->
<br/>
<br/>

<b>Fields:</b>
<br/>
<br/>
<div class="ui checkbox" style="padding-bottom:5px;">
  <input type="checkbox" name="campaign_checkbox" {{filtered_fields.get("campaign_checkbox")}}>
  <label style="color:white;"><b>Campaign</b></label>
</div>

<br/>

<div class="ui checkbox" style="padding-bottom:5px;">
  <input type="checkbox" name="task_checkbox" {{filtered_fields.get("task_checkbox")}}>
  <label style="color:white;"><b>Task</b></label>
</div>

<br/>

<div class="ui checkbox" style="padding-bottom:5px;">
  <input type="checkbox" name="job_checkbox" {{filtered_fields.get("job_checkbox")}}>
  <label style="color:white;"><b>Job</b></label>
</div>

<br/>
<input type="hidden" name="sift" value="True" />
<br/>
<div class="ui blue submit small button" id="search_button">Search</div>
</form>
</div>  <!--ends modal-->



<script>
$( "#search_button" ).click(function() {
  $( "#search_form" ).submit();
});
</script>










<div class="ui icon input">
  <input type="text" id="filter-search" placeholder="Search...">
  <i class="search icon"></i>
</div>
<br/>
<br/>


<div class="scrollable">
<table id="jobtable" class="ui celled sortable table compact">
  <thead>
    <tr>
      {%set span1 = [] %}

      {%for col in jobcolumns %}
        {% if not col in hidecolumns %}
          <!--{{span1.append(1)}}-->
        {% endif %}
      {% endfor %}
      <!-- span1 {{span1}} -->
      {%if filtered_fields.get("job_checkbox") == 'checked'%}  <th class="" colspan="{{span1|length}}">Job fields</th>  {%endif%}
      {%set span2 = [] %}
      {%for col in taskcolumns %}
        {% if not col in hidecolumns %}
          <!--{{span2.append(1)}}-->
        {% endif %}
      {% endfor %}
      <!-- span2 {{span2}} -->
      {%if filtered_fields.get("task_checkbox") == 'checked'%}  <th class="" colspan="{{span2|length}}">Task fields</th>  {%endif%}
      {%set span3 = campcolumns|length %}
      {%if filtered_fields.get("campaign_checkbox") == 'checked'%}  <th class="" colspan="{{span3}}">Campaign fields</th>  {%endif%}
    </tr>
    <tr>
    {%for col in jobcolumns%}
      {% if loop.first %}
       <th class="">info</th>
      {% else %}
        {% if not col in hidecolumns %}
         <th class="">{{col|replace("_","<br>")}}
<a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/JobTableHelp#{{col|replace('_','-')}}"><i class="small icon grey help circle link"></i></a>

         </th>
        {% endif %}
      {% endif %}
    {%endfor%}
    {%for col in taskcolumns%}
      {% if not col in hidecolumns %}
       <th class="">{{col|replace("_","<br>")}}
<a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/JobTableHelp#{{col|replace('_','-')}}"><i class="small icon grey help circle link"></i></a>
       </th>
      {% endif %}
    {%endfor%}
    {%for col in campcolumns%}
      {% if not col in hidecolumns %}
       <th class="">{{col|replace("_","<br>")}}
<a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/JobTableHelp#{{col|replace('_','-')}}"><i class="small icon grey help circle link"></i></a>
       </th>
      {% endif %}
    {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for job,task,campaign in joblist %}
      <tr>
         {%for col in jobcolumns%}
            {% if loop.first %}
              <td><a href="{{pomspath}}/triage_job?job_id={{job[col]}}&tmin={{tmin}}"><i class="level down icon"></i> </a></td>
            {% else %}
             {% if not col in hidecolumns %}
              <td>{{job[col]}}</td>
             {% endif %}
            {% endif %}
         {%endfor%}
         {%for col in taskcolumns%}
             {% if not col in hidecolumns %}
              <td>{{task[col]}}</td>
             {% endif %}
         {%endfor%}
         {%for col in campcolumns%}
             {% if not col in hidecolumns %}
              <td>{{campaign[col]}}</td>
             {% endif %}
         {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>
</div>






<script>

var tmin_local_time = moment.utc('{{tmin}}').toDate();
tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmin" ).html( tmin_local_time );
var tmax_local_time = moment.utc('{{tmax}}').toDate();
tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmax" ).html( tmax_local_time );

</script>



<script>
$(function() {
    $('#global_datepicker_container').show();
});
</script>



<script>
(function() {
  var $rows = $('tbody tr');
  var $search = $('#filter-search');
  var cache = [];

  $rows.each(function() {
    cache.push({
      element: this,
      text: this.innerText.trim().toLowerCase()
    });
  });


  function filter() {
    var query = this.value.trim().toLowerCase();
    cache.forEach(function(row) {
      var index = 0;

      if (query) {
        index = row.text.indexOf(query);
      }

      row.element.style.display = index === -1 ? 'none' : '';
    });
  }


  if ('oninput' in $search[0]) {
    $search.on('input', filter);
  } else {
    $search.on('keyup', filter);
  }

}());
</script>

{%endblock%}
