{%extends "layout.html"%}

{%block title%}
    <title>POMS:Jobs in Submission {{taskid}} </title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_campaigns/" class="section">Campaigns</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/campaign_time_bars?campaign_id={{campaign_id}}" class="section">Campaign {{cname}}</a>
  <div class="divider"> / </div>
  <div class="section">Jobs in submission {{taskid}}</div>
</div>
{%endblock%}


{%block header%}
<h1 class="ui header">
     Task {{task_jobsub_id}} Jobs{%include 'help_button.html'%}
</h1>
{%endblock%}



{%block subheader%}
<h2 class="ui dividing header">Task {{task_jobsub_id}} jobs:</h2>
{%endblock%}


{%block content%}

   <div class="ui grid">
   <div class="ui row">
     {{job_counts}}
   </div>
   </div>


   <div class="ui grid">
      <div class='ui row'>
       <div class="left floated left aligned six wide column tmin"></div>
       <div class="right floated right aligned six wide column tmax"></div>
     </div>

         {% for id,plist in blob.pmap|dictsort %}
             {% if plist|length > 0 %}

              <div class='row' style='margin:0px 0px; padding:0px 0px;'>
                 <div class='mwm_label' style='text-align: right; width: 14%; float:left; padding: 5px 5px; border-right: 1px solid black; '>
                    {{id}}{{blob.extramap[id]}}
                  </div>
                  <div clas='mwm_rowdata'  style='position: relative; width: 85%; float:left; clear: right; border-right: 1px solid black; border-left: 1px solid black; padding: 5px 0px'>

                    {%for p in plist %}

                       <a href='{{p.url}}'>
                         <div class='tbox' data-content='{{p.txt}}' data-variation="very wide" style='width: {{p.width}}%; background-color: {{p.color}} !important; float:left; '>
                           &nbsp;
                         </div>
                       </a>

                    {%endfor%}

                  </div>
                  &nbsp;
               </div>
              {% endif %}
            {% endfor %}



    <div class='ui row'>
     <div class="left floated left aligned six wide column tmin"></div>
     <div class="right floated right aligned six wide column tmax"></div>
   </div>
  </div>

   <h2>Key:</h2>
   <div class="ui grid">
   <div class="ui row">
     {{key}}
   </div>
   </div>

  <div>
{%endblock%}
