{%extends "layout.html"%}

{%block title%}
    <title>POMS:Jobs in Task {{taskid}} </title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_campaigns/" class="section">Campaigns</a>
  <div class="divider"> / </div>
  <div class="section">Jobs in task {{taskid}}</div>
</div>
{%endblock%}


{%block header%}
<h1 class="ui header">
     Task {{taskid}} Jobs
</h1>
{%endblock%}



{%block subheader%}
<h2 class="ui dividing header">Task {{taskid}} jobs:</h2>
{%endblock%}




{%block content%}
  <div class="ui grid">
    {{screendata}}
    <div class=row>
     <div class="left floated left aligned six wide column">{{tmin}}</div>
     <div class="right floated right aligned six wide column">{{tmax}}</div>
   </div>
  </div>
{%endblock%}
