{%extends "layout.html" %}

{%block title%}
    <title>POMS Job Triage</title>
{%endblock%}

{%block breadcrumbs%}
    <div class="item">
       Dashboard  <!--label of current location on mobile-->
    </div>
    <div class="item">
      Job Triage Job File Contents <!--label of current location on mobile-->
    </div>
{%endblock%}






{%block header%}
<h1 class="ui header">
         Job Triage
                    
          <div class="sub header">
              triage your jobs
          </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">{{file}}</h2>
{%endblock%}



{%block content %}


{% for item in job_file_contents %}
     {{item}} </br>
{% endfor %}
	
{%endblock%}
