{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">Jobs by exit code {% if days == 7 %} (weekly) {% elif days == 1 %} (daily) {% endif %}</div>
</div>
{%endblock%}




{%block header%}
<h1 class="ui header">
    Jobs by Exitcode
</h1>
<div class="ui subheader">
<!-- Jobs by exitcode for {{time_range_string}} -->
    <div class="ui basic label">
      <i class="wait icon"></i>  <div class="tmin" style="display:inline;"></div> to <div class="tmax" style="display:inline;"></div>
    </div>
</div>


<br/>
<a href="{{prev}}">&lt;previous {{days}} days</a> | 
<a href="{{next}}">next {{days}} days &gt;</a>
<br/>
{%endblock%}






{%block subheader%}
{%endblock%}



{%block content%}
<table class="ui sortable celled collapsing table">
  <thead>
    <tr>
    {%for col in columns%}
       <th class="">{{col}}</th>
    {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for job in joblist %}
      <tr {% if job[0] == 0 %} class="positive" {%else%} class="negative" {%endif%} >
         {%for col in range(0, columns|count) %}
            {% if loop.first %}
              <td><a href="{{pomspath}}/job_table?tdays={{days}}&tmax={{tmax}}&user_exe_exit_code={{job[col]}}">{{job[col]}}</a></td>
            {% else %}
              <td>{{job[col]}}</td>
            {% endif %}
         {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>





<script>

var tmin_local_time = moment.utc('{{tmin}}').toDate();
tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmin" ).html( tmin_local_time );
var tmax_local_time = moment.utc('{{tmax}}').toDate();
tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmax" ).html( tmax_local_time );

</script>





<script>
$(function() {
    $('#global_datepicker_container').show();
});
</script>
{%endblock%}
