{%extends "layout.html" %}

{%block title%}
    <title>POMS Job Triage</title>
{%endblock%}

{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_campaigns/" class="section">Campaigns</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_task_jobs?task_id={{task_id}}&tmin={{tmin}}" class="section">Jobs in task {{task_id}}</a>
  <div class="divider"> / </div>
  <a href= "{{pomspath}}/triage_job?job_id={{job_id}}&tmin={{tmin}}" class="section">Triage job {{job_id}}</a>
  <div class="divider"> / </div>
  <div class="section">File contents</div>
</div>

{%endblock%}






{%block header%}
<h1 class="ui header">
         Job Triage
                    
          <div class="sub header">
              triage your jobs
          </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">{{file}}</h2>
{%endblock%}



{%block content %}


<style>
pre
{
line-height: 12px;
}
</style>


<div class="ui existing segment">
<pre>
{% for item in job_file_contents %}
{{item}}
{% endfor %}
</pre>
</div>

{%endblock%}
