{%extends "layout.html"%}


{%block title%}
    <title>POMS</title>

    <style type="text/css">
    div.scrollable {
        width: 100%;
        overflow-x: scroll;
    }
    div.scrollable table {
        width: 300%;
    }
    </style>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">All Jobs</div>
</div>
{%endblock%}



{%block header%}
<h1 class="ui header">
    Jobs
</h1>
<div class="ui subheader">
{{days}} Days of Jobs ending {{tmax}} {{extra}}
</div>

<a href="{{prev}}">&lt;previous {{days}} days</a> | 
<a href="{{next}}">next {{days}} days &gt;</a>
{%endblock%}






{%block subheader%}
{%endblock%}



{%block content%}


<div class="ui small basic test modal">

 <h3>Filter</h3>


 <div class="ui styled accordion">
    
    <div class="title active">
        <i class="dropdown icon"></i>
        Campaings
    </div>
    
    <div class="content active">
       
        <div class="ui small form">
            <div class="field">
                <label>Experiment</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Name</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Task Definition ID</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>VO Role</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </div>
    
    
        
    
    <div class="title">
        <i class="dropdown icon"></i>
        Tasks
    </div>
    
    <div class="content">
        <div class="ui small form">
            <div class="field">
                <label>Input Dataset</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Output Dataset</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Project</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </div>
    

    
    
    <div class="title">
        <i class="dropdown icon"></i>
        Jobs
    </div>
    
    
    <div class="content">
        <div class="ui small form">
            <div class="field">
                <label>Jobsub Job ID</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Node Name</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>CPU Type</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Host Site</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Status</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>User Exe. Exit Code</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label>Output Files Declared</label>
                <div class="ui input">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </div>
    
    
 </div>  <!--ends accordian-->
<br/>
<br/>

<b>Fields:</b>
<br/>
<br/>
<div class="ui checked checkbox" style="padding-bottom:5px;">
  <input type="checkbox" name="campaign" checked="">
  <label style="color:white;"><b>Campaign</b></label>
</div>

<br/>

<div class="ui checked checkbox" style="padding-bottom:5px;">
  <input type="checkbox" name="task" checked="">
  <label style="color:white;"><b>Task</b></label>
</div>

<br/>

<div class="ui checked checkbox" style="padding-bottom:5px;">
  <input type="checkbox" name="job" checked="">
  <label style="color:white;"><b>Job</b></label>
</div>

<br/>
<br/>
<div class="ui blue submit small button">Search</div>
</div>  <!--ends modal-->




<div class="scrollable">
<table id="jobtable" class="ui celled sortable table compact">
  <thead>
    <tr>
      {%set span1 = [] %}
      {%for col in jobcolumns %}
        {% if not col in hidecolumns %}
          <!--{{span1.append(1)}}-->
        {% endif %}
      {% endfor %}
      <!-- span1 {{span1}} -->
      <th class="" colspan="{{span1|length}}">Job fields</th>
      {%set span2 = [] %}
      {%for col in taskcolumns %}
        {% if not col in hidecolumns %}
          <!--{{span2.append(1)}}-->
        {% endif %}
      {% endfor %}
      <!-- span2 {{span2}} -->
      <th class="" colspan="{{span2|length}}">Task fields</th>
      {%set span3 = campcolumns|length %}
      <th class="" colspan="{{span3}}">Campaign fields</th>
    </tr>
    <tr>
    {%for col in jobcolumns%}
      {% if loop.first %}
       <th class="">info</th>
      {% else %}
        {% if not col in hidecolumns %}
         <th class="">{{col|replace("_","<br>")}}</th>
        {% endif %}
      {% endif %}
    {%endfor%}
    {%for col in taskcolumns%}
      {% if not col in hidecolumns %}
       <th class="">{{col|replace("_","<br>")}}</th>
      {% endif %}
    {%endfor%}
    {%for col in campcolumns%}
      {% if not col in hidecolumns %}
       <th class="">{{col|replace("_","<br>")}}</th>
      {% endif %}
    {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for job,task,campaign in joblist %}
      <tr>
         {%for col in jobcolumns%}
            {% if loop.first %}
              <td><a href="{{pomspath}}/triage_job?job_id={{job[col]}}&tmin={{tmin}}"><i class="level down icon"></i> </a></td>
            {% else %}
             {% if not col in hidecolumns %}
              <td>{{job[col]}}</td>
             {% endif %}
            {% endif %}
         {%endfor%}
         {%for col in taskcolumns%}
             {% if not col in hidecolumns %}
              <td>{{task[col]}}</td>
             {% endif %}
         {%endfor%}
         {%for col in campcolumns%}
             {% if not col in hidecolumns %}
              <td>{{campaign[col]}}</td>
             {% endif %}
         {%endfor%}
      </tr>
    {%endfor%}
  </tbody>
</table>
</div>
</script>

{%endblock%}
