{%extends "layout.html" %}

{%block title%}
Confirm {{act}} jobs
{%endblock%}

{%block header%}
Confirm {{act}} request {%include 'help_button.html'%}
{%endblock%}




{%block subheader%}
{%endblock%}



{%block content %}

<div class="ui raised padded text container segment">

   Are you sure you want to {{act}} the jobs for
     {% if campaign_stage_id is not none %}
        CampaignStage Stage {{cs.name if cs}}, Submission(s) {{jjil|join(', ')}}
     {% elif submission_id is not none %}
       Submissions(s) {{jjil|join(', ')}}
     {% elif job_id is not none %}
       Job(s) {{jjil|join(', ')}}
     {% endif %}
    ? <br>
  <a href=
     {% if campaign_stage_id is not none %}
     "{{pomspath}}/kill_jobs?confirm=y&campaign_stage_id={{campaign_stage_id}}&act={{act}}"
     {% elif submission_id is not none %}
       "{{pomspath}}/kill_jobs?confirm=y&submission_id={{submission_id}}&act={{act}}"
     {% elif job_id is not none %}
       "{{pomspath}}/kill_jobs?confirm=y&job_id={{job_id}}&act={{act}}"
     {% endif %}
   >
      <button class="ui button">
         Yes, {{act}} them
      </button>
  </a>

  <a onclick="window.history.back()">
     <button class="ui button">
         No! go back
     </button>
  </a>

</div>

{%endblock%}
