{%extends "layout.html" %}

{%block title%}
{{act}} Jobs Results
{%endblock%}

{%block header%}
<h1 class="ui header">
         Results {%include 'help_button.html'%}

          <div class="sub header">
              Output of jobsub_{{act}}
          </div>
</h1>
{%endblock%}




{%block subheader%}
{%endblock%}



{%block content %}

<div class="ui raised padded text container segment" style="max-width: 60em !important;">
<b><pre>
{{command}}
</pre></b>
<pre>
{{output}}
</pre>
</div>

{%endblock%}
