{%extends "layout.html" %}

{%block title%}
Confirm {{act}} jobs
{%endblock%}

{%block header%}
Confirm {{act}} request {%include 'help_button.html'%}
{%endblock%}




{%block subheader%}
{%endblock%}



{%block content %}

<div class="ui raised padded text container segment">

   Are you sure you want to {{act}} the jobs for
     {% if campaign_id is not none %}
        Campaign Stage {{c.name if c}}, Submission(s) {{jjil|join(', ')}}
     {% elif task_id is not none %}
       Submissions(s) {{jjil|join(', ')}}
     {% elif job_id is not none %}
       Job(s) {{jjil|join(', ')}}
     {% endif %}
    ? <br>

   <button class="ui button">
     {% if campaign_id is not none %}
       <a href="{{pomspath}}/kill_jobs?confirm=y&campaign_id={{campaign_id}}&act={{act}}">Yes, {{act}} them</a>
     {% elif task_id is not none %}
       <a href="{{pomspath}}/kill_jobs?confirm=y&task_id={{task_id}}&act={{act}}">Yes, {{act}} them</a>
     {% elif job_id is not none %}
       <a href="{{pomspath}}/kill_jobs?confirm=y&job_id={{job_id}}&act={{act}}">Yes, {{act}} them</a>
     {% endif %}
   </button>

   <button class="ui button">
      <a onclick="window.history.back()">No! go back</a>
   </button>

</div>

{%endblock%}
