{%extends "layout.html" %}

{%block title%}
Launch Jobs Results
{%endblock%}

{%block header%}
<h2 class="ui header">
         Campaign: {{campaign_name}}<br>
         Stage: {{stage_name}}
         {%include 'help_button.html'%}
</h2>
{%endblock%}

{%block content %}
<div class="ui center aligned tertiary text container segment">
        Results of Output of submit command
</div>

<div class="ui raised padded text container segment">
    <button class="mini ui button" onclick="confirm_call('Are you sure you want to abort this launch?','{{pomspath}}/abort_launch/{{session_experiment}}/{{session_role}}?submission_id={{submission_id}}')"> <i class="external fire extinguisher icon" data-content="abort Submission" data-variation="basic"> </i> Abort Launch</button>
<b><pre>
{{command}}
</pre></b>
<pre>
{%for line in lines%}{{line}}{%endfor%}
</pre>
</div>

{%endblock%}
