{%extends "layout.html" %}

{%block title%}
    <title>Kill Jobs Results</title>
{%endblock%}

{%block breadcrumbs%}
    <div class="item">
       Dashboard  <!--label of current location on mobile-->
    </div>
    <div class="item">
      Kill jobs result<!--label of current location on mobile-->
    </div>
{%endblock%}

{%block header%}
<h1 class="ui header">
         Results {%include 'help_button.html'%}
                    
          <div class="sub header">
              Output of jobsub_rm
          </div>
</h1>
{%endblock%}




{%block subheader%}
{%endblock%}



{%block content %}

<div class="ui raised padded text container segment">
<b><pre>
{{command}}
</pre></b>
<pre>
{{output}}
</pre>
</div>
	
{%endblock%}
