{%extends "layout.html" %}

{%block title%}
Launch Jobs Results
{%endblock%}

{%block header%}
<h2 class="ui header">
         Campaign: {{campaign_name}}<br>
         Stage: {{stage_name}}
         {%include 'help_button.html'%}
</h2>
{%endblock%}

{%block content %}
<div class="ui center aligned tertiary text container segment">
        Results of Output of submit command
</div>

<div class="ui raised padded text container segment">
<b><pre>
{{command}}
</pre></b>
<pre>
{{output}}
</pre>
</div>

{%endblock%}
