<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        {%if do_refresh %}
        <meta http-equiv="refresh" content="300" />
        {% endif %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
            
            
            <!-- Site Properities -->

           {%block title%} {%endblock%}
            
            
          
            
            <script src="{{pomspath}}/static/js/jquery-2.1.4.min.js"></script>
            
            <link rel="stylesheet" type="text/css" href="{{pomspath}}/static/css/semantic.css">
                
            <script src="{{pomspath}}/static/js/semantic.js"></script>
            
            <script src="{{pomspath}}/static/js/poms.js"></script>
            <script src="{{pomspath}}/static/js/tablesort.min.js"></script>            
            <link rel="stylesheet" type="text/css" href="{{pomspath}}/static/css/poms.css">



            <link href='{{pomspath}}/static/css/fullcalendar.css' rel='stylesheet' />
            <link href='{{pomspath}}/static/css/fullcalendar.print.css' rel='stylesheet' media='print' />
            <script src='{{pomspath}}/static/js/moment.min.js'></script>
            <script src='{{pomspath}}/static/js/fullcalendar.min.js'></script>


            <script src='{{pomspath}}/static/js/jquery-ui.js'></script>
            <link rel="stylesheet" type="text/css" href="{{pomspath}}/static/css/datepicker.css">
    </head>
    
    
    
    
    

    
    
    <body id="example" class="started" ontouchstart="">
        
        
        
        
        <!--mobile menu-->
        
        <div class="ui vertical inverted sidebar menu" id="toc">
            
            <div class="item">
                <div style="cursor: default;">
                <i class="rocket icon"></i>
              <!--
                <a class="ui logo icon image" href="">
                    <img src="{{pomspath}}/static/images/logo.png">
                </a>
              -->
                <b>POMS</b>
                </div>
            </div>
            
            <a class="item" href="{{pomspath}}/">
                <b>Dashboard</b>
            </a>
            
            <a class="item" href="{{pomspath}}/calendar">
                <b>Calendar</b>
            </a>

            <a class="item requests"  href="#">
                <b>Requests</b>
            </a>
	    
	    <!--
           <a class="item" href="{{pomspath}}/admin_screen">
        	<b>DB Admin</b>
           </a>
	   -->
            
            <div class="item">
                <div class="header">DB Admin</div>
                <div class="menu">
                    <a class="item" href="{{pomspath}}/experiment_edit">
                        Experiments
                    </a>
                    <a class="item" href="{{pomspath}}/user_auth">
                        Users
                    </a>
                    <a class="item" href="{{pomspath}}/raw_tables">
                        Raw Tables
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="header">Campaigns</div>
                <div class="menu">
                <a class="item" href="{{pomspath}}/show_campaigns">
                  Active
                </a>
                </div>
            </div>

            <div class="item">
                <div class="header">Jobs</div>
                <div class="menu">
                    
                    <a class="item" href="{{pomspath}}/job_table?tdays=1">
                        All (Last Day)
                    </a>
                    <a class="item" href="{{pomspath}}/jobs_by_exitcode?tdays=1">
                        By Exit Code (Last Day)
                    </a>
                    <a class="item" href="{{pomspath}}/jobs_by_exitcode?tdays=7">
                        By Exit Code (Last Week)
                    </a>
                </div>
            </div>


            <a class="item requests"  href="#">
                <b>Filter</b>
            </a>

<div class="item">
  <div class="ui inverted transparent left icon input">
    <input type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>
</div>    
            
        </div>  <!--ends mobile menu-->
        
        
        
        
        
        
        
        
        <!--more mobile stuff-->
        <div class="ui fixed inverted main menu">
            <div class="ui container">
                <a class="launch icon item">
                    <i class="content icon"></i>  <!--mobile menu button-->
                </a>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        <!--big screen menu-->
        
        <div class="pusher">
            <div class="full height">
                <div class="toc">
                    <div class="ui vertical inverted sticky menu">
                        
                       <div class="item">
                       <!--  
                            <a class="ui logo icon image" href="">
                                <img src="{{pomspath}}/static/images/logo.png">
                            </a>
                        -->
                              <div style="cursor: default;">
                                <i class="rocket icon"></i>
                                <b>POMS</b>
                              </div>
                        </div>
                        
                        <a class="item" href="{{pomspath}}/">
                            <b>Dashboard</b>
                        </a>

                        <a class="item" href="{{pomspath}}/calendar">
                            <b>Calendar</b>
                        </a>
                        
                        <a class="item requests" href="#">
                            <b>Requests</b>
                        </a>

            <div class="item">
                <div class="header">DB Admin</div>
                <div class="menu">
                    <a class="item" href="{{pomspath}}/experiment_edit">
                        Experiments
                    </a>
                    <a class="item" href="{{pomspath}}/user_auth">
                        Users
                    </a>
                    <a class="item" href="{{pomspath}}/raw_tables">
                        Raw Tables
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="header">Campaigns</div>
                <div class="menu">
                <a class="item" href="{{pomspath}}/show_campaigns">
                  Active
                </a>
                </div>
            </div>
                        
                        <div class="item">
                            <div class="header">Jobs</div>
				<div class="menu">
				    <a class="item" href="{{pomspath}}/job_table?tdays=1">
					All (Last Day)
				    </a>
				    <a class="item" href="{{pomspath}}/jobs_by_exitcode?tdays=1">
					By Exit Code (Last Day)
				    </a>
				    <a class="item" href="{{pomspath}}/jobs_by_exitcode?tdays=7">
					By Exit Code (Last Week)
				    </a>
				    
				    
				</div>
                        </div>
                        



            <a class="item requests"  href="#">
                <b>Filter</b>
            </a>


<script>
function validateQuickSearchForm()
{
    var jobsub_job_id = $( "[name='jobsub_job_id']" ).val();
    if (jobsub_job_id == null || jobsub_job_id == "")
    {
        alert("jobsub_job_id must be filled out.");
        return false;
    }
    else if( jobsub_job_id.search(".fnal.gov") > -1  && jobsub_job_id.search("@") > -1  && jobsub_job_id.search(".") > -1 )
    {
        return true;
    }
    else
    {
        alert("Not a valid jobsub_job_id.  Try something like 5301637.1@fifebatch2.fnal.gov");
        return false;
    }
}
</script>


<div class="item">
  <div class="ui inverted transparent left icon input">
         <form  method="get" action="{{pomspath}}/quick_search" onsubmit="return validateQuickSearchForm()">
             <input type="text" name="jobsub_job_id" placeholder="Search...">
         </form>
  </div>
</div>
                        
                        
                    </div>   <!--ends ui vertical inverted sticky menu-->
                    
                    
                </div>  <!--ends toc-->
                
                
                
                
                
                <div class="article">  <!--header of page-->
                    
                    <div class="ui masthead vertical segment">

                    {% if current_experimenter is defined %}
                       <div class="ui right floated segment">
                       <i class="user icon"></i>
                       {{current_experimenter.first_name}} {{current_experimenter.last_name}}
                       </div>
                    {% endif %}
                        <div class="ui container">
                            <div class="introduction">
                                {%block breadcrumbs%} {%endblock%}                                
                                {%block header%} {%endblock%}

                                {% include 'datepicker_block.html' %}
                            </div>

                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    <div class="main ui intro container">
                       
                        {%block subheader%} {%endblock%} 

                        <div class="no example" style="margin: 0px 10px 0px 10px;">
                        {%block content%} {%endblock%}


                         <!--<div class="ui small basic test modal">
                            <div class="ui icon header">
                              <i class="warning sign icon"></i>
                              Under Construction
                            </div>-->
                         </div>


                        </div>
                        
                    </div>  <!--ends main ui intro container-->
                    
                    
                    
                    
                    
                    
                </div>  <!--ends article-->
                
                
                
                
                
                
                
                
            </div>  <!--ends full height-->
            
                        
            
            
        
            

        </div>  <!--ends pusher-->
                            
             
                                
                                
                                
                                
                                
                                
                                
                                
                                
<!-- enable accordions -->
<script language='javascript'>
             $(document).ready(function(){
                $('.ui.accordion').accordion();
             });
</script>



<script>
$( ".requests" ).click(function() {
  $('.ui.basic.modal').modal('show');
});
</script>



<script>
$('.tbox')
  .popup({
    position : 'top left',
    delay: {
      show: 2,
      hide: 2
    }
  })
;



$('.tbox_delayed')
  .popup({
    position : 'top left',
    delay: {
      show: 1024,
      hide: 2
    }
  })
;
</script>





                                
    </body>
    
</html>

