{%extends "layout.html"%}

{%block title%}
Submission {{jobsub_job_id}} Logged Files
{%endblock%}


{%block header%}
<h1 class="ui header">
     Campaign Stages{%include 'help_button.html'%}
</h1>
{%endblock%}

{%block subheader%}
<h2 class="ui dividing header">Submission {{jobsub_job_id}}</h2>
{%endblock%}


{%block content%}

Input Files seen
<ul>
{%for file in fl%}
   {%if file.file_type == "input"%}
     <li> {{file.file_name}}
   {%endif%}
{%endfor%}
</ul>

Output Files seen
<ul>
{%for file in fl%}
   {%if file.file_type == "output"%}
     <li> {{file.file_name}}
   {%endif%}
{%endfor%}
</ul>

Log Files seen
<ul>
{%for file in fl%}
   {%if file.file_type == "log"%}
     <li> {{file.file_name}}
   {%endif%}
{%endfor%}
</ul>
{%endblock%}
