{%extends "layout.html"%}

{%block title%}
POMS Login/Setup Editor
{%endblock%}

<style type="text/css">
  div.scrollable {
  width: 100%;
  overflow-x: scroll;
  }
  div.scrollable table {
  width: 300%;
  }
</style>

{% macro show_hint(anchor, hint) %}
    {# {% include 'help_button.html' %} task #21477 #}
{% endmacro %}

{%block header%}
Login/Setup {% include 'help_button.html' %}
{%endblock%}

{%block subheader%}
{%endblock%}

{%block content%}

{% macro show_hint(anchor, hint) %}
    {# {% include 'help_button.html' %} task #21477 #}
{% endmacro %}


<form id="login_setup_form" class="ui form" action="login_setup_edit" method="POST">

  {% if data.curr_experiment is defined %}

  {% set data = data|default({}) %}
  {%include "view_picker.html" %}

  <div id="double-scroll" class="ui scrollable">

  <table class="ui sortable single line celled table" style="margin-top: 3em;">
    <thead>
      <tr>
        <th></th>
        <th> Name {{ show_hint('#Name', 'Login/Setup name') }}    </th>
        <th> Host {{ show_hint('#Host', 'Host name') }}    </th>
        <th> Account {{ show_hint('#Account', 'Account name') }} </th>
        <th> Setup (The entire shell command must be a single line.) {{ show_hint('#Setup', 'Shell commands to set up login environment for running campaign stage<br>') }}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in data.templates %}
      <tr>
        <td class="collapsing">
          {% if data.authorized[loop.index-1]==True %}
          <i class="large edit link blue icon"  onclick="edit_template({{loop.index}});"></i>
          <i class="large copy link blue icon"  onclick="edit_template({{loop.index}},'CLONE');"></i>
          <i class="large trash link blue icon" onclick="delete_template('{{row.LoginSetup.name}}'); "></i>
          {% else %}
          <i class="disabled large edit link blue icon"></i>
          <i class="large copy link blue icon"  onclick="edit_template({{loop.index}},'CLONE');"></i>
          <i class="disabled large trash link blue icon"></i>

          {% endif %}
        </td>
        <td id="ldf_authorized_{{loop.index}}" style="display:none">{{data.authorized[loop.index-1]}}</td>
        <td id="ldf_launch_id_{{loop.index}}" style="display:none;">{{row.LoginSetup.login_setup_id}}</td>
        <td id="ldf_name_{{loop.index}}">{{row.LoginSetup.name}}</td>
        <td id="ldf_launch_host_{{loop.index}}">{{row.LoginSetup.launch_host}}</td>
        <td id="ldf_launch_account_{{loop.index}}">{{row.LoginSetup.launch_account}}</td>
        <td id="ldf_launch_setup_{{loop.index}}">{{row.LoginSetup.launch_setup|e}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">
          <button class="ui labled teal icon button" onclick="add_template();return false;") {{ 'disabled' if (session_role=='superuser') }}>
            <i class="icon add square"></i>
            Add
          </button>
        </th>
      </tr>
    </tfoot>
  </table>
  </div> <!-- double-scroll -->
  {% endif %}
  <input type="hidden" id="action" name="action" value="find">
</form>

<div class="ui modal" id="confirm_modal">
  <i class="close icon"></i>
  <div class="header">
    Delete Login/Setup
  </div>
  <div class="image content">
    <div class="image">
      <i class="delete icon"></i>
    </div>
    <div class="description">
      <div class="ui header"><label id="confirm_modal_message">Message Goes Here</label></div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui buttons">
      <button class="ui red deny button">
        No
      </button>
      <button id="approved_btn" class="ui teal approve button">
        <i class="checkmark icon"></i>
        Yes
      </button>
    </div>
  </div>
</div> <!-- Ends confirm_modal -->

<div class="ui modal" id="template_add_edit_modal">
  <i class="close icon"></i>
  <h3 class="block header"><span id="template_header">
    Login/Setup Editor </span> {% include 'help_button.html' %} 
  </h3>
  <div class="ui hidden divider"></div>
  <div class="ui text container">
  <form id="template_add_edit_form" class="ui form" method="POST" action="login_setup_edit">
    <div class="three fields">
      <div class="field">
        <label>Name {{ show_hint('#Name', 'CampaignStage name') }}</label>
        <input type="text" id="ae_launch_name" name="ae_launch_name" placeholder="Template Name">
      </div>
      <div class="field">
        <label>Host {{ show_hint('#Host', 'Host name') }}</label>
        <input type="text" id="ae_launch_host" name="ae_launch_host" placeholder="Launch Host" 
            {{ 'value="{{hostname}}" readonly' if (session_role=='analysis') }}
         >
      </div>
      <div class="field">
        <label>Account {{ show_hint('#Account', 'Account name') }}</label>
        <input type="text" id="ae_launch_account" name="ae_launch_account" placeholder="Launch Account"

            {{ 'value="poms_launcher" readonly' if (session_role=='analysis') }}
        >
      </div>
    </div>
    <div class="one field">
      <div class="field">
        <label>Setup {{ show_hint('#Setup', 'Shell commands to set up campaign environment<br>') }}</label>
        <textarea id="ae_launch_setup" name="ae_launch_setup" placeholder="Launch Setup"></textarea>
      </div>
    </div>
    <div class="actions">
      <div class="ui button deny red">Cancel</div>
      <input type="submit" value="Save" id="ae_submit" class="ui button teal" {{ 'disabled' if (data.authorized==False) }}/>
      <input type="submit" value="Test" name="test_template" id="ae_test" class="ui button orange" {{ 'disabled' if (data.authorized==False) }}/>
    </div>
    <input type="hidden" name="experiment" id="ae_experiment" value="{{data.curr_experiment}}">
    <input type="hidden" name="action" id="ae_launch_action" value="add">
    <input type="hidden" id="ae_experimenter_id" name="experimenter_id" value="{{current_experimenter.experimenter_id|default('unknown')}}">
    <input type="hidden" id="ae_launch_id" name="ae_launch_id" value="0">
  </form>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends template_add_edit_modal -->

<script>

$('#template_add_edit_form')
  .form({
    inline: true,
    fields: {
      ae_launch_name      : {rules: [{type: 'empty',prompt: 'field cannot be blank'}]},
      ae_launch_host      : {rules: [{type: 'regExp',
                                      value: /{{session_experiment|replace('samdev','.*')}}/i,
                                      prompt: 'Please enter a hostname with {{session_experiment}} in it'
                                      },
                                     {type: 'empty', prompt: 'field cannot be blank'}]},
      ae_launch_account   : {rules: [{type: 'empty', prompt: 'field cannot be blank'}]},
      ae_launch_setup     : {rules: [{type: 'empty', prompt: 'field cannot be blank'}]}
    }
  })
;

/*
$("#experiment").change(function() {
    $("#login_setup_form").submit();
  });
*/

  function delete_template(template) {
    $("#confirm_modal_message").text("Delete the login/setup named " + template + " ?")
    mod_form = $("#confirm_modal").modal({
    closable  : false,
    onApprove : function(){
      $("#action").val('delete');
      $("<input>").attr({'type':'hidden','name': 'ae_launch_name', 'value': template}).appendTo("#login_setup_form");
      $("#login_setup_form").submit();
    },
    }).modal('show');
  }

  function edit_template(index, clone) {
    login_setup_id = $("#ldf_launch_id_"+index).text()
    name = $("#ldf_name_"+index).text()
    launch_host = $("#ldf_launch_host_"+index).text()
    launch_account = $("#ldf_launch_account_"+index).text()
    launch_setup = $("#ldf_launch_setup_"+index).text()
    if (typeof clone === 'undefined') {
      $("#ae_launch_action").val("edit");
      $("#ae_launch_name").val(name)
    } else {
      $("#ae_launch_action").val("add");
      $("#ae_launch_name").val("CLONE OF: " + name)
    }
    $("#template_header").text("Login/Setup Editor ({{ data.curr_experiment if data.curr_experiment is defined}})");
    $("#ae_launch_id").val(login_setup_id);
    $("#ae_launch_host").val(launch_host);
    $("#ae_launch_account").val(launch_account);
    $("#ae_launch_setup").val(launch_setup);
    $("#template_add_edit_modal").modal({}).modal('show');
    if ( typeof clone === 'undefined' )
    {
      $("#ae_submit").prop("value","Save");
      if ( ($("#c_authorized_"+index).text() == "False") ) {
	$("#ae_submit").prop("disabled",true);
      } else {
	$("#ae_submit").prop("disabled",false);
      }
    } else {
      $("#ae_submit").prop("value","Clone");
      $("#ae_submit").prop("disabled",false);
    }
  }

  function add_template() {
    $("#template_add_edit_modal").form('reset');
    $("#template_header").text("Login/Setup Editor ({{ data.curr_experiment if data.curr_experiment is defined}})");
    $("#ae_experiment").val("{{ data.curr_experiment if data.curr_experiment is defined}}");
    $("#template_add_edit_modal").modal({}).modal('show');
  }

$(document).ready(function(){
  if ("{{ data.message }}" != "None") {
    $("#poms_message_data").text("{{ data.message }}");
    $("#display_message_modal").modal('show');
  }
});

$('.ui.dropdown')
  .dropdown()
;

  $(document).ready(function(){
    $('#double-scroll').doubleScroll();
  });
</script>


{%endblock%}
