{%extends "base.html" %}


{%block mobile_menuitems %}
    <div class="item">
	<i class="certificate icon"></i>
	<a href=""><b>POMS</b></a>
    </div>
    
    <a class="item" href="dashboard.html">
	<b>Dashboard</b>
    </a>
    
    <a class="item" href="requests.html">
	<b>Requests</b>
    </a>
    
    <div class="item">
	<div class="header">Jobs</div>
	<div class="menu">
	    <a class="item" href="all.html">
		All
	    </a>
	    <a class="item" href="analysis.html">
		Analysis
	    </a>
	    <a class="item" href="production.html">
		Production
	    </a>
	    <a class="item" href="batch.html">
		Batch
	    </a>
	</div>
    </div>
    
    
    <div class="item">
	<div class="header">Output Datasets</div>
	<div class="menu">
	    <a class="item" href="all.html">
		All
	    </a>
	    <a class="item" href="completed.html">
		Completed
	    </a>
	    <a class="item" href="not_completed.html">
		Not Completed
	    </a>
	    <a class="item" href="running.html">
		Running
	    </a>
	</div>
    </div>
    
    <a class="item" href="/poms/admin_screen">DB Admin</a>
{%endblock%}

{%block big_menuitems %}
   <div class="item">
   <!--  
	<a class="ui logo icon image" href="">
	    <img src="/poms/static/images/logo.png">
	</a>
    -->
	<a href="">
	  <i class="certificate icon"></i>
	  <b>POMS</b>
	</a>
    </div>
    
    <a class="item" href="dashboard.html">
	<b>Dashboard</b>
    </a>
    
    <a class="item" href="requests.html">
	<b>Requests</b>
    </a>
    
    <div class="item">
	<div class="header">Jobs</div>
	<div class="menu">
	    
	    <a class="item" href="all.html">
		All
	    </a>
	    
	    <a class="item" href="Analasys.html">
		Analasys
	    </a>
	    
	    <a class="item" href="production.html">
		Production
	    </a>
	    
	    <a class="item" href="batch.html">
		Batch
	    </a>
	</div>
    </div>
    
    <div class="item">
	<div class="header">Output Datasets</div>
	<div class="menu">
	    
	    <a class="item" href="all.html">
		All
	    </a>
	    
	    <a class="item" href="completed.html">
		Completed
	    </a>
	    
	    <a class="item" href="not_completed.html">
		Not Completed
	    </a>
	    
	    <a class="item" href="running.html">
		Running
	    </a>
	</div>
    </div>
    <a class="item" href="/poms/admin_screen">DB Admin</a>
{%endblock%}

