{%extends "layout.html"%}

{%block title%}
    <title>POMS DB Admin</title>
{%endblock%}

{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top:-45px;">
  <a href= "{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">Raw Tables</div>
</div>
{%endblock%}





{%block header%}
<h1 class="ui header">
     DB Admin{%include 'help_button.html'%}
    <div class="sub header">
        update database tables directly
    </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">Data Types:</h2>
{%endblock%}




{%block content%}
<ul>
   {% for type in list %}
    <li> <a href="{{pomspath}}/list_generic?classname={{type}}">{{type}}</a> </li>
   {% endfor %}
</ul>
{%endblock%}
