{%extends "layout.html"%}

{%block title%}
POMS:Campaign Stage {{c.name}} Scheduled Launches
{%endblock%}

{%block header%}
<h1 class="ui header">
     Campaign Stage Launch Schedule{%include 'help_button.html'%}
</h1>
{%endblock%}


{%block content%}
  <h4>Current Crontab Entry</h4>
  <div class="ui raised segment">
    {{job}}
  </div>
  <h4>Update Entry form</h4>
  <form class="ui form raised segment" action="update_launch_schedule" method="GET">

   <input type="hidden" name="campaign_id" value="{{campaign_id}}">

   <div class=field>
    <label>  Minutes(s) of the hour:</label>
    <input type="text" name="minlist" value="{{job.minutes if job.minutes else '1'}}">
  </div>
  <div class=field>
    <label>Hour(s) of day:</label>
    <input type="text" name="hourlist" width=2 value="{{job.hours if job.hours else '*'}}">
  </div>
  <div class="grouped fields">
    <label>Day(s) of week: </label> <p>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="*" type="hidden" {%if job.dow == '*' %}checked{%endif%}><label>Any</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="sun" type="hidden" {%if 'sun' in job.dow|string %}checked{%endif%}><label>Sunday</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="mon" type="hidden" {%if 'mon' in job.dow|string %}checked{%endif%}><label>Monday</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="tue" type="hidden" {%if 'tue' in job.dow|string %}checked{%endif%}><label>Tuseday</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="wed" type="hidden" {%if 'wed' in job.dow|string %}checked{%endif%} {%if '0' in job.dow %}checked{%endif%}><label>Wednesday</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="thu" type="hidden" {%if 'thu' in job.dow|string %}checked{%endif%}><label>Thursday</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="fri" type="hidden" {%if 'fri' in job.dow|string %}checked{%endif%}><label>Friday</label></div>
    <div class="ui checkbox"><input type="checkbox" name="dowlist" value="sat" type="hidden" {%if 'sat' in job.dow|string %}checked{%endif%}><label>Saturday</label></div>
    <p>
  </div>
  <div class=field>
    <label>Day(s) of Month:</label>
    <input name="domlist" width=2 value="{{job.dom if job.dom else '*'}}">
  </div>
  <button class="ui button" type="submit" name="submit" value="submit">Submit</button>
  <button class="ui button" type="submit" name="delete" value="delete">Delete</button>
 </form>
</div>

   <h3>Recent Launch Outputs </h3>
   <ul>
   {%for f in launch_flist%}
      <li>
      <a href="list_launch_file?campaign_id={{campaign_id}}&fname={{f}}">{{f}}</a>
   {%endfor%}
   </ul>
{%endblock%}
