{%extends "layout.html" %}

{%block title%}
POMS Campaign Query Results
{%endblock%}

{%block header%}
<h1 class="ui header">
         Campaign Query Results {%include 'help_button.html'%}
</h1>
{%endblock%}
{%block subheader%}
Search Term: {{search_term}}
{%endblock%}

{%block content %}
<div class="ui hidden divider"></div>
<table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="">Campaign Name</th>
      <th class="">Campaign Stage name</th>
    </tr>
  </thead>

  <tbody>
  {% for row in results %}
  <tr>
      <td>{{row.Campaign.tag_name}}</td>
      <td><a href="{{pomspath}}/campaign_info?campaign_stage_id={{row.campaign_stage_id}}">{{row.CampaignStage.name}}</a></td>
  </tr>
  {% endfor %}

  </tbody>


</table>






{%endblock%}
