{%extends "layout.html" %}

{%block title%}
POMS Tag Query Results
{%endblock%}

{%block header%}
<h1 class="ui header">
         Tag Query Results {%include 'help_button.html'%}

          <div class="sub header">
              view all Campaign Stagess belonging to this Tag/Campaign
          </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">Tag Query Results: {% for item in q_list %} <div class="ui blue label">{{item}}</div> {% endfor %}</h2>
{%endblock%}



{%block content %}
<table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="">Campaign Stage Name</th>
      <th class="">Experiment</th>
    </tr>
  </thead>



  <tbody>

  {% for row in results %}
  <tr>
      <td><a href="{{pomspath}}/campaign_info?campaign_id={{row.campaign_id}}">{{row.name}}</a></td>
      <td>{{row.experiment}}</td>
  </tr>
  {% endfor %}

  </tbody>


</table>






{%endblock%}
