{%extends "layout.html" %}

{%block title%}
POMS Service Downtimes
{%endblock%}


{%block header%}
<h1 class="ui header">
         Service Downtimes {%include 'help_button.html'%}

          <div class="sub header">
              view and sort all downtimes
          </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">Service Downtimes:</h2>
{%endblock%}



{%block content %}




<table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="">Service Name</th>
      <th class="">Downtime Started</th>
      <th class="">Downtime Ended</th>
    </tr>
  </thead>



  <tbody>

  {% for row in rows %}
  <tr>
      <td>{{row.Service.name}}</td>
      <td>{{row.ServiceDowntime.downtime_started}}</td>
      <td>{{row.ServiceDowntime.downtime_ended}}</td>
  </tr>
  {% endfor %}

  </tbody>


</table>



{%endblock%}
