{%- if depth==0 -%}
	<div class="ui accordion styled">
{% endif %}

{% for s in dbqueryService %}
	<div class="title %s">
		<i class="dropdown icon"></i>
		<button class="ui button %s tbox_delayed" data-content="%s" data-variation="basic">
			%s (%d/%d)
			<i class="icon %s"></i>
		</button>
	</div>


	{%- if s.host_site -%}
		
		<div  class="content %s">
			<a target="_blank" href="%s">
			<i class="icon external"></i>
			source webpage
			</a>
		</div>

	{% else %}

	<div class="content %s">
		<p>components:</p>
		%s
	</div>

	{% endif %}
{% endfor %}

{%- if depth==0 -%}
        <div class="ui accordion styled">
{% endif %}
