{%extends "layout.html"%}

{%block title%}
    <title>POMS</title>
{%endblock%}


{%block breadcrumbs%}
{%endblock%}




{%block header%}
<h1 class="ui header">
    Dashboard                                 
    <div class="sub header">
        See everything up and running in real time
    </div>
</h1>
{%endblock%}






{%block subheader%}
<h2 class="ui dividing header">Services</h2>
{%endblock%}



{%block content%}
	
	<!--<button class="ui button">Component(failed/total)<i class="link help circle icon"></i></button>-->
<div class="ui black label">
  Component &nbsp; (failed/total) <i class="link help circle icon"></i>
</div>
<br/>
<br/>

	   {{services}} 

{%endblock%}
