<html>
<head>
   <style type="text/css">
      body: {background: #dddddd; }
      h1    {text-align: center; }
      table {border: 1px solid black; border-collapse: collapse; }
      th    {border: 1px solid black; border-collapse: collapse; padding: 5px; }
      td    {border: 1px solid black; border-collapse: collapse; padding: 5px; }
      span.unknown { color: #777777; }
      span.good   { color: #00ff00; }
      span.bad    { color: #ff0000; }
      ul.nb     { list-style: none }
   </style>
   <!-- refresh every 5 minutes... -->
   <meta http-equiv="refresh" content="300">
</head>
<body >
  <!--
  {{list}}
  -->
  <h2> Status for {{name}} services</h2>
  <ul class='nb'>
  {% for service_triple in list %}
    <li> <a href="{{service_triple.url}}"> <span class="{{service_triple.status}}" title="{{service_triple.status}}">&#x273a;</span> {{service_triple.name}}</a>
  {% endfor %}
  <ul>
</body>
</html>
