{%extends "layout.html" %}

{%block title%}
Files for dimension...
{%endblock%}

{%block header%}
<h1 class="ui header">
         Files for Dimension{%include 'help_button.html'%}
</h1>
{%endblock%}



{%block subheader%}
{%endblock%}


{%block content %}
Files for dimension <pre>
{{dims}}
</pre>
Count: {{flist|length}}
<br>

<div class="ui raised padded text container segment">
<div class="ui list">
{% for f in flist %}
<div class="item"> <a href="https://samweb.fnal.gov:8483/sam/{{session_experiment}}/api/files/name/{{f}}/metadata">{{f}}</a>  <br>
</div>
{%endfor%}
</div>

{%endblock%}
