{%extends "layout.html" %}

{%block title%}
<title>POMS Campaign Overview</title>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js"></script>
<script type="text/javascript">
	function confirm_call(msg, url, icon = null) {
	   var r = confirm(msg);
	   if ( r ) {
		   if (icon != null){
			   $(icon).attr("disabled", true);
			   $(icon).children('i').eq(0).addClass("spinner");
			   $(icon).children('i').eq(0).addClass("loading");
		   }
		   location.assign(url)
	   }
	}
    function stop_watching(elem, campaign_id) {
        var formdata = {'campaign_id': campaign_id, "selected": false};
        $.ajax({
            url: "{{pomspath}}/stop_watching/{{session_experiment}}/{{session_role}}",
            type: 'GET',
            data: formdata,
            success: function(data){
                location.reload();
            }
        });
    }
</script>
<style>
	th {
		position: sticky;
		top: 0px;;  /* 0px if you don't have a navbar, but something is required */
	}
    hrule{
        border: 1px black;
        border-radius: 5px;
    }
    .close{
        float:right;
    }
    .close:hover {
        font-size:110%;
        color: red;
        cursor: pointer;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css">

{%endblock%}
{%block header%}
<h1 class="ui header">
          Watching
</h1>
{%endblock%}

{%block content %}
    {% for i in range(svgdata|length) %}

        {% if i == 0 or i%2 == 0 %}
        <div class="ui horizontal segments" style="max-height: 85%;" >
        {% endif %}

            <div class="ui segment raised" style="max-width:50%;">
                <h3><a href="{{pomspath}}/campaign_overview/{{session_experiment}}/{{session_role}}?campaign_id={{campaigns[i].campaign_id}}" target="_blank">{{campaigns[i].name}}</a> <span class="ui label">{{campaigns[i].campaign_id}}</span><i class="close icon" title="Stop watching" onclick="stop_watching(this, '{{campaigns[i].campaign_id}}')"></i></h3>
                <br/>
                <hrule>
                    {{svgdata[i]|safe}}
            </div>

        {% if (i+1)%2 == 0 and i!=0 %}
        </div>
        {% elif i == svgdata|length %}
        </div>
        {% endif %}
    {% endfor %}
    
{% endblock %}


