{%extends "layout.html"%}

{%block title%}
    <title>POMS: Campaign Tags for {{experiment}} </title>
{%endblock%}


{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="section">Campaign Tags for {{experiment}}</div>
</div>
{%endblock%}


{%block header%}
<h1 class="ui header">
    POMS: Campaign Tags for {{experiment}} 
</h1>
{%endblock%}



{%block subheader%}
&nbsp;
{%endblock%}


{%block content%}

<div>
Campaign Tags:
<ul>
{% for t in tl %}
<li> <a href="{{pomspath}}/campaign_deps?tag={{t.tag_name}}">{{t.tag_name}}</a>
{% endfor %}
</ul>

{%endblock%}
