{%extends "layout.html"%}

{% macro show_hint(anchor, hint) %}
    {% include 'help_button.html' %}
{% endmacro %}

{%block title%}
    POMS: Campaigns for {{experiment}}
{%endblock%}

{%block header%}
Campaigns
{%endblock%}

{%block subheader%}
&nbsp;
{%endblock%}

{%block content%}
<div>
    <table id="campaign_table" class="ui celled _table unstackable tablesorter tablesorter-ice">
        <thead>
            <tr>
                <th>Campaign Name </th>
                <th>Submissions Running</th>
                <th data-sorter="false" data-filter="false">Submissions</th>
                <th data-sorter="false" data-filter="false">Dependencies</th>
                <th data-sorter="false" data-filter="false">Edit Workflow</th>
                <th data-sorter="false" data-filter="false">Clone Workflow</th>
                <th data-sorter="false" data-filter="false">Workflow .ini</th>
            </tr>
        </thead>
        <tbody>
        {% for s in tl|sort(attribute='tag_name') %}
            <tr>
                <td>{{s.tag_name}}</td>
                <td>Submissions Running</td>
                <td>
                    <a href="{{pomspath}}/campaign_time_bars?tag={{s.tag_name}}&tdays=7&tmax={{last_activity}}">
                        <button type="button">
                        <i class="submissions icon"></i>Submissions
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{pomspath}}/campaign_deps?tag={{s.tag_name}}">
                        <button type="button">
                            <i class="sitemap icon"></i>Dependencies
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{pomspath}}/gui_wf_edit?campaign={{s.tag_name}}">
                        <button type="button">
                            <i class="file icon"></i>Edit Workflow
                        </button>
                    </a>
                </td>
                <td>
                        <button type="button">
                            <i class="copy icon" onclick="clone_template(1, 'test');"></i>Clone Workflow
                        </button>
                </td>
                <td>
                    <a href="{{pomspath}}/campaign_deps_ini?tag={{s.tag_name}}">
                        <button type="button">
                            <i class="file icon"></i>Workflow ini
                        </button>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

<div class="ui modal" id="template_clone_modal">
  <i class="close icon"></i>
  <h3 class="block header"><span id="template_header">
      Clone Workflow </span> {{ show_hint('', 'Clone Workflow') }}
  </h3>
  <div class="ui hidden divider"></div>
  <div class="ui text container">
    <form id="template_clone_form" class="ui form" method="POST" action="workflow_clone">
      <div class="two fields">
        <div class="field">
          <label>Existing Workflow Name</label>
          <input type="text" id="cl_campaign_name" name="cl_campaign_name">
        </div>
        <div class="field">
          <label>New Workflow Name</label>
          <input type="text" id="cl_new_campaign_name" name="cl_new_campaign_name">
        </div>
      <div class="actions">
        <div class="ui button deny red">Cancel</div>
        <input type="submit" value="Save" id="cl_submit" class="ui button teal" />
      </div>
      <input type="hidden" id="cl_campaign_id" name="cl_campaign_id" value="0">
    </form>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends template_clone_modal -->

<script>
$(document).ready(function() {
    $('#campaign_table').tablesorter( {
        widgets : [ 'filter', 'saveSort' ],
        widgetOptions : {filter_reset: '.reset', saveSort: true},
        //dateFormat : "yyyymmdd"
        });
});

$('#campaign_table')
.bind('filterInit', function() {
    // check that storage ulility is loaded
    if ($.tablesorter.storage) {
        // get saved filters
        var f = $.tablesorter.storage(this, 'tablesorter-filters') || [];
        $(this).trigger('search', [f]);
    }
})
.bind('filterEnd', function(){
    if ($.tablesorter.storage) {
        // save current filters
        var f = $(this).find('.tablesorter-filter').map(function() {
            return $(this).val() || '';
        }).get();
        $.tablesorter.storage(this, 'tablesorter-filters', f);
    }
});

function clone_template(campaign_id, campaign_name) {
    $("#cl_campaign_id").val(campaign_id);
    $("#cl_campaign_name").val(campaign_name);
    $("#template_clone_modal").modal({}).modal('show');
}


</script>


{%endblock%}
