{%extends "layout.html"%}

{%block title%}
POMS:{{In}}Active Campaign Stages
{%endblock%}

{%block header%}
{{In}}Active Campaign Stages{%include 'help_button.html'%}
{%endblock%}

{%block content%}

  {%set column_heads = ['All','Idle','Running','Held','Total Completed','Completed', 'Located', 'Removed', 'efficiency', 'pending' ] %}

  <div id="double-scroll" class="ui scrollable">

   <table class="ui celled table unstackable">
     <tr>
       <th colspan = 5></th>
       <th colspan = 4>Jobs in  {{time_range_string}}</th>
     </tr>
     <tr>
       <th colspan=1 align="center"> Campaign Stage
        <a target="_help" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Campaign"><i style="float: none" class="grey help circle link icon"></i></a>
      </th>
      <th>Total</th>
      <th colspan=3 align="center">Active Jobs </th>
      <th colspan=3 align="center">Completed </th>
      <th colspan=1 align="center"></th>
      <th colspan=2 align="center">Stats</th>
     </tr>
     <tr>
        <!-- <th>Experiment </th> -->
        <th>Name </th>
        <th>All</th>
        <th>Idle
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Running
        <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Held
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Total
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Not Located
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Located
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Removed
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>%Efficiency
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
        <th>Pending
          <a target="_blank" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#Job"><i style="float: none" class="grey help circle link icon"></i></a>
        </th>
     </tr>

     {# for c in cl if not c.experiment_obj.restricted or current_experimenter.is_authorized(c.experiment) #}
     {# for c in cl if not c.experiment_obj.restricted or c.experiment in current_experimenter.extra.selected #}
     {% for c in cl if current_experimenter.extra and c.experiment in current_experimenter.extra.selected %}
     {% set outer_loop = loop %}
            <tr>
            <!-- <td>{{c.experiment}}</td> -->
            <!-- c.experiment_obj.restricted: {{c.experiment_obj.restricted}} -->
            <!-- current_experimenter.is_authorized(c.experiment): {{current_experimenter.is_authorized(c.experiment)}} -->
            <!-- c.experiment in current_experimenter.extra.selected {{c.experiment in current_experimenter.extra.selected}}-->
            <td> <a href="{{pomspath}}/campaign_info?campaign_id={{c.campaign_id}}">{{c.name}}</a></td>
            {% for k in column_heads  %}

              {% if k == "efficiency" %}
                <td>
                  <a href="{{pomspath}}/jobs_eff_histo?campaign_id={{c.campaign_id}}&tmin={{tmins}}&tmax={{tmaxs}}&tdays={{tdays}}" id="data_{{c.campaign_id}}_{{k}}">
                      ...
                  </a>
                </td>
              {% elif k == "pending" %}
                <td>
                  <a href="{{pomspath}}/actual_pending_files_for?campaign_id={{c.campaign_id}}&tmin={{tmins}}&tmax={{tmaxs}}&tdays={{tdays}}" id="data_{{c.campaign_id}}_{{k}}">
                     ...
                  </a>
                </td>
              {% elif k %}
                <td>
                  <a href="{{pomspath}}/job_table?campaign_id={{c.campaign_id}}&job_status={{k}}&tmin={{tmins}}&tmax={{tmaxs}}&tdays={{tdays}}" id="data_{{c.campaign_id}}_{{k|replace(" ","_")}}">
                     ...
                  </a>
                 </td>
               {%endif%}
            {% endfor %}
         </tr>

     {% endfor %}

    </table>
  </div>

<script>
var tmin_local_time = moment.utc('{{tmin}}').toDate();
tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmin" ).html( tmin_local_time );

var tmax_local_time = moment.utc('{{tmax}}').toDate();
tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
$( ".tmax" ).html( tmax_local_time );

</script>

<!-- now some JSON callbacks to get our 
      * job counts for each campaign,
      * efficiency for all the campaigns
      * pending counts for all the campaigns
-->

<script>
$(function() {

var now = new Date()
var nows = now.getTime()
nows = nows - (nows % 300000)
nows = nows.toString()

{% for c in cl %}
$.getJSON("/poms/json_job_counts?tmin={{tmins}}&tmax={{tmaxs}}&campaign_id={{c.campaign_id}}&uuid="+nows,function(data){
    for( var k in data ) {
       id = "data_{{c.campaign_id}}_" + k.replace(" ","_")
       console.log("trying to update a with id " + id )
       $("a#"+id).html(data[k])
    }
})
{% endfor %}
$.getJSON("/poms/json_efficiency_for_campaigns?tmin={{tmins}}&tmax={{tmaxs}}&cl={%for c in cl%}{{c.campaign_id}},{%endfor%}&uuid="+nows, function(data){
    for( var k in data ) {
       id = "data_"+k+"_efficiency"
       console.log("trying to update a with id " + id )
       $("a#"+id).html(data[k])
    }
})
$.getJSON("/poms/json_pending_for_campaigns?tmin={{tmins}}&tmax={{tmaxs}}&cl={%for c in cl%}{{c.campaign_id}},{%endfor%}&uuid="+nows, function(data){
    for( var k in data ) {
       id = "data_"+k+"_pending"
       console.log("trying to update a with id " + id )
       $("a#"+id).html(data[k])
    }
})
});
</script>

<script>
$('.external')
  .popup({
    inline   : true,
    hoverable: true,
    delay: {
      show: 300,
      hide: 80
    }
  })
;
$('.ui.dropdown')
  .dropdown()
;
</script>


<script>
   $(function() {
       $('#global_datepicker_container').show();
   });

   $(document).ready(function(){
     $('#double-scroll').doubleScroll();
   });
</script>

{%endblock%}
