{%extends "layout.html"%}

{%block title%}
POMS:Selected Campaign Stages
{%endblock%}

{%block header%}
Selected Campaign Stages{%include 'help_button.html'%}
{%endblock%}

{%block content%}

  {%set column_heads = ['All','Idle','Running','Held','Total Completed','Completed', 'Located', 'Removed', 'Failed', 'efficiency', 'pending'] %}

  <div id="double-scroll" class="ui _scrollable">

   <table id="campaign_stages" class="ui celled _table unstackable tablesorter tablesorter-ice">
    <thead>
        <tr>
            <th colspan=1 align="center" data-sorter="false" data-filter="false"> Campaign Stage
                <a target="_help" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#CampaignStage"><i style="float: none" class="grey help circle link icon"></i></a>
            </th>
            <th data-sorter="false" data-filter="false">Total</th>
            <th colspan=3 align="center" data-sorter="false" data-filter="false">Active Jobs </th>
            <th colspan=2 align="center" data-sorter="false" data-filter="false">Stats</th>
        </tr>
    </thead>
    <tbody>
     {% for cs in campaign_stages %}
     {% set outer_loop = loop %}
            <tr>
            <td> <a href="{{pomspath}}/campaign_info?campaign_stage_id={{cs.campaign_stage_id}}">{{cs.name}}</a></td>

            <td>

<iframe scrolling="no" style="width: 38%; min-width: 25em; height: 17em; overflow: hidden !important;" src="https://fifemon.fnal.gov/monitor/d-solo/otZRzhImk/poms-campaign?theme=light&from=1528821895839&to=1531413895839&var-campaign={{cs.campaign_stage_id}}&orgId=1&panelId=2" frameborder="0"></iframe>
            </td>
            <td>
<iframe scrolling="no" style="width: 29%; min-width: 10em; height: 17em; overflow: hidden !important;"  src="https://fifemon.fnal.gov/monitor/d-solo/otZRzhImk/poms-campaign?theme=light&from=1528821927234&to=1531413927234&var-campaign={{cs.campaign_stage_id}}&orgId=1&panelId=18"frameborder="0"></iframe>
            </td>
            <td>
<iframe  scrolling="no" style="width: 29%; min-width: 10em; height: 17em; overflow: hidden !important;" src="https://fifemon.fnal.gov/monitor/d-solo/otZRzhImk/poms-campaign?theme=light&from=1528821946299&to=1531413946300&var-campaign={{cs.campaign_stage_id}}&orgId=1&panelId=12" frameborder="0"></iframe>
            </td>
         </tr>
     {% endfor %}
    </tbody>
    </table>
  </div>

<script>
    var tmin_local_time = moment.utc('{{tmin}}').toDate();
    tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
    $( ".tmin" ).html( tmin_local_time );

    var tmax_local_time = moment.utc('{{tmax}}').toDate();
    tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
    $( ".tmax" ).html( tmax_local_time );

</script>

<!-- now some JSON callbacks to get our
      * job counts for each campaign,
      * efficiency for all the campaign_stages
      * pending counts for all the campaign_stages
-->

<script>
    $(function() {

        var now = new Date()
        var nows = now.getTime()
        nows = nows - (nows % 300000)
        nows = nows.toString()

        {% for campaign in campaign_stages %}
        $.getJSON("/poms/json_job_counts?tmin={{tmins}}&tmax={{tmaxs}}&campaign_stage_id={{campaign.campaign_stage_id}}&uuid="+nows,function(data){
            for( var k in data ) {
               id = "data_{{campaign.campaign_stage_id}}_" + k.replace(" ","_")
               console.log("trying to update a with id " + id )
               $("a#"+id).html(data[k])
            }
        })
        {% endfor %}
        $.getJSON("/poms/json_efficiency_for_campaigns?tmin={{tmins}}&tmax={{tmaxs}}&cl={{ campaign_stages | join(',', attribute='campaign_stage_id') }}&uuid="+nows, function(data) {
            for (var k in data) {
               id = "data_"+k+"_efficiency"
               console.log("trying to update a with id " + id )
               $("a#"+id).html(data[k])
            }
        })
        $.getJSON("/poms/json_pending_for_campaigns?tmin={{tmins}}&tmax={{tmaxs}}&cl={{ campaign_stages | join(',', attribute='campaign_stage_id') }}&uuid="+nows, function(data) {
            for (var k in data) {
               id = "data_"+k+"_pending"
               console.log("trying to update a with id " + id )
               if (data[k] == -1) {
                   $("a#"+id).html('N/A')
               } else {
                   $("a#"+id).html(data[k])
               }
            }
        })
    });
</script>

<script>
    $('.external')
      .popup({
        inline   : true,
        hoverable: true,
        delay: {
          show: 300,
          hide: 80
        }
      })
    ;
    $('.ui.dropdown')
      .dropdown()
    ;
</script>


<script>
   $(function() {
       $('#global_datepicker_container').show();
   });

   $(document).ready(function() {
    $('#double-scroll').doubleScroll();
    $('#campaign_stages').tablesorter( {
        widgets : [ 'filter', 'saveSort' ],
        widgetOptions : {filter_reset: '.reset', saveSort: true},
        //dateFormat : "yyyymmdd"
        });
});

$('#campaign_stages')
.bind('filterInit', function() {
    // check that storage ulility is loaded
    if ($.tablesorter.storage) {
        // get saved filters
        var f = $.tablesorter.storage(this, 'tablesorter-filters') || [];
        $(this).trigger('search', [f]);
    }
})
.bind('filterEnd', function(){
    if ($.tablesorter.storage) {
        // save current filters
        var f = $(this).find('.tablesorter-filter').map(function() {
            return $(this).val() || '';
        }).get();
        $.tablesorter.storage(this, 'tablesorter-filters', f);
    }
});

</script>

{%endblock%}
