{%extends "layout.html"%}

{% macro show_hint(anchor, hint) %}
    {% include 'help_button.html' %}
{% endmacro %}

{%block title%}
    POMS: Campaigns for {{experiment}}
{%endblock%}

{%block header%}
Campaigns
{%endblock%}

{%block subheader%}
&nbsp;
{%endblock%}

{%block content%}
<div>
    <table id="campaign_table" class="ui celled _table unstackable tablesorter tablesorter-ice">
        <thead>
            <tr>
                <th>Campaign Name </th>
                <th>Submissions Running</th>
                <th data-sorter="false" data-filter="false">Submissions</th>
                <th data-sorter="false" data-filter="false">Dependencies</th>
                <th data-sorter="false" data-filter="false">Edit Workflow</th>
                <th data-sorter="false" data-filter="false">Clone Workflow</th>
                <th data-sorter="false" data-filter="false">Workflow .ini</th>
                <th data-sorter="false" data-filter="false">Delete Campaign</th>
            </tr>
        </thead>
        <tbody>
        {% for s in tl|sort(attribute='tag_name') %}
            <tr id="row_{{s.campaign_id}}" name="row_{{s.campaign_id}}">
                <td>{{s.tag_name}}</td>
                <td>Submissions Running</td>
                <td>
                    <a href="{{pomspath}}/campaign_time_bars?tag={{s.tag_name}}&tdays=7&tmax={{last_activity}}">
                        <button type="button">
                        <i class="submissions icon"></i>Submissions
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{pomspath}}/campaign_deps?tag={{s.tag_name}}">
                        <button type="button">
                            <i class="sitemap icon"></i>Dependencies
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{pomspath}}/gui_wf_edit?campaign={{s.tag_name}}">
                        <button type="button">
                            <i class="file icon"></i>Edit Workflow
                        </button>
                    </a>
                </td>
                <td>
                    <button type="button" onclick="clone_template('{{s.tag_name}}');">
                        <i class="copy blue icon"></i>Clone Workflow
                    </button>
                </td>
                <td>
                    <a href="{{pomspath}}/campaign_deps_ini?tag={{s.tag_name}}">
                        <button type="button">
                            <i class="file icon"></i>Workflow ini
                        </button>
                    </a>
                </td>
                <td>
                    <button type="button">
                        <i class="trash blue icon" onclick="delete_campaign('{{s.tag_name}}', {{s.campaign_id}});"></i>
                    </button>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

<div class="ui modal" id="template_clone_modal">
  <i class="close icon"></i>
  <h3 class="block header"><span id="template_header">
      Clone Workflow </span> {{ show_hint('', 'Clone Workflow') }}
  </h3>
  <div class="ui hidden divider"></div>
  <div class="ui text container">
    <form id="template_clone_form" class="ui form" method="GET" action="{{pomspath}}/gui_wf_edit?">
      <div class="two fields">
        <div class="field">
          <label>Existing Workflow Name</label>
          <input type="text" id="from" name="from" readonly>
        </div>
        <div class="field">
          <label>Clone Workflow Name</label>
          <input type="text" id="to" name="to">
        </div>
      </div>
      <div class="actions">
        <div class="ui button deny red">Cancel</div>
        <input type="submit" id="clone" name="clone" value="Clone" class="ui button teal" />
      </div>
      <input type="hidden" id="campaign" name="campaign">
    </form>
  </div>
  <div class="ui hidden divider"></div>
</div> <!-- Ends template_clone_modal -->

<div class="ui modal" id="delete_campaign_modal">
    <i class="close icon"></i>
    <h3 class="block header"><span id="template_header">
        Delete Campaign </span> {{ show_hint('', 'Delete Campaign') }}
    </h3>
    <div class="ui hidden divider"></div>
    <div class="ui text container">
        <div class="ui ignored warning message">
                    <p>
                        This will delete all stages of the campaign shown below.
                        It will not delete job types or login setups.
                        Deletions will <b>not</b> occurr if the campaign has been submitted.
                    </p>
        </div>
        <form id="delete_campaign_form" class="ui form" method="GET" action="{{pomspath}}/show_campaigns">
            <div class="one field">
                <div class="field">
                    <label>Campaign to Delete</label>
                    <input type="text" id="del_campaign_name" name="del_campaign_name" readonly>
                </div>
            </div>
            <div class="actions">
                <div class="ui button deny green">Cancel</div>
                <input type="submit" value="Delete" class="ui button red" />
            </div>
            <input type="hidden" id="del_campaign_id" name="del_campaign_id">
            <input type="hidden" id="action" name="action" value="delete">
        </form>
    </div>
    <div class="ui hidden divider"></div>
  </div> <!-- Ends template_clone_modal -->


<script>
$(document).ready(function() {
    $('#campaign_table').tablesorter( {
        widgets : [ 'filter', 'saveSort' ],
        widgetOptions : {filter_reset: '.reset', saveSort: true},
        //dateFormat : "yyyymmdd"
        });

    if ('{{msg}}' != 'OK') {
        $("#poms_message_data").text('{{msg}}');
        $("#display_message_modal").modal('show');
    }
});

$('#campaign_table')
.bind('filterInit', function() {
    // check that storage ulility is loaded
    if ($.tablesorter.storage) {
        // get saved filters
        var f = $.tablesorter.storage(this, 'tablesorter-filters') || [];
        $(this).trigger('search', [f]);
    }
})
.bind('filterEnd', function(){
    if ($.tablesorter.storage) {
        // save current filters
        var f = $(this).find('.tablesorter-filter').map(function() {
            return $(this).val() || '';
        }).get();
        $.tablesorter.storage(this, 'tablesorter-filters', f);
    }
});

function clone_template(campaign_name) {
    $("#campaign").val(campaign_name);
    $("#from").val(campaign_name)
    $("#template_clone_modal").modal({}).modal('show');
}

function delete_campaign(del_campaign_name, del_campaign_id) {
    $("#del_campaign_name").val(del_campaign_name);
    $("#del_campaign_id").val(del_campaign_id);
    $("#delete_campaign_modal").modal({}).modal('show');
}

$('#template_clone_form')
  .form({
    inline: true,
    fields: {
      to      : {rules: [{type: 'empty',prompt: 'field cannot be blank'}]},
    }
  })
;

</script>


{%endblock%}
