{%extends "layout.html"%}

{%block title%}
POMS:Selected Campaign Stages
{%endblock%}

{%block header%}
Selected Campaign Stages{%include 'help_button.html'%}
{%endblock%}

{%block content%}

  {%set column_heads = ['All','Idle','Running','Held','Total Completed','Completed', 'Located', 'Removed', 'Failed', 'efficiency', 'pending'] %}

  <div id="double-scroll" class="ui _scrollable">

   <table id="campaign_stages" class="ui celled _table unstackable tablesorter tablesorter-ice">
    <thead>
        <tr>
            <th colspan=1 align="center" data-sorter="false" data-filter="false"> Campaign Stage
                <a target="_help" href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/Glossary#CampaignStage"><i style="float: none" class="grey help circle link icon"></i></a>
            </th>
            <th data-sorter="false" data-filter="false">Total</th>
            <th align="center" data-sorter="false" data-filter="false">Active Jobs </th>
            <th align="center" data-sorter="false" data-filter="false">Stats</th>
        </tr>
    </thead>
    <tbody>
     {% for cs in campaign_stages %}
     {% set outer_loop = loop %}
            <tr>
            <td> <a href="{{pomspath}}/campaign_stage_info/{{experiment}}/{{role}}?campaign_stage_id={{cs.campaign_stage_id}}">{{cs.name}}</a></td>

            <td>

<iframe scrolling="no" style="width: 100%; min-width: 25em; height: 10em; overflow: hidden !important;" src="https://fifemon.fnal.gov/monitor/d-solo/otZRzhImk/poms-campaign?theme=light&from=now-30d&to=now&var-campaign={{cs.campaign_stage_id}}&orgId=1&panelId=2" frameborder="0"></iframe>
            </td>
            <td>
<iframe scrolling="no" style="width: 100%; min-width: 10em; height: 10em; overflow: hidden !important;"  src="https://fifemon.fnal.gov/monitor/d-solo/otZRzhImk/poms-campaign?theme=light&from=now-30d&to=now&var-campaign={{cs.campaign_stage_id}}&orgId=1&panelId=18"frameborder="0"></iframe>
            </td>
            <td>
<iframe  scrolling="no" style="width: 100%; min-width: 10em; height: 10em; overflow: hidden !important;" src="https://fifemon.fnal.gov/monitor/d-solo/otZRzhImk/poms-campaign?theme=light&from=now-30d&to=now&var-campaign={{cs.campaign_stage_id}}&orgId=1&panelId=12" frameborder="0"></iframe>
            </td>
         </tr>
     {% endfor %}
    </tbody>
    </table>
  </div>

<script>
    var tmin_local_time = moment.utc('{{tmin}}').toDate();
    tmin_local_time = moment(tmin_local_time).format('YYYY-MM-DD HH:mm');
    $( ".tmin" ).html( tmin_local_time );

    var tmax_local_time = moment.utc('{{tmax}}').toDate();
    tmax_local_time = moment(tmax_local_time).format('YYYY-MM-DD HH:mm');
    $( ".tmax" ).html( tmax_local_time );

</script>

<script>
    $('.external')
      .popup({
        inline   : true,
        hoverable: true,
        delay: {
          show: 300,
          hide: 80
        }
      })
    ;
    $('.ui.dropdown')
      .dropdown()
    ;
</script>

{%endblock%}
