{%extends "layout.html"%}

{%block title%}
    POMS: Campaigns for {{experiment}}
{%endblock%}


{%block header%}
Campaigns
{%endblock%}

{%block subheader%}
&nbsp;
{%endblock%}


{%block content%}

<div>

<ul>
{% for s in tl|sort(attribute='tag_name') %}
<li style="margin-top: 0.5em;" id="li_tag_{{s.campaign_id}}"> <span class="ui blue tag label">{{s.tag_name}}</span>
    <button type="button">
    <i class="trash blue icon poms_tag" id="tag_{{s.campaign_id}}" style="border-radius: 5px;"></i>
    </button>

   <a href="{{pomspath}}/campaign_deps?tag={{s.tag_name}}">
   <button type="button">
    <i class="sitemap icon"></i>Dependencies
    </button>
   </a>
   <a href="{{pomspath}}/campaign_deps_ini?tag={{s.tag_name}}">
   <button type="button">
   <i class="file icon"></i>Workflow_ini file
   </button>
   </a>
   <a href="{{pomspath}}/campaign_time_bars?tag={{s.tag_name}}&tdays=7&tmax={{last_activity}}">
    <button type="button">
    <i class="submissions icon"></i>Submissions
    </button>
   </a>
   <a href="{{pomspath}}/gui_wf_edit?campaign={{s.tag_name}}">
   <button type="button">
    <i class="pencil icon"></i>Edit Workflow
    </button>
   </a>
   <form style="border:1px solid black; margin: 5px; width: 50%;"  method="GET" action={{pomspath}}/gui_wf_edit?">
      <input type="hidden" name="campaign" value="{{s.tag_name}}">
      <input type="submit" name="clone" value="Clone">
      replacing: <input name="from">
      with: <input name="to">
    </form>
{% endfor %}
</ul>

<script>
function add_click_handler() {
   $(".poms_tag").off("click").on("click", function(){
            if (confirm("Are you sure you want to completely delete this tag?") == true) {
               do_delete(this);
            } else {
              return;
            }
        });
}

function do_delete(item) {
    var t_id = item.id.split("_")[1];
    $.post("delete_tag_entirely", {campaign_id: t_id}, function(data) {
            if(data.msg == "OK") {
                $('#response').html(data.msg);
                $('#li_tag_'+t_id).remove();  //removes the line associated
            } else {
                $('#response').html(data.msg);
            }
        },'json');
}
$( document ).ready(function() {
   add_click_handler();
});
</script>

{%endblock%}
