{%extends "layout.html" %}

{%block title%}
    <title>POMS Job Triage</title>
{%endblock%}

{%block breadcrumbs%}
<div class="ui breadcrumb" style="margin-top: -45px;">
  <a href="{{pomspath}}/" class="section">Home</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_campaigns/" class="section">Campaigns</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/campaign_time_bars/campaign_id=?{{job_info.Campaign.campaign_id}}" class="section">Campaign {{job_info.Campaign.name}}</a>
  <div class="divider"> / </div>
  <a href="{{pomspath}}/show_task_jobs?task_id={{job_info.Job.task_id}}&tmin={{tmin}}" class="section">Jobs in Submission {{task_jobsub_jobid}}</a>
  <div class="divider"> / </div>
  <div class="section">Triage job {{job_info.Job.jobsub_job_id}}</div>
</div>
{%endblock%}






{%block header%}
<h1 class="ui header">
         Job Triage{%include 'help_button.html'%}
                    
          <div class="sub header">
              triage your jobs
         </div>
</h1>
{%endblock%}




{%block subheader%}
<h2 class="ui dividing header">Job Triage:</h2>
{%endblock%}



{%block content %}





<table class="ui celled table">
  <thead>
    <tr>
      <th>Status</th>
      <th>CPU Efficiency</th>
      <th>Host Site</th>
      <th>Node Name</th>
      <th>CPU</th>
      <th>Jobsub_Job_ID</th>
      <th>Task ID</th>
      <th>Usr Exe Exit Code</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td {% if job_info.Job.status == "Completed" %} class="positive">  <i class="icon checkmark"></i>  {% else %} >  {% endif %}      {{job_info.Job.status}}</td>
      <td>{{efficiency}}{% if efficiency != None %}%{%endif%}</td>
      <td>{{job_info.Job.host_site}}</td>
      <td>{{job_info.Job.node_name}}</td>
      <td>{{job_info.Job.cpu_type}}</td>
      <td>{{job_info.Job.jobsub_job_id}}</td>
      <td>{{job_info.Job.task_id}}</td>
      <td>{{job_info.Job.user_exe_exit_code}}</td>
      <td>{{job_info.Job.updated}}</td>
    </tr>


  </tbody>
</table>



{% if job_info.Task.project is not none %}
<h4 class="ui horizontal divider header">
      <i class="linkify icon"></i>
      SAM Project
</h4>
<a target="_blank" href="http://samweb.fnal.gov:8480/station_monitor/{{job_info.Campaign.experiment}}/stations/{{job_info.Campaign.experiment}}/projects/{{job_info.Task.project}}">http://samweb.fnal.gov:8480/station_monitor/{{job_info.Campaign.experiment}}/stations/{{job_info.Campaign.experiment}}/projects/{{job_info.Task.project}}</a>
{% endif %}




<!--<h2 class="ui dividing header">Logs:</h2>-->

<h4 class="ui horizontal divider header">
      <i class="file outline icon"></i>
      Logs
</h4>

<button onclick="location.href='{{pomspath}}/triage_job?job_id={{job_id}}&tmin={{tmin}}&force_reload=True';" class="ui button">Refetch &nbsp;&nbsp;&nbsp;<i class="refresh icon"></i></button>
<br/>
<br/>



{% set jobsub_job_id_digits = job_info.Job.jobsub_job_id.split('@')[0] %}



{% for item in job_file_list %}

{% if item.find(jobsub_job_id_digits) > -1 %}
<mark> <a href="{{pomspath}}/job_file_contents?job_id={{job_id}}&task_id={{job_info.Job.task_id}}&tmin={{tmin}}&file={{item}}">{{ item }}</a> </mark>
<br/>
{% else %}
<a href="{{pomspath}}/job_file_contents?job_id={{job_id}}&task_id={{job_info.Job.task_id}}&tmin={{tmin}}&file={{item}}">{{ item }}</a>
<br/>
{% endif %}


{% endfor %}














<!--<h2 class="ui dividing header">General Job Info:</h2>-->

<h4 class="ui horizontal divider header">
      <i class="bar chart icon"></i>
      General Specifications
</h4>

<table class="ui definition table">
    <tbody>
      <tr>
        <td class="three wide">Experiment</td>
        <td>
          <p>{{job_info.Campaign.experiment}}</p>
        </td>
      </tr>
      
      <tr>
        <td>Campaign</td>
        <td>
          <p>{{job_info.Campaign.name}}</p>
        </td>
      </tr>
      <tr>
        <td>Command Executed</td>
        <td>
          <p>{{job_info.Task.command_executed}}</p>
        </td>
      </tr>
      <tr>
        <td>Task Def Name</td>
        <td>
          <p>{{job_info.CampaignDefinition.name}}</p>
        </td>
      </tr>
      <tr>
        <td>Task Status</td>
        <td>
          <p>{{job_info.Task.status}}</p>
        </td>
      </tr>
      <tr>
        <td>VO Role</td>
        <td>
          <p>{{job_info.Campaign.vo_role}}</p>
        </td>
      </tr>
    </tbody>
  </table>






<h4 class="ui horizontal divider header">
      <i class="history icon"></i>
      History
</h4>










<table class="ui very basic collapsing celled table">
        <tbody>
          <tr>
            <td class="six wide">Event</td>
            <td class="six wide">Timestamp</td>
          </tr>
          {% for item in job_history %}
          <tr>
            <td><code>{{item.status}}</code></td>
            <td>{{item.created}}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>








{% if downtimes %}
<h4 class="ui horizontal divider header">
      <i class="warning sign icon"></i>
      Downtimes
</h4>




<table class="ui very basic collapsing celled table">
        <tbody>
          <tr>
            <td class="six wide">Service</td>
            <td class="six wide">Downtime Started</td>
            <td class="six wide">Downtime Ended</td>
          </tr>
          {% for item in downtimes %}
          <tr>
            <td><code>{{item.Service.name}}</code></td>
            <td>{{item.ServiceDowntime.downtime_started}}</td>
            <td>{{item.ServiceDowntime.downtime_ended}}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>
{% endif %}






{% if output_file_names_list %}
<h4 class="ui horizontal divider header">
      <i class="file outline icon"></i>
      Output File Names
</h4>
{%for item in output_file_names_list%}
{{item}}
<br/>
{% endfor %}
{% endif %}

















<h4 class="ui horizontal divider header">
      <i class="lightning icon"></i>
      Condor Event Logs
</h4>


        <style>
        .hid {
            display: none;
            background-color: #efefef;
        }

        th, td {
            padding: 3px 5px 5px 5px;
        }

        .toggler
        {
            cursor:pointer;
        }
        </style>



        <script>
            $( document ).ready(function() {
                        $(".toggler").click(function(){
                                $(this).closest('tr').next('tr').toggle();

                                if ( $(this).text() == "+" )
                                {
                                    $(this).text("-");
                                }
                                else
                                {
                                    $(this).text("+");
                                }
                        });  //ends click handler
            });  //ends dom ready
        </script>



                <table class="ui celled striped table">


                    <thead>
                        <tr>
                            <th width="1%"></th>
                            <th><span>Time</span></th>
                            <th><span>Event</span></th>
                        </tr>
                    </thead>



                    <tbody>  <!-- root tbody-->

                    {% for record in es_response.get('hits').get('hits') %}
                    {% set record_meat = record.get('_source') %}
                        <!--item-->
                        <tr>
                            <td class="toggler">+</td>
                            <td width="30%">{{record_meat.get("@timestamp")}}</td>
                            <td>{{record_meat.get("event_message")}}</td>
                        </tr>


                        <tr class="hid">
                            <td colspan="3">
                                <table>
                                    <tbody>
                                        {% for key, value in record_meat.iteritems() %}
                                        <tr>
                                            <td><b>{{ key|e }}</b></td>
                                            <td width="1%" style="display:none;"></td>
                                            <td>{{ value|e }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!--ends item-->
                    {% endfor %}



                    </tbody>  <!--ends root tbody-->

                </table>  <!--ends root table-->

<small>{{es_response.get('hits').get('total')}} records in {{es_response.get('took')}} ms</small>



{%endblock%}
