<html>
  <head>
    <title>401 Unauthorized</title>
    <style>
        .center-div
            {
              margin: 0 auto;
              width: 650px;
            }
    </style>
  </head>
  <body bgcolor="white">
    <div class="center-div">
        <h1>401 Unauthorized</h1>
        %(message)s
        <p>
        If your account is not authorized to use POMS, to get access, do the following:
        <br>
        <ul>
          <li>Open the webpage to <a href="https://fermi.service-now.com/wp" target="_blank">SNOW</a> and login.</li>
          <li>Select the tile "Request Something".</li>
          <li>Select the tile "Experiment/Project/Collaboration Computing Account".</li>
          <li>Choose your experiment.</li>
          <li>Choose the role "Production" or "Analysis".</li>
        </ul>
        Please do <b>not</b> fill out an incident or request to POMS as access must be granted by your experiment.
        <br><br>
        For more information refer to
        <a href="https://cdcvs.fnal.gov/redmine/projects/prod_mgmt_db/wiki/POMS_User_Documentation#Getting-access-New-Experiments-New-Accounts-Users-and-Roles" target="_blank">POMS: Getting Started</a>
    </div>
  </body>
</html>
