<html>
  <head>
    <title>401 Unauthorized</title>
    <style>
        .center-div
            {
              margin: 0 auto;
              width: 650px;
            }
    </style>
  </head>
  <body bgcolor="white">
    <div class="center-div">
        <h1>401 Unauthorized</h1>
        %(message)s
        <p>
        If your account is not authorized to use POMS, to get access, do the following:
        <br>
        <ul>
          <li>Open the webpage to <a href="{{servicenow}}/wp" target="_blank">SNOW</a> and login.</li>
          <li>Select the tile "Request Something".</li>
          <li>Select the tile "Experiment/Project/Collaboration Computing Account".</li>
          <li>Choose your experiment.</li>
          <li>Choose the role "Production" or "Analysis" (production shifters require "analysis" role only).</li>
          <li>Production shifters only: request your experiment's production team to mark you as a shifter in POMS.</li>
        </ul>
        Please do <b>not</b> fill out an incident or request to POMS as access must be granted by your experiment.
        <br><br>
        For more information refer to
        <a href="{{docspath}}/user_documentation#getting-access-new-experiments-new-accounts-users-and-roles" target="_blank">POMS: Getting Started</a>
    </div>
  </body>
</html>
