
[MESSAGES CONTROL]
disable=R0201

[FORMAT]
indent-after-paren=4
indent-string='    '
max-line-length=256
max-module-lines=3000

[DESIGN]
max-locals=30
max-args=20
max-branches=40
min-public-methods=1
max-statements=200

[BASIC]
argument-naming-style=snake_case
class-naming-style=PascalCase
function-naming-style=snake_case
module-naming-style=PascalCase

good-names=i,
           j,
           k,
           ex,
           q,
           sq,
           s,
           _
